.section-footer {
    position: relative;
    padding: 30px 0 20px 0;
    @include background-image('features-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $clr-white;
    z-index: $z-index-9;
}

.s_footer {
    display: grid;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    grid-gap: 20px;
    @include media-breakpoint-up(md) {
        grid-template-columns: 55px 1fr;
        grid-gap: 10px 30px;
    }
    @include media-breakpoint-up(lg) {
        grid-template-columns: 65px 2fr 1fr;
        grid-gap: 15px 30px;
    }
    @include media-breakpoint-up(xl) {
        grid-gap: 20px 30px;
        grid-template-columns: 100px 3fr 1fr;
    }
    @include media-breakpoint-up(xg) {
        grid-gap: 20px 60px;
    }
    &--logo {
        @include media-breakpoint-down(sm) {
            display: none;
        }
        @include media-breakpoint-up(md) {
            grid-row: span 4;
        }
        @include media-breakpoint-up(lg) {
            grid-row: span 3;
        }
        @include media-breakpoint-up(xl) {
            align-self: center;
        }
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    &__nav {
        @extend .clear-list;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        @include media-breakpoint-down(sm) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 15px;
        }
        @include media-breakpoint-up(md) {
            display: flex;
            white-space: nowrap;
        }
        @include media-breakpoint-only(md) {
            justify-content: space-between;
        }
        @include media-breakpoint-up(lg) {
            grid-column: span 2;
        }
        &--item {
            &:not(:last-child) {
                // @include media-breakpoint-up(md) {
                //     margin-right: 20px;
                // }
                @include media-breakpoint-up(lg) {
                    margin-right: 30px;
                }
            }
        }
        &--link {
            @include shift();
            color: $clr-white;
            &:hover {
                color: $clr-brown;
            }
        }
    }
    &__contact {
        &--link {
            text-transform: unset;
            font-size: 14px;
            line-height: 14px;
            &:not(:last-child) {
                margin-right: 30px;
                @include media-breakpoint-up(xg) {
                    margin-right: 100px;
                }
            }
        }
    }
    &__social {
        display: flex;
        align-items: center;
        @include media-breakpoint-up(lg) {
            justify-content: flex-end;
        }
        i {
            font-size: 16px;
            @include media-breakpoint-up(xl) {
                font-size: 20px;
            }
        }
        &--title {

        }
        &--link {
            margin-left: 15px;
        }
    }
    &__copyring {
        color: $clr-gray;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: normal;
        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }
}
