.s_header {
    height: 45px;
    min-height: 45px;
    display: grid;
    grid-template-columns: 60px 1fr;
    @include media-breakpoint-up(md) {
        height: 60px;
        min-height: 60px;
        grid-template-columns: 80px 1fr;

    }
    @include media-breakpoint-up(lg) {
        grid-template-columns: 130px 1fr;
        padding-left: 45px;
        height: 80px;
        min-height: 80px;
    }
    @include media-breakpoint-up(xl) {
        grid-template-columns: 120px 1fr;
    }
    @include media-breakpoint-up(xg) {
        grid-template-columns: 150px 1fr;
        height: 100px;
        min-height: 100px;
    }
    &__wrap {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        @extend .line-container;
    }
    &__content {
        @include media-breakpoint-up(md) {
            height: calc(100% - 60px);
        }
        @include media-breakpoint-up(lg) {
            height: calc(100% - 80px);
        }
        @include media-breakpoint-up(xg) {
            height: calc(100% - 100px);
        }
    }
    &--logo {
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-up(lg) {
            padding-right: 15px;
        }
        img {
            width: 100%;
        }
    }
    &__social {
        position: absolute;
        bottom: 30px;
        left: 15px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: scale(-1);
        display: flex;
        @include media-breakpoint-down(md) {
            display: none;
        }
        a {
            color: $clr-white;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: normal;
            @include shift();
            &:hover {
                color: $clr-brown;
            }
            @include media-breakpoint-up(xg) {
                font-size: 16px;
            }
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
    &__nav {
        @include media-breakpoint-down(md) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $clr-black-light;
            z-index: $z-index-10;
            @include shift();
            opacity: 0;
            visibility: hidden;
            transform: translateX(100%);
            &.--show {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
            }
        }
        &-wrap {
            height: 100%;
            @include media-breakpoint-down(md) {
                position: relative;
                padding-top: 85px;
                padding-bottom: 50px;
            }
            @include media-breakpoint-up(lg) {
                max-width: unset;
                padding-left: 0;
                padding-right: 0;
            }
        }
        @include media-breakpoint-up(lg) {
            &--logo,
            &--close,
            &--social,
            &--menu {
                display: none;
            }
        }
        @include media-breakpoint-down(md) {
            &--menu {
                font-size: 24px;
                color: $clr-white;
                position: absolute;
                top: 10px;
                right: 15px;
            }
            &--logo {
                position: absolute;
                top: 15px;
                left: 15px;
                width: 80px;
                img {
                    width: 100%;
                }
            }
            &--close {
                position: absolute;
                top: 25px;
                right: 15px;
                color: $clr-white;
                @include media-breakpoint-down(sm) {
                    right: 0px;
                    top: 20px;
                }
            }
            &--social {
                position: absolute;
                bottom: 15px;
                right: 15px;
                display: flex;
                flex-flow: column nowrap;
                a {
                    color: $clr-white;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: normal;
                    &:not(:last-child) {
                        margin-bottom: 50px;
                        @include media-breakpoint-down(sm) {
                            margin-bottom: 35px;
                        }
                    }
                    &:hover {
                        color: $clr-white;
                    }
                }
            }
        }
        &-list {
            height: 100%;
            @extend .clear-list;
            display: flex;
            @include media-breakpoint-down(md) {
                flex-flow: column nowrap;
                // justify-content: space-between;
            }
            @include media-breakpoint-up(lg) {
                justify-content: flex-end;
                border-bottom: 1px solid $clr-border;
                margin-right: -15px;
                padding-right: 15px;
            }
            &--item {
                @include media-breakpoint-up(lg) {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
                &:not(:last-child) {
                    @include media-breakpoint-down(md) {
                        margin-bottom: 35px;
                        @include media-breakpoint-down(sm) {
                            margin-bottom: 25px;
                        }
                    }
                    @include media-breakpoint-up(lg) {
                        margin-right: 20px;
                        @include media-breakpoint-up(xl) {
                            margin-right: 30px;
                        }
                    }
                }
            }
            &--link {
                position: relative;
                color: $clr-white;
                @include media-breakpoint-down(md) {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 24px;
                    @include media-breakpoint-down(sm) {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
                @include media-breakpoint-up(lg) {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: normal;
                }
                @include media-breakpoint-up(xg) {
                    font-size: 16px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 10%;
                    left: 0;
                    bottom: -5px;
                    height: 2px;
                    background-color: $clr-white;
                    @include shift();
                    opacity: 0;
                    visibility: hidden;
                }
                &:hover {
                    color: $clr-white;
                    @include media-breakpoint-up(lg) {
                        &::after {
                            width: 90%;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                &.--current {
                    color: $clr-white;
                    &:after {
                        width: 90%;
                        opacity: 1;
                        visibility: visible;
                        background-color: $clr-brown;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    body.js_menu-open {
        overflow: hidden;
        .section-poster-content {
            position: relative;
            z-index: 1;
        }
    }
}