/*!  
    -----------------
    Front-End: E.A. Gableev - t.me/albka 
    Pug.js + SCSS + CSS3 Mixins + Bootstrap 4.1.3 Mixins
    -----------------
    v0.1 | 30/04/2019
!*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
------------------------------------------------------------- */
.clear-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }

.clear-button {
  outline: none !important;
  border: none;
  padding: 0; }

.shadow-button {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); }

.line-block-t-r::after, .line-block-b-l::before {
  content: '';
  position: absolute;
  width: 294px;
  height: 129px;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1; }

.line-block-t-r::after {
  top: -15px;
  right: -30px;
  background-image: url("../img/line-t-r.png"); }

.line-block-b-l::before {
  bottom: -20px;
  left: -30px;
  background-image: url("../img/line-b-l.png"); }

@media (min-width: 768px) {
  .line-container, .line-container-pseudo, .s_a-features, .s_a-hall, .s_a-command {
    border-left: 1px solid rgba(187, 187, 187, 0.2);
    border-right: 1px solid rgba(187, 187, 187, 0.2); } }
  @media (min-width: 768px) and (min-width: 992px) {
    .line-container--wrap::after, .line-container-pseudo::after, .line-container--wrap::before, .line-container-pseudo::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      border-left: 1px solid rgba(187, 187, 187, 0.2);
      z-index: 1; }
    .line-container--wrap::before, .line-container-pseudo::before {
      left: 50px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 992px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 190px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 180px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1700px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 210px; } }

.line-container-pseudo {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1; }
  @media (max-width: 767.98px) {
    .line-container-pseudo {
      display: none !important; } }
  .line-container-pseudo + div {
    z-index: 2; }

.section-promo {
  position: relative;
  height: 100vh;
  overflow: hidden;
  min-height: 500px;
  max-height: 1100px; }

.sections-about-wrap {
  background-image: url("../img/promo-about-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.c_command-card {
  position: relative;
  padding-left: 22px; }
  @media (min-width: 1200px) {
    .c_command-card {
      padding-left: 35px; } }
  @media (min-width: 1700px) {
    .c_command-card {
      padding-left: 50px; } }
  .c_command-card::before {
    content: attr(data-prof);
    position: absolute;
    bottom: 30%;
    left: 0;
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    color: #BBBBBB;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    font-size: 18px;
    line-height: 18px; }
    @media (min-width: 1200px) {
      .c_command-card::before {
        left: 3px;
        font-size: 24px;
        line-height: 24px; } }
    @media (min-width: 1700px) {
      .c_command-card::before {
        left: 5px;
        font-size: 32px;
        line-height: 32px; } }
  .c_command-card__imagebox {
    height: 230px; }
    @media (min-width: 768px) {
      .c_command-card__imagebox {
        height: 310px; } }
    @media (min-width: 1200px) {
      .c_command-card__imagebox {
        height: 350px; } }
    @media (min-width: 1700px) {
      .c_command-card__imagebox {
        height: 440px; } }
    .c_command-card__imagebox img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .c_command-card--name {
    margin-top: 20px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px; }
    @media (min-width: 1700px) {
      .c_command-card--name {
        margin-top: 25px;
        font-size: 20px;
        line-height: 20px; } }
  .c_command-card--desc {
    margin-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #BBBBBB;
    overflow: hidden;
    max-height: 66px; }
    @media (min-width: 1700px) {
      .c_command-card--desc {
        margin-top: 15px;
        max-height: 72px;
        font-size: 16px;
        line-height: 24px; } }

.c_modal-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  z-index: 1200;
  display: grid;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .c_modal-page.--show {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1); }
  @media (max-width: 767.98px) {
    .c_modal-page {
      grid-template-rows: repeat(2, 1fr); } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .c_modal-page {
      grid-template-rows: repeat(2, 1fr); } }
  @media (min-width: 992px) {
    .c_modal-page {
      grid-template-columns: repeat(2, 1fr);
      min-height: 600px; } }
  .c_modal-page--return {
    position: absolute;
    top: 75px;
    right: 40px; }
    @media (max-width: 991.98px) {
      .c_modal-page--return {
        display: none; } }
  .c_modal-page--close {
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 2;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: #FFF;
    font-weight: bold;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    @media (min-width: 768px) {
      .c_modal-page--close {
        background-color: rgba(0, 0, 0, 0.5);
        top: 40px;
        right: 40px; } }
    @media (min-width: 1700px) {
      .c_modal-page--close {
        width: 50px;
        height: 50px;
        top: 60px;
        right: 60px; } }
    .c_modal-page--close:hover {
      color: #BB906A !important;
      background-color: rgba(0, 0, 0, 0.4); }
  .c_modal-page--title {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    margin-top: 5%;
    padding-bottom: 30px; }
    @media (min-width: 1200px) {
      .c_modal-page--title {
        font-size: 38px;
        margin-top: 20%;
        padding-bottom: 30px; } }
  .c_modal-page__content {
    position: relative;
    padding: 90px 15px 30px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }
    @media (min-width: 768px) {
      .c_modal-page__content {
        padding: 140px 40px 80px 40px; } }
    @media (min-width: 992px) {
      .c_modal-page__content {
        padding: 150px 110px 40px 40px; } }
    @media (min-width: 1700px) {
      .c_modal-page__content {
        padding: 170px 210px 60px 60px; } }
  .c_modal-page--logo {
    position: absolute;
    top: 15px;
    left: 15px; }
    @media (min-width: 768px) {
      .c_modal-page--logo {
        top: 40px;
        left: 40px; } }
    @media (min-width: 1700px) {
      .c_modal-page--logo {
        left: 60px; } }
    .c_modal-page--logo img {
      width: 60px; }
      @media (min-width: 992px) {
        .c_modal-page--logo img {
          width: 80px; } }
      @media (min-width: 1700px) {
        .c_modal-page--logo img {
          width: 120px; } }
  .c_modal-page--halltitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #BB906A;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    margin-bottom: 25px; }
    @media (min-width: 768px) {
      .c_modal-page--halltitle {
        margin-bottom: 40px; } }
    @media (min-width: 992px) {
      .c_modal-page--halltitle {
        margin-top: 7vh;
        margin-bottom: 5vh; } }
    .c_modal-page--halltitle i {
      font-size: 24px;
      line-height: 24px; }
      @media (min-width: 1200px) {
        .c_modal-page--halltitle i {
          font-size: 36px;
          line-height: 36px; } }
      @media (min-width: 1700px) {
        .c_modal-page--halltitle i {
          font-size: 50px;
          line-height: 50px; } }
    .c_modal-page--halltitle span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      margin-left: 15px; }
      @media (min-width: 1700px) {
        .c_modal-page--halltitle span {
          margin-left: 15px; } }
  .c_modal-page__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px; }
    @media (min-width: 1700px) {
      .c_modal-page__desc {
        font-size: 16px;
        line-height: 24px; } }
  .c_modal-page__imagebox {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .c_modal-page__imagebox::before {
      content: attr(data-pmodal-imagecaption);
      position: absolute;
      top: 50%;
      left: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      color: rgba(187, 187, 187, 0.5);
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      -webkit-transform: rotate(180deg) translate(110%, 50%);
      transform: rotate(180deg) translate(110%, 50%); }
      @media (min-width: 1700px) {
        .c_modal-page__imagebox::before {
          font-size: 60px;
          line-height: 60px; } }

body.js_pmodal-open {
  overflow: hidden; }

@media (min-width: 768px) {
  .section-about-promo {
    height: 100vh;
    min-height: 620px; } }

.s_a-promo__wrap {
  position: relative; }

.s_a-promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 767.98px) {
    .s_a-promo__content {
      padding-top: 60px;
      padding-bottom: 50px; } }
  @media (min-width: 768px) {
    .s_a-promo__content {
      margin: 0 auto;
      width: 80%; } }
  @media (min-width: 992px) {
    .s_a-promo__content {
      width: 50%; } }

@media (min-width: 768px) {
  .s_a-promo--logo {
    margin-top: -20%; } }

.s_a-promo--logo img {
  width: 210px; }
  @media (min-width: 992px) {
    .s_a-promo--logo img {
      width: 335px; } }

.s_a-promo--text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #FFF; }
  @media (min-width: 1700px) {
    .s_a-promo--text {
      font-size: 16px;
      line-height: 24px; } }
  .s_a-promo--text p:not(:last-child) {
    margin-bottom: 15px; }

.section-about-features {
  overflow: hidden; }

.s_a-features {
  position: relative;
  height: 100%;
  padding-top: 50px; }
  @media (min-width: 992px) {
    .s_a-features {
      padding-top: 100px; } }
  .s_a-features__content {
    position: relative;
    z-index: 2;
    color: #FFF;
    height: 100%;
    padding-bottom: 80px;
    padding-top: 40px; }
    @media (min-width: 992px) {
      .s_a-features__content {
        padding-top: 30px; } }
    @media (min-width: 1200px) {
      .s_a-features__content {
        padding-bottom: 100px;
        padding-top: 60px; } }
    @media (min-width: 1700px) {
      .s_a-features__content {
        margin: 0 100px; } }
    .s_a-features__content::after {
      content: '';
      position: absolute;
      left: -15px;
      right: -15px;
      top: -130px;
      bottom: 0;
      background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      opacity: .6;
      z-index: -1; }
      @media (min-width: 992px) {
        .s_a-features__content::after {
          left: 10%;
          right: 10%; } }
  .s_a-features--title {
    position: relative;
    z-index: 3; }
    @media (max-width: 575.98px) {
      .s_a-features--title {
        width: 80%;
        margin: 0 auto; } }
  .s_a-features-item {
    outline: none;
    position: relative;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 768px) {
      .s_a-features-item {
        grid-gap: 30px;
        width: 70%; } }
    @media (min-width: 992px) {
      .s_a-features-item {
        grid-gap: 40px;
        width: 55%; } }
    @media (min-width: 1200px) {
      .s_a-features-item {
        width: 48%; } }
    @media (min-width: 1700px) {
      .s_a-features-item {
        grid-gap: 55px; } }
    .s_a-features-item:not(:last-child) {
      margin-bottom: 55px; }
      @media (min-width: 1200px) {
        .s_a-features-item:not(:last-child) {
          margin-bottom: 30px; } }
    .s_a-features-item::before {
      content: '';
      position: absolute;
      width: 130px;
      height: 134px;
      border: 1px dashed #BB906A;
      top: 52%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 1; }
      @media (min-width: 1700px) {
        .s_a-features-item::before {
          width: 170px;
          height: 164px; } }
    .s_a-features-item--count {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px; }
      @media (min-width: 1700px) {
        .s_a-features-item--count {
          font-size: 18px; } }
      .s_a-features-item--count span {
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 60px; }
        @media (min-width: 1700px) {
          .s_a-features-item--count span {
            font-size: 80px;
            line-height: 80px;
            margin-bottom: -7px; } }
      .s_a-features-item--count::after, .s_a-features-item--count::before {
        content: '';
        position: absolute;
        left: 50%;
        border-left: 1px dashed #BB906A;
        height: 25px;
        z-index: 1; }
        @media (min-width: 1700px) {
          .s_a-features-item--count::after, .s_a-features-item--count::before {
            height: 30px; } }
      .s_a-features-item--count::after {
        top: -22px; }
        @media (min-width: 1700px) {
          .s_a-features-item--count::after {
            top: -30px; } }
      .s_a-features-item--count::before {
        bottom: -26px; }
        @media (min-width: 1700px) {
          .s_a-features-item--count::before {
            bottom: -35px; } }
    .s_a-features-item--text {
      position: relative;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      z-index: 2; }
      @media (min-width: 1200px) {
        .s_a-features-item--text {
          font-size: 14px;
          line-height: 22px; } }
      @media (min-width: 1700px) {
        .s_a-features-item--text {
          font-size: 16px;
          line-height: 24px; } }
    .s_a-features-item:nth-child(odd)::before {
      left: 50px;
      border-left: none; }
    .s_a-features-item:nth-child(even) {
      margin-left: auto;
      grid-template-columns: 1fr 100px; }
      .s_a-features-item:nth-child(even)::before {
        right: 50px;
        border-right: none; }
    .s_a-features-item:nth-child(even) .s_a-features-item--text {
      text-align: right;
      grid-column: 1;
      grid-row: 1; }
    .s_a-features-item:nth-child(even) .s_a-features-item--count {
      grid-column: 2; }

.s_a-hall {
  padding: 30px 15px 10px 15px;
  position: relative; }
  @media (min-width: 768px) {
    .s_a-hall {
      padding: 30px 15px; } }
  .s_a-hall__content {
    position: relative;
    display: grid;
    z-index: 2; }
    @media (min-width: 768px) {
      .s_a-hall__content {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 992px) {
      .s_a-hall__content {
        grid-template-columns: repeat(4, 1fr); } }
  .s_a-hall-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    border: 1px dashed #BBBBBB;
    padding: 30px 20px 10px;
    background-color: #FFF; }
    @media (max-width: 767.98px) {
      .s_a-hall-card {
        padding: 20px 15px 10px;
        border-bottom: none; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_a-hall-card {
        border-right: none;
        border-bottom: none; } }
    @media (min-width: 992px) {
      .s_a-hall-card {
        border-right: none;
        padding: 20px 20px 10px; } }
    @media (min-width: 1700px) {
      .s_a-hall-card {
        padding: 30px 30px 15px; } }
    .s_a-hall-card--title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #BBBBBB;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
      @media (min-width: 768px) and (max-width: 1699.98px) {
        .s_a-hall-card--title {
          height: 48px; } }
      .s_a-hall-card--title i {
        font-size: 24px;
        line-height: 24px; }
        @media (min-width: 1200px) {
          .s_a-hall-card--title i {
            font-size: 36px;
            line-height: 36px; } }
        @media (min-width: 1700px) {
          .s_a-hall-card--title i {
            font-size: 50px;
            line-height: 50px; } }
      .s_a-hall-card--title span {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-left: 15px; }
        @media (min-width: 1700px) {
          .s_a-hall-card--title span {
            margin-left: 15px; } }
    .s_a-hall-card--desc {
      margin-top: 15px;
      color: #BBBBBB;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px; }
      @media (min-width: 1700px) {
        .s_a-hall-card--desc {
          font-size: 16px;
          line-height: 24px; } }
    .s_a-hall-card--link {
      margin-top: auto;
      margin-left: auto;
      color: #BBBBBB;
      pointer-events: none; }
    @media (max-width: 767.98px) {
      .s_a-hall-card:last-child {
        border-bottom: 1px dashed #BBBBBB; }
      .s_a-hall-card--title, .s_a-hall-card--link {
        color: #BB906A; }
      .s_a-hall-card--desc {
        color: #535353; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_a-hall-card:nth-child(2n+2) {
        border-right: 1px dashed #BBBBBB; }
      .s_a-hall-card:nth-child(4n+3), .s_a-hall-card:last-child {
        border-bottom: 1px dashed #BBBBBB; } }
    @media (min-width: 992px) {
      .s_a-hall-card:last-child {
        border-right: 1px dashed #BBBBBB; }
      .s_a-hall-card:hover {
        cursor: pointer;
        border-color: #BB906A;
        border-right-color: #BB906A; }
        .s_a-hall-card:hover + div {
          border-left-color: #BB906A;
          border-right-color: #BB906A; }
      .s_a-hall-card:hover .s_a-hall-card--title,
      .s_a-hall-card:hover .s_a-hall-card--link {
        color: #BB906A; }
      .s_a-hall-card:hover .s_a-hall-card--desc {
        color: #252425; } }

.s_a-command {
  position: relative;
  padding: 30px 15px 50px 15px; }
  @media (min-width: 992px) {
    .s_a-command {
      padding: 30px 15px 100px 15px; } }
  .s_a-command__content {
    position: relative;
    z-index: 3;
    display: grid;
    grid-gap: 30px; }
    @media (min-width: 768px) {
      .s_a-command__content {
        margin: 0 -15px;
        grid-gap: 25px;
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 992px) {
      .s_a-command__content {
        grid-template-columns: repeat(3, 1fr); } }
    @media (min-width: 1200px) {
      .s_a-command__content {
        grid-gap: 40px 45px; } }

/*# sourceMappingURL=page-about.css.map */
