/*!  
    -----------------
    Front-End: E.A. Gableev - t.me/albka 
    Pug.js + SCSS + CSS3 Mixins + Bootstrap 4.1.3 Mixins
    -----------------
    v0.1 | 30/04/2019
!*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
------------------------------------------------------------- */
.clear-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }

.clear-button {
  outline: none !important;
  border: none;
  padding: 0; }

.shadow-button {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); }

.line-block-t-r::after, .line-block-b-l::before {
  content: '';
  position: absolute;
  width: 294px;
  height: 129px;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1; }

.line-block-t-r::after {
  top: -15px;
  right: -30px;
  background-image: url("../img/line-t-r.png"); }

.line-block-b-l::before {
  bottom: -20px;
  left: -30px;
  background-image: url("../img/line-b-l.png"); }

@media (min-width: 768px) {
  .line-container, .line-container-pseudo, .s_a-courses, .s_a-gallery {
    border-left: 1px solid rgba(187, 187, 187, 0.2);
    border-right: 1px solid rgba(187, 187, 187, 0.2); } }
  @media (min-width: 768px) and (min-width: 992px) {
    .line-container--wrap::after, .line-container-pseudo::after, .line-container--wrap::before, .line-container-pseudo::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      border-left: 1px solid rgba(187, 187, 187, 0.2);
      z-index: 1; }
    .line-container--wrap::before, .line-container-pseudo::before {
      left: 50px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 992px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 190px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 180px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1700px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 210px; } }

.line-container-pseudo {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1; }
  @media (max-width: 767.98px) {
    .line-container-pseudo {
      display: none !important; } }
  .line-container-pseudo + div {
    z-index: 2; }

.section-promo {
  position: relative;
  height: 100vh;
  overflow: hidden;
  min-height: 500px;
  max-height: 1100px; }

.section-academy-promo {
  background-image: url("../img/academy-promo-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    .section-academy-promo {
      height: 100vh;
      min-height: 450px; } }

.s_a-promo__wrap {
  position: relative; }

.s_a-promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #FFF;
  padding: 60px 0; }
  @media (min-width: 768px) {
    .s_a-promo__content {
      padding: 30px; } }
  @media (min-width: 992px) {
    .s_a-promo__content {
      padding: 0 0 0 200px; } }
  @media (min-width: 1700px) {
    .s_a-promo__content {
      padding: 0 0 0 230px; } }

.s_a-promo--title {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: normal; }
  @media (min-width: 768px) {
    .s_a-promo--title {
      font-size: 40px; } }
  @media (min-width: 992px) {
    .s_a-promo--title {
      font-size: 50px; } }
  @media (min-width: 1700px) {
    .s_a-promo--title {
      font-size: 70px; } }

.s_a-promo--subtext {
  margin-top: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: normal; }
  @media (min-width: 768px) {
    .s_a-promo--subtext {
      margin-top: 3%; } }
  @media (min-width: 992px) {
    .s_a-promo--subtext {
      font-size: 18px; } }
  @media (min-width: 1700px) {
    .s_a-promo--subtext {
      font-size: 20px; } }

.s_a-promo--text {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px; }
  @media (min-width: 768px) {
    .s_a-promo--text {
      margin-top: 3%; } }
  @media (min-width: 1700px) {
    .s_a-promo--text {
      font-size: 16px;
      line-height: 24px; } }

@media (min-width: 768px) {
  .s_a-promo--subtext, .s_a-promo--text {
    width: 65%; } }

@media (min-width: 992px) {
  .s_a-promo--subtext, .s_a-promo--text {
    width: 55%; } }

@media (min-width: 1700px) {
  .s_a-promo--subtext, .s_a-promo--text {
    width: 45%; } }

.s_a-courses {
  position: relative;
  padding: 30px 15px; }
  @media (min-width: 768px) {
    .s_a-courses {
      padding: 40px 0; } }
  @media (min-width: 1700px) {
    .s_a-courses {
      padding: 50px 0; } }

.s_a-gallery {
  position: relative;
  padding: 15px 15px 30px 15px; }
  @media (min-width: 768px) {
    .s_a-gallery {
      padding: 40px 0; } }
  @media (min-width: 1700px) {
    .s_a-gallery {
      padding: 50px 0; } }
  .s_a-gallery__head {
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 15px; }
    @media (min-width: 992px) {
      .s_a-gallery__head {
        grid-gap: 30px;
        grid-template-columns: 1fr 2fr; } }
    @media (min-width: 1700px) {
      .s_a-gallery__head {
        grid-template-columns: 3fr 4fr;
        grid-gap: 50px; } }
  .s_a-gallery--title {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 22px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    @media (min-width: 992px) {
      .s_a-gallery--title {
        font-size: 28px; } }
    @media (min-width: 1700px) {
      .s_a-gallery--title {
        font-size: 38px; } }
  .s_a-gallery--text {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    color: #252425;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px; }
    @media (min-width: 1700px) {
      .s_a-gallery--text {
        width: 70%;
        font-size: 16px;
        line-height: 24px; } }
  .s_a-gallery__wrap {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    @media (min-width: 768px) {
      .s_a-gallery__wrap {
        margin-bottom: 50px; } }
    .s_a-gallery__wrap::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.7); }
    .s_a-gallery__wrap .line-container-pseudo {
      z-index: 2;
      pointer-events: none; }
  @media (max-width: 767.98px) {
    .s_a-gallery__inner {
      padding-bottom: 75px; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .s_a-gallery__inner {
      padding: 0 70px 0 0; } }
  @media (min-width: 992px) {
    .s_a-gallery__inner {
      padding: 0 200px 0 0; } }
  @media (min-width: 1700px) {
    .s_a-gallery__inner {
      padding: 0 200px 0 50px; } }
  .s_a-gallery__slider {
    position: relative;
    z-index: 3; }
    .s_a-gallery__slider-item, .s_a-gallery__slider .slick-slide,
    .s_a-gallery__slider .slick-slide > div {
      height: 360px; }
      @media (min-width: 1200px) {
        .s_a-gallery__slider-item, .s_a-gallery__slider .slick-slide,
        .s_a-gallery__slider .slick-slide > div {
          height: 450px; } }
      @media (min-width: 1700px) {
        .s_a-gallery__slider-item, .s_a-gallery__slider .slick-slide,
        .s_a-gallery__slider .slick-slide > div {
          height: 750px; } }
      .s_a-gallery__slider-item img, .s_a-gallery__slider .slick-slide img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .s_a-gallery__slider .slick-list {
      height: 100%; }
    .s_a-gallery__slider .slick-prev, .s_a-gallery__slider .slick-next {
      position: absolute; }
      @media (max-width: 767.98px) {
        .s_a-gallery__slider .slick-prev, .s_a-gallery__slider .slick-next {
          bottom: -55px; } }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .s_a-gallery__slider .slick-prev, .s_a-gallery__slider .slick-next {
          right: -50px; } }
      @media (min-width: 992px) {
        .s_a-gallery__slider .slick-prev, .s_a-gallery__slider .slick-next {
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%); } }
    @media (max-width: 767.98px) {
      .s_a-gallery__slider .slick-prev {
        left: 0; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_a-gallery__slider .slick-prev {
        top: 35%; } }
    @media (min-width: 992px) {
      .s_a-gallery__slider .slick-prev {
        right: -60px; } }
    @media (max-width: 767.98px) {
      .s_a-gallery__slider .slick-next {
        right: 0; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_a-gallery__slider .slick-next {
        bottom: 35%; } }
    @media (min-width: 992px) {
      .s_a-gallery__slider .slick-next {
        right: -180px; } }

.c_command-card {
  position: relative;
  padding-left: 22px; }
  @media (min-width: 1200px) {
    .c_command-card {
      padding-left: 35px; } }
  @media (min-width: 1700px) {
    .c_command-card {
      padding-left: 50px; } }
  .c_command-card::before {
    content: attr(data-prof);
    position: absolute;
    bottom: 30%;
    left: 0;
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    color: #BBBBBB;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    font-size: 18px;
    line-height: 18px; }
    @media (min-width: 1200px) {
      .c_command-card::before {
        left: 3px;
        font-size: 24px;
        line-height: 24px; } }
    @media (min-width: 1700px) {
      .c_command-card::before {
        left: 5px;
        font-size: 32px;
        line-height: 32px; } }
  .c_command-card__imagebox {
    height: 230px; }
    @media (min-width: 768px) {
      .c_command-card__imagebox {
        height: 310px; } }
    @media (min-width: 1200px) {
      .c_command-card__imagebox {
        height: 350px; } }
    @media (min-width: 1700px) {
      .c_command-card__imagebox {
        height: 440px; } }
    .c_command-card__imagebox img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .c_command-card--name {
    margin-top: 20px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px; }
    @media (min-width: 1700px) {
      .c_command-card--name {
        margin-top: 25px;
        font-size: 20px;
        line-height: 20px; } }
  .c_command-card--desc {
    margin-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #BBBBBB;
    overflow: hidden;
    max-height: 66px; }
    @media (min-width: 1700px) {
      .c_command-card--desc {
        margin-top: 15px;
        max-height: 72px;
        font-size: 16px;
        line-height: 24px; } }

/*# sourceMappingURL=page-academy.css.map */
