.section-index-poster {
    position: relative;
   
    @include media-breakpoint-up(xl) {
        &::after,
        &::before {
            content: '';
            position: absolute;
            background-position: left top;
            background-repeat: no-repeat;
            background-size: contain;
            @include shift();
        }
        &::before {
            bottom: 0;
            left: -250px;
            width: 425px;
            height: 425px;
            @include background-image('poster-index_bg-2.png');
            z-index: -1;
            @include media-breakpoint-up(xg) {
                bottom: 30px;
                left: -50px;
            }
            @media (max-width: 1390px) {
                display: none;
            }
        }
        &::after {
            top: -70px;
            right: -150px;
            width: 400px;
            height: 540px;
            @include background-image('poster-index_bg-1.png');
            z-index: 1;
            @include media-breakpoint-up(xg) {
                top: -150px;
                width: 576px;
                height: 772px;
            }
        }
    }
}

.s_i-poster {
    position: relative;
    @extend .line-container;
    padding: 30px 15px;
    @include media-breakpoint-up(lg) {
        padding: 40px 15px;
    }
    @include media-breakpoint-up(xg) {
        padding: 50px 15px;
    }
    &__content {
        display: grid;
        grid-gap: 25px;
        align-items: flex-start;
        @include media-breakpoint-up(md) {
            grid-gap: 20px;
            grid-template-columns: repeat(2,1fr);
        }
        @include media-breakpoint-up(lg) {
            position: relative;
            @include background-image('poster-index-line_bg.jpg');
            background-position: center top;
            background-repeat: no-repeat;
            z-index: 2;
        }
        @include media-breakpoint-only(lg) {
            grid-gap: 0 30px;
        }
        @include media-breakpoint-only(xl) {
            grid-gap: 30px;
            padding-top: 30px;
        }
        @include media-breakpoint-up(xg) {
            grid-gap: 20px 110px;
            padding: 0 50px;
        }
        .c_poster-card {
            @include media-breakpoint-only(lg) {
                &:nth-child(2) {
                    margin-top: 40px;
                   
                }
            }
            @include media-breakpoint-up(xl) {
                &:nth-child(2),
                &:nth-child(3) {
                    .c_poster-card__wrap {
                        &::after,
                        &::before {
                            transform: scaleX(-1);
                        }
                        &::after {
                            right: unset;
                            left: -30px;
                        }
                        &::before {
                            left: unset;
                            right: -30px;
                        }
                    }
                }
            }
            @include media-breakpoint-up(xg) {
                &:nth-child(2) {
                    margin-top: 80px;
                }
                &:nth-child(3) {
                    margin-left: 110px;
                }
            }
          
        }
    }
}
