.section-index-specialoffers {
	position: relative;
	@include background-image("features-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 0;
	overflow: hidden;
	@include media-breakpoint-up(lg) {
		padding: 40px 0;
	}
	@include media-breakpoint-up(xg) {
		padding: 50px 0;
	}
}

.s_i-special {
	@include media-breakpoint-up(xl) {
		padding: 0;
	}
	&__content {
		position: relative;
		z-index: 2;
		@include media-breakpoint-up(lg) {
			max-width: unset;
			padding-left: 0;
			padding-right: 0;
		}
		@include media-breakpoint-up(xl) {
			padding-top: 20px;
		}
	}
	&-slider {
		.slick {
            &-prev,
            &-next {
                position: absolute;
                top: 40%;
				transform: translateY(-50%);
				z-index: 2;
                @include media-breakpoint-up(md) {
                    top: 50%;
                }
            }
            &-prev {
                left: 0%;
                @include media-breakpoint-up(lg) {
                    left: 30%;
                }
                @include media-breakpoint-up(xl) {
                    left: 33%;
                }
                @include media-breakpoint-up(xg) {
                    left: 37%;
                }
            }
            &-next {
                right: 0%;
                @include media-breakpoint-up(lg) {
                    right: 30%;
                }
                @include media-breakpoint-up(xl) {
                    right: 33%;
                }
                @include media-breakpoint-up(xg) {
                    right: 37%;
                }
            }
			@include media-breakpoint-up(lg) {
				&-list {
					position: relative;
					&::before {
						content: "";
						position: absolute;
						bottom: 44px;
						left: 50%;
						border-bottom: 1px solid $clr-border;
						display: unset;
						width: 1140px;
						transform: translateX(-50%);
						@include media-breakpoint-up(xg) {
							width: 1440px;
						}
					}
				}

				&-slide {
					width: 340px;

					padding-left: 50px;
					padding-right: 50px;
					@include shift();
					margin: 0 30px;
					@include media-breakpoint-up(xl) {
						width: 380px;
					}
					@include media-breakpoint-up(xg) {
						width: 420px;
					}
				}
				&-current {
					padding: 0;
					.s_i-special-item {
						padding-top: 90px;
						padding-bottom: 0;
						padding: 90px 0 0 0;
						&__wrap {
							&::before {
								background-color: $clr-brown;
								transform: scale(1.2) translateX(-50%);
							}
							&::after {
								opacity: 1;
								visibility: visible;
								transform: translateX(-50%);
							}
						}
					}
				}
				&-active {
					&:not(.slick-current) {
						pointer-events: none;
						.s_i-special-item {
							opacity: 0.5;
						}
						.s_i-special-item__desc {
							font-size: 14px;
							line-height: 22px;
						}
						.s_i-special-item__imagebox img {
							width: 250px;
							height: 250px;
						}
					}
				}
				&-slide:not(.slick-active) {
					opacity: 0;
					visibility: hidden;
					transform: scale(0.1);
				}
			}
		}
	}
	&-item {
		@include shift();
		outline: none;
		@include media-breakpoint-only(md) {
			display: grid;
			grid-template-columns: 200px 1fr;
			grid-auto-rows: auto;
			align-items: flex-start;
			grid-gap: 0 30px;
			padding: 0 70px;
		}
		@include media-breakpoint-down(sm) {
			display: flex !important;
			flex-flow: column nowrap;
			align-items: center;
		}
		@include media-breakpoint-up(lg) {
			display: flex !important;
			flex-flow: column nowrap;
			align-items: center;
			padding-top: 0;
			padding-bottom: 90px;
		}
		&__date {
			margin-top: 15px;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 22px;
			color: $clr-brown;
			@include media-breakpoint-down(sm) {
				text-align: center;
			}
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
		&__wrap {
			position: relative;
			@include media-breakpoint-up(lg) {
				height: 600px;
				@include shift();
				@include media-breakpoint-up(xg) {
					height: 650px;
				}
				&::before,
				&::after {
					position: absolute;
					left: 50%;
					@include shift();
				}
				&::after {
					content: attr(data-special-date);
					position: absolute;
					bottom: 10px;
					white-space: nowrap;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 14px;
					color: $clr-brown;
					opacity: 0;
					visibility: hidden;
					transform: scale(0.5) translateX(-50%);
					@include media-breakpoint-up(xg) {
						bottom: 0;
						font-size: 16px;
						line-height: 16px;
					}
				}
				&::before {
					content: "";
					width: 14px;
					height: 14px;
					background-color: $clr-gray;
					border-radius: 50%;
					bottom: 38px;
					transform: translateX(-50%);
				}
			}
		}
		&--title {
			color: $clr-white;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			@include media-breakpoint-down(sm) {
				text-align: center;
				margin-bottom: 15px;
			}
			@include media-breakpoint-up(md) {
				margin-bottom: 10px;
			}
			@include media-breakpoint-up(lg) {
				margin-bottom: 25px;
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: center;
				font-size: 18px;
				line-height: 27px;
			}
			@include media-breakpoint-up(xg) {
				font-size: 20px;
				line-height: 27px;
			}
		}
		&__imagebox {
			@include media-breakpoint-only(md) {
				grid-column: 1;
				grid-row: 1 / span 3;
			}
			@include media-breakpoint-up(lg) {
				margin-bottom: 20px;
			}
			img {
				@include shift();
				border-radius: 50%;
				object-fit: cover;
				width: 200px;
				height: 200px;
				@include media-breakpoint-up(lg) {
					width: 250px;
					height: 250px;
				}
				@include media-breakpoint-up(xg) {
					width: 300px;
					height: 300px;
				}
			}
		}
		&__desc {
			@include shift();
			color: $clr-gray-light;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 22px;
			@include media-breakpoint-down(sm) {
				text-align: center;
				margin-top: 25px;
			}
			@include media-breakpoint-only(md) {
				max-height: 22px * 5;
				overflow: hidden;
			}
			@include media-breakpoint-up(lg) {
				text-align: center;
			}
			@include media-breakpoint-up(xg) {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}
