.section-index-features {
    @include background-image('features-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $clr-white;
    // 

}

.s_i-features {
    position: relative;
    padding: 40px 0;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    @extend .line-container;
    @include media-breakpoint-up(lg) {
        padding: 45px 15 60px 15px;
    }
    // @extend .line-container;
    &__grid {
        position: relative;
        z-index: 10;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2,1fr);
        @include media-breakpoint-up(md) {
            grid-gap: 10px;
            grid-template-columns: repeat(4,1fr);
        }
        @include media-breakpoint-up(lg) {
            grid-gap: 60px;
        }
        @include media-breakpoint-up(xl) {
            padding:0 90px;
        }
        @include media-breakpoint-up(xg) {
            grid-gap: 80px;
            padding:0 160px;
        }
    }
    &-item {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        &--icon {
            margin-bottom: 25px;
            color: $clr-brown;
            font-size: 36px;
            @include media-breakpoint-up(lg) {
                margin-bottom: 30px;
                font-size: 48px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 60px;
            }
        }
        &--title {
            margin-bottom: 5px;
            font-style: normal;
            font-weight: bold;
            line-height: 16px;
            font-size: 16px;
            @include media-breakpoint-up(lg) {
                margin-bottom: 10px;
            }
            @include media-breakpoint-up(xg) {
                line-height: 20px;
                font-size: 20px;
            }
        }
        &--text {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            @include media-breakpoint-only(sm) {
                max-width: 170px;
            }
            @include media-breakpoint-up(lg) {
                font-size: 14px;
                line-height: 20px;
            }
            @include media-breakpoint-up(xg) {
                line-height: 24px;
                font-size: 16px;
            }
        }
    }
}

