.section-index-gallery {
	position: relative;
	padding: 30px 0 0 0;
	@include media-breakpoint-up(lg) {
		padding: 40px 0 0 0;
	}
	@include media-breakpoint-up(xg) {
		padding: 60px 0 0 0;
	}
	@media (min-width: 1460px) {
		&::after {
			content: "";
			position: absolute;
			bottom: -100px;
			right: -200px;
			width: 375px;
			height: 620px;
			@include background-image("gallery-index_bg.png");
			background-position: left center;
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 1;
			@include media-breakpoint-up(xg) {
				right: 0;
			}
		}
	}
}

.s_i-gallery {
	position: relative;
	@include media-breakpoint-up(lg) {
		&::after,
		&::before {
			content: '';
			position: absolute;
			top:0;
			height: 100%;
			border-left: 1px solid $clr-border;
			z-index: -1;
		}
		&::before {
			left: 51px;
			z-index: 2;
		}
		&::after {
			@include media-breakpoint-up(lg) {
				left: 50px + 140px + 1;
			}
			@include media-breakpoint-up(xl) {
				left: 50px + 130px + 1;
			}
			@include media-breakpoint-up(xg) {
				left: 50px + 160px + 1;
			}
		}
	}
	&__content {
		position: relative;
		@include media-breakpoint-down(sm) {
			display: grid;
		}
		@include media-breakpoint-only(md) {
			display: grid;
			grid-template-columns: repeat(2,1fr);
			grid-gap: 0 30px;
		}
		@include media-breakpoint-up(lg) {
			height: 660px;
		}
		@include media-breakpoint-up(xl) {
			height: 700px;
		}
		@include media-breakpoint-up(xg) {
			height: 950px;
		}
		@include media-breakpoint-up(lg) {
			&::after {
				content: '';
				position: absolute;
				top:80px;
				height: 100%;
				border-left: 1px solid $clr-border;
				z-index: -1;
				left: -15px;
			}
			&::before {
				position: absolute;
				top: 0;
				
				content: '';
				background-position: top left;
				background-repeat: no-repeat;
				@include background-image('gallery-index-line3.png');
				width: 930px;
				height: 595px;
				@include media-breakpoint-only(lg) {
					right: 0;
				}
				@include media-breakpoint-up(xl) {
					left: 15px;
					@include background-image('gallery-index-line2.png');
					width: 1055px;
					height: 654px;
				}
				@include media-breakpoint-up(xg) {
					left: 50px;
					width: 1285px;
					height: 885px;
					@include background-image('gallery-index-line1.png');
				}
			}
		}
	}
	&--title {
		color: $clr-black-light;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		@include media-breakpoint-up(md) {
			font-size: 18px;
			line-height: 27px;
		}
		@include media-breakpoint-only(md) {
			grid-column: span 2;
		}
		@include media-breakpoint-only(lg) {
			padding-top: 30px;
		}
		@include media-breakpoint-up(xl) {
			font-size: 22px;
			line-height: 33px;
			max-width: 425px;
		}
		@include media-breakpoint-up(xg) {
			font-size: 28px;
			line-height: 40px;
			max-width: 550px;
			padding-top: 10px;
		}
	}
	&__imagebox {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include shift();
		}
		@include media-breakpoint-down(md) {
			position: relative;
			height: 35vh;
			grid-row: 3;
			img {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 100vw;
			}
		}
		@include media-breakpoint-only(md) {
			grid-column: span 2;
			grid-row: 2;
			margin-top: 15px;
			height: 400px;
		}
		@include media-breakpoint-up(lg) {
			position: absolute;
			width: 500px;
			height: 360px;
			top: 100px;
			right: 20px;
		}
		@include media-breakpoint-up(xl) {
			top: 90px;
			right: 60px;
			width: 575px;
			height: 430px;
		}
		@include media-breakpoint-up(xg) {
			top: 130px;
			right: 100px;
			width: 760px;
			height: 520px;
		}
		
	}
	&-slider {
		position: relative;
		@include media-breakpoint-down(sm) {
			padding: 20px 0;
			width: 510px;
		}
		@include media-breakpoint-only(xs) {
			width: calc(100vw - 30px);
		}
 		@include media-breakpoint-only(md) {
			padding: 20px 20px 20px 0;
			width: 310px;
		}
		@include media-breakpoint-up(lg) {
			position: absolute;
			top: 120px;
			left: 0;
			width: 380px;
			height: 380px;
		}
		@include media-breakpoint-up(xl) {
			width: 440px;
			height: 440px;
		}
		@include media-breakpoint-up(xg) {
			top: 210px;
			width: 520px;
			height: 520px;
		}
		&::before {
			content: '';
			background-color: $clr-black;
			position: absolute;
			top: 0;
			right: 0;
			width: 1000px;
			bottom: 0;
			z-index: -1;
			@include media-breakpoint-down(sm) {
				right: -300px;
			}
			@include media-breakpoint-up(lg) {
				top: -40px;
				right: -70px;
				bottom: -200px;
			}
			@include media-breakpoint-up(xl) {
				bottom: -140px;
				right: -80px;
			}
			@include media-breakpoint-up(xg) {
				bottom: -220px;
				top: -60px;
			}
		}
		@include media-breakpoint-only(md) {
			&::after {
				content: '';
				position: absolute;
				top:0;
				height: 100%;
				border-left: 1px solid $clr-border;
				z-index: -1;
				left: -15px;
			}
		}
		&__wrap {
			display: grid !important;
			grid-template-columns: repeat(3,1fr);
			grid-template-rows: repeat(3,1fr);
			grid-gap: 10px;
			
			@include media-breakpoint-up(lg) {
				height: 380px;
			}
			@include media-breakpoint-up(xl) {
				height: 440px;
			}
			@include media-breakpoint-up(xg) {
				height: 520px;
			}
		}
		&--item {
			outline: none;
			&:hover {
				cursor: pointer;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&-slider-arrow {
		position: absolute;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		color: $clr-gray;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		@include media-breakpoint-down(sm) {
			display: none;
		}
		@include media-breakpoint-only(md) {
			width: 220px;
			top: -2px;
			right: 0;
		}
		@include media-breakpoint-up(lg) {
			top: 525px;
			left: 7px;
			border-bottom: 1px solid rgba($clr-white,.8);
			width: 370px;
		}
		@include media-breakpoint-up(xl) {
			top: 590px;
			left: 7px;
			width: 425px;
		}
		@include media-breakpoint-up(xg) {
			left: 55px;
			top: 770px;
		}
	}
	&-slider {
		&--prev,
		&--next {
			color: $clr-gray;
			@include media-breakpoint-up(lg) {
				color: $clr-white;
			}
			&:hover {
				color: $clr-brown !important;
			}
		}
		&--prev {

		}
		&--next {

		}
		&--counter {
			& > span {
				&:nth-child(1) {
					font-size: 22px;
					color: $clr-gray;
					@include media-breakpoint-up(lg) {
						color: $clr-white;
					}
					@include media-breakpoint-up(xl) {
						font-size: 28px;
					}
				}
			}
		}
	}
	&-slider-nav {
		// grid-gap: 15px;
		@include media-breakpoint-down(sm) {
			grid-row: 2;
			display: grid;
			grid-template-columns: repeat(2,1fr);
			grid-gap: 15px;
			margin-bottom: 30px;
		}
		@include media-breakpoint-down(md) {
			padding-top: 20px;
		}
		@include media-breakpoint-up(lg) {
			display: grid;
			position: absolute;
			top: 515px;
			right: 10px;
			width: 420px;
			grid-gap: 20px 15px ;
			grid-template-columns: repeat(2,1fr);

		}
		@include media-breakpoint-up(xl) {
			top: 575px;
			right: 40px;
			width: 480px;
		}
 		@include media-breakpoint-up(xg) {
			grid-gap: 25px 20px ;
			top: 705px;
			right: 130px;
			width: 560px;

		}
		&--item {
			position: relative;
			display: flex;
			align-items: center;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 14px;
			color: $clr-black-light;
			outline: none;
			@include media-breakpoint-only(md) {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
			@include shift();
			@include media-breakpoint-up(xl) {
				white-space: nowrap;
			}
			@include media-breakpoint-up(xg) {
				font-size: 16px;
				line-height: 16px;
			}
			@include media-breakpoint-up(md) {
				padding-left: 35px;
				&::before {
					content: '';
					position: absolute;
					width: 1px;
					height: 1px;
					background-color: $clr-gray;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					@include shift();
					opacity: 0;
					visibility: hidden;
				}
			}
			i {
				margin-right: 10px;
				font-size: 20px;
				line-height: 18px;
			}
			@include media-breakpoint-up(lg) {
				&:hover {
					cursor: pointer;
					color: $clr-brown;
					&::before {
						width: 15px;
						opacity: 1;
						visibility: visible;
					}
				}
			}
			&.--current {
				color: $clr-brown;
				pointer-events: none;
				@include media-breakpoint-up(md) {
					&::before {
						width: 25px;
						background-color: $clr-brown;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}
