.section-index-reservation {
	position: relative;
    @include background-image('reservation-index-bg.jpg');
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 0;
	z-index: 2;
	@include media-breakpoint-up(lg) {
		padding: 40px 0;
	}
	@include media-breakpoint-up(xg) {
		padding: 50px 0;
	}
}

.s_i-reservation {
	position: relative;
	&__content {
		display: grid;
		grid-gap: 15px;
		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(2,1fr);

		}
		@include media-breakpoint-up(lg) {
			grid-gap: 15px 30px;
			margin: 0 auto;
			width: 690px;
		}
	}
	@include media-breakpoint-up(md) {
		&--person,
		&--message,
		&--submit {
			grid-column: span 2;
		}
	}
	&--submit {
		padding-top: 10px;
		display: flex;
		justify-content: center;
		& > .ui_button {
			width: 100%;
			@include media-breakpoint-up(md) {
				width: 270px;
				height: 40px;
			}
		}
	}
	&--datepicker {
		position: relative;
		.c_datepicker {
			position: absolute;
			top: 54px;
			left: 0;
			right: 0;
		}
	}
	&__message {
		color: $clr-white;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		padding: 20px 0 50px 0;
	}
}