.section-index-promo {
    @extend .section-promo;
}

.s_i-promo {
    &__video {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        @include media-breakpoint-up(md) {
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba($clr-black, .7);
        }
        video {
            min-width: 100%;
            min-height: 100%;
        }
    }
    &__wrap {
        position: relative;
        height: 100%;
        @extend .line-container;
    }
    &__content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        @include media-breakpoint-down(sm) {
            height: 100%;;
        }
        @include media-breakpoint-up(md) {
            // padding-left: 55px;
        }
        @include media-breakpoint-up(lg) {
            padding-left: 200px;
        }
        @include media-breakpoint-up(xg) {
            padding-left: 240px;
        }
        &--title {
            color: $clr-white;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-bottom: 20px;
            font-size: 30px;
            @include media-breakpoint-up(md) {
                font-size: 40px;
            }
            @include media-breakpoint-up(lg) {
                margin-top: -100px;
            }
            @include media-breakpoint-up(xg) {
                margin-bottom: 25px;
                font-size: 48px;
            }
        }
        &--name {
            @include media-breakpoint-down(xl) {
                height: 45px;
            }
            @include media-breakpoint-down(md) {
                height: 40px;   
            }
            @include media-breakpoint-only(xs) {
                height: 24px;
            }
            img {
                height: 100%;
            }
        }
        &--name,
        &--title {
            @include media-breakpoint-down(sm) {
                transform: translateY(-50px);
            }
        }
    }
}