.c_breadcrumbs {
    &__list {
        @extend .clear-list;
        display: flex;
        flex-flow: row wrap;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        color: $clr-gray;
        &--link {
            color: $clr-gray;
            @include shift();
            &:hover {
                color: $clr-white;
            }
        }
        &--item {
            &::after {
                content: '/';
            }
        }
    }
}