
.ui_button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    font-size: 14px;
    letter-spacing: 1px;
    vertical-align: middle;
    user-select: none;
    color: $clr-brown;
    border: 1px solid transparent;
    background-color: transparent;
    height: 34px;
    padding: 0 15px;
    border: 1px solid transparent;
    @include font-family();
    text-transform: lowercase;
    letter-spacing: 0.05em;
    @include shift();
    @include media-breakpoint-up(xg) {
        line-height: 16px;
        font-size: 16px;
    }
    i {
        font-size: 1.05em;
        &[data-button-icon='left'] {
            margin-left: -3px;
            margin-right: 7px;
        }
        &[data-button-icon='right'] {
            margin-right: -3px;
            margin-left: 7px;
        }
    }
    &:not(.--default),
    &:not(.--outline),
    &:not(.--invert) {
        &:hover {
            color: $clr-black;
        }
        &:active {
            color: darken($clr-brown,20);
        }
    }
    &.--invert {
        &:hover {
            color: $clr-white;
        }
        &:active {
            color: darken($clr-brown,20);
        }
    }
    &.--transparent {
        padding: 0;
    }
    &.--text {
        pointer-events: none;
    }
    &.--default {
        background-color: $clr-brown;
        color: $clr-black;
        &:hover {
            background-color: $clr-black-light;
            color: $clr-white;
            @extend .shadow-button;
        }
    }
    &.--outline {
        &.--secondary {
            border-color: $clr-black;
            color: $clr-black;
            &:hover {
                @extend .shadow-button;
                background-color: $clr-white;
                border-color: $clr-white;
            }
        }
        &.--default {
            border-color: $clr-brown;
            color: $clr-white;
            background-color: transparent;
            &:hover {
                background-color: $clr-brown;
            }
        }
        &.--light {
            border-color: $clr-white;
            color: $clr-white;
            &:hover {
                border-color: transparent;
            }
        }
        &.--arrow {
            padding: 0;
            width: 36px;
        }
    }
    &:hover {
        cursor: pointer;
    }
    &[disabled] {
        opacity: .7;
        pointer-events: none;
    }
}