.c_command-card {
    position: relative;
    padding-left: 22px;
    @include media-breakpoint-up(xl) {
        padding-left: 35px;
    }
    @include media-breakpoint-up(xg) {
        padding-left: 50px;
    }
    &::before {
        content: attr(data-prof);
        position: absolute;
        bottom: 30%;
        left: 0;
        @include font-family(two);
        font-style: normal;
        font-weight: bold;
        color: $clr-gray;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        font-size: 18px;
        line-height: 18px;
        @include media-breakpoint-up(xl) {
            left: 3px;
            font-size: 24px;
            line-height: 24px;
        }
        @include media-breakpoint-up(xg) {
            left: 5px;
            font-size: 32px;
            line-height: 32px;

        }
    }
    &__imagebox {
        height: 230px;
        @include media-breakpoint-up(md) {
            height: 310px;
        }
        @include media-breakpoint-up(xl) {
            height: 350px;
        }
        @include media-breakpoint-up(xg) {
            height: 440px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &--name {
        margin-top: 20px;
        color: $clr-black;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        @include media-breakpoint-up(xg) {
            margin-top: 25px;
            font-size: 20px;
            line-height: 20px;
        }
    }
    &--desc {
        margin-top: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $clr-gray;
        overflow: hidden;
        max-height: 22px * 3;
        @include media-breakpoint-up(xg) {
            margin-top: 15px;
            max-height: 24px * 3;
            font-size: 16px;
            line-height: 24px;
        }
    }
}