.ui_form-input {
	display: flex;
	flex-flow: column nowrap;
	._label {
		color: $clr-gray;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 14px;
        letter-spacing: 0.05em;
        margin-bottom: 7px;
		span {
			color: #cb1411;
		}
	}
	._input,
	._textarea {
		outline: none;
		padding: 0 15px;
		color: $clr-white;
		height: 34px;
		background-color: $clr-black-light !important;
        border: 0;
		width: 100%;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		@include font-family();
    }
    ._icon-field {
        position: relative;
        & > ._input {
            padding-right: 45px;
        }
        &::before {
            position: absolute;
            top: 0;
            right: 15px;
            height: 34px;
            font-size: 16px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: $clr-gray;
            cursor: pointer;
        }
	}
	._input {
		&::-webkit-clear-button,
		&::-ms-clear {
			display: none;
		}
		&::-webkit-inner-spin-button, 
		&::-webkit-outer-spin-button { 
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			margin: 0; 
		}
		&::-webkit-search-cancel-button { 
			-webkit-appearance: none; 
		}
		&::-webkit-search-results-button {
			 -webkit-appearance: none; 
		}
		&[type=search] { 
			-webkit-appearance: none; 
		}
	}
	._textarea {
		padding: 10px 15px;
		height: unset;
		resize: none;
		&::-webkit-scrollbar {
			width: 7px;
		}

		&::-webkit-scrollbar-track {
			background: $clr-black-light;
		}

		&::-webkit-scrollbar-thumb {
			background: $clr-brown;
		}

		&::-webkit-scrollbar-thumb:hover {
            background: $clr-white;
            cursor: pointer;
		}
    }

}

.c_datepicker {
	position: relative;
	background-color: $clr-black-light;
	padding: 20px 15px 10px 15px;
	color: $clr-white;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	@extend .shadow-button;
	@include shift();
	&.--show {
		opacity: 1;
		visibility: visible;
	}
	&--title {
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 16px;
		padding-right: 50px;
		margin-bottom: 25px;
		@include media-breakpoint-up(md) {
			font-size: 18px;
			line-height: 18px;
		}
	}
	&--close {
		position: absolute;
		top: 17px;
		right: 15px;
		@extend .clear-button;
		background-color: transparent;
		color: $clr-gray;
		@include shift();
		&:hover {
			cursor: pointer;
			color: $clr-brown;
		}
	}
	&-wrap {

	}
	.datepicker {
		&-switch {
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 14px;
			text-align: center;	
			@include media-breakpoint-up(md) {
				font-size: 16px;
				line-height: 16px;
			}		
		}
		.prev,
		.next {
			position: relative;
			background-color: transparent;
			color: $clr-white;
			text-indent: -9999px;
			overflow: hidden;
			&::after {
				text-indent: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				font-family: $icomoon-font-family;
				color: $clr-gray;
				font-size: 14px;
				transition: all .25s ease-in-out;
			}
			&:hover {
				cursor: pointer;
				&::after {
					color: $clr-brown;
				}
			}
		}
		.prev {
			&::after {
				left: 0;
				content: '\e90c';
			}
		}
		.next {
			&::after {
				content: '\e901';
				right: 0;
			}
		}
		&-days {
			.table {
				&-condensed {
					width: 100%;
					tbody {
						tr {
							// border-top: 1px solid rgba($clr-gray-dark-high,.3);
						}
					}
					.dow {
						padding: 10px 0 10px 0;
						font-style: normal;
						font-weight: bold;
						font-size: 18px;
						line-height: 24px;
						text-align: center;
						color: $clr-gray;						
						@include media-breakpoint-up(lg) {
							padding: 25px 0 10px 0;
						}
					}
					tfoot {
						padding-top: 10px;
						th {
							padding: 10px 0;
							// border-radius: $border-radius;
							text-align: center;
							font-style: normal;
							font-weight: bold;
							font-size: 12px;
							line-height: 12px;
							text-transform: uppercase;
							// color: darken($clr-gray-dark-high,30);
							// background-color: rgba($clr-gray-dark-high,.2);
							transition: all .25s ease-in-out;
							&:hover {
								cursor: pointer;
								// background-color: rgba($clr-gray-dark-high,.3);
								// color: $clr-blue;
							}
						}
					}
				}
			}
			.day {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 14px;
				text-align: center;
				height: 34px;
				width: 34px;
				transition: all .25s ease-in-out;
				@include media-breakpoint-up(md) {
					font-size: 16px;
					line-height: 16px;
					height: 40px;
					width: 40px;
				}
				&:hover {
					cursor: pointer;
				}
				&.new,
				&.old {
					color: $clr-gray-dark;
					font-weight: 300;
				}
				&.today {
					background-color: rgba($clr-brown,.5);
				}
				&.active {
					background-color: $clr-brown;
					color: $clr-white;
				}
				&.disabled {
					pointer-events: none;
					color: $clr-gray-dark;
				}
			}
		}
	}
}