.c_map-card {
    position: relative;
    background-color: $clr-white;
    @include media-breakpoint-up(md) {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-gap: 20px;
    }
    @include media-breakpoint-up(lg) {
        padding-right: 30px;
    }
    @include media-breakpoint-up(xg) {
        grid-gap: 30px;
        grid-template-columns: 260px 1fr;
    }
    &:not(:last-child) {
        margin-bottom: 30px;
        @include media-breakpoint-up(xl) {
            margin-bottom: 50px;
        }
    }
    &__imagebox {
        @include media-breakpoint-down(sm) {
            height: 220px;
            margin-bottom: 20px;
        }
        box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        position: relative;
    }
    &--goto {
        position: absolute;
        top: 50%;
        transform: translate(-50%) scale(.4);
        right: -50px;
        @include shift();
        opacity: 0;
        visibility: hidden;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &:hover &--goto {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%) scale(1);
    }
    &--subtitle,
    &--title {
        font-style: normal;
        font-weight: bold;
        color: $clr-brown;
        @include font-family(two);
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        @include media-breakpoint-down(sm) {
            padding-right: 35px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 18px;
            line-height: 26px;
        }
        @include media-breakpoint-up(xg) {
            font-size: 28px;
            line-height: 32px;

        }
    }
    &--subtitle {
        @include media-breakpoint-up(lg) {
            margin-bottom: 10px;
        }
        @include media-breakpoint-up(xg) {
            margin-top: 15px;
        }
    }
    &--title {
        @include media-breakpoint-up(md) {
            min-height: 20px * 2;
        }
        @include media-breakpoint-up(lg) {
            min-height: 26px * 2;
        }
        @include media-breakpoint-up(xg) {
            min-height: 32px * 2;
        }
    }
    &--location {
        position: absolute;
        top: 3px;
        right: 0;
        font-size: 24px;
        z-index: 2;
        @include media-breakpoint-only(md) {
            right: 15px;
        }
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
    &__list {
        @extend .clear-list;
        margin-top: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $clr-gray-dark;
        @include media-breakpoint-up(lg) {
            margin-top: 20px;
        }
        @include media-breakpoint-up(xg) {
            margin-top: 40px;
            font-size: 16px;
            line-height: 24px;
        }
        &--item {
            display: flex;
            flex-flow: column nowrap;
            &:not(:last-child) {
                margin-bottom: 10px;
                @include media-breakpoint-up(xg) {
                    margin-bottom: 20px;
                }
            }
            a {
                color: $clr-gray-dark;
                @include shift();
                &:hover {
                    color: $clr-brown;
                }
                &:not(:last-child) {
                    margin-right: 15px;
                    @include media-breakpoint-up(xg) {
                        margin-right: 35px;
                    }
                }
            }
        }
    }
}