.ui_modal {
    color: $clr-white;
    &--large {
        @include media-breakpoint-up(md) {
            max-width: 600px;
        }
    }
    &__title {
        border: none;
        @include media-breakpoint-down(sm) {
            padding-bottom: 0;
        }
    }
    &--title {
        @include font-family(two);
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: normal;
        @include media-breakpoint-up(md) {
            font-size: 28px;
        }
    }
    &--close {
        @include media-breakpoint-down(sm) {
            transform: translateY(-3px);
        }
        &:hover {
            color: $clr-white !important;
        }
    }
    &__reserv {
        display: grid;
        grid-gap: 15px;
        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2,1fr);
            grid-gap: 25px 20px;
            &--title,
            .ui_modal--success {
                grid-column: span 2;
            }
        }
    }
    &--success {
        padding: 30px 0;
        text-align: center;
    }
    &__course {
        display: grid;
        grid-gap: 15px;
        & + .ui_modal__footer {
            display: flex;
            justify-content: center;
        }
    }
    &__footer {
        border: none;
        display: flex;
        @include media-breakpoint-down(sm) {
            flex-flow: column nowrap;
        }
        @include media-breakpoint-up(md) {
            align-items: flex-start;
            padding-bottom: 20px !important;
        }
    }
    &--submit {
        min-width: 100%;
        @include media-breakpoint-up(md) {
            min-width: 160px;
        }
    }
    &--message {
        color: $clr-gray;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.05em;
        @include media-breakpoint-down(sm) {
            margin: 15px 0 0 0 !important;
            text-align: center;
        }
        @include media-breakpoint-up(md) {
            margin-left: 15px !important;
        }
    }
    ._error {
        font-size: .6em;
        color: red;
    }
    .modal {
        @include media-breakpoint-up(md) {
            &-dialog {
                    height: 100vh;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
            }
        }
        &-content {
            background-color: $clr-black-light;
            @include background-image('features-bg.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 0;
            border: none;
        }
    }
}