.c_modal-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $clr-white;
    z-index: $z-index-11;
    display: grid;
    opacity: 0;
    visibility: hidden;
    transform: scale(.8);
    @include shift();
    &.--show {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    @include media-breakpoint-down(sm) {
        grid-template-rows: repeat(2,1fr);
    }
    @include media-breakpoint-only(md) {
        grid-template-rows: repeat(2,1fr);
    }
    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(2,1fr);
        min-height: 600px;
    }
    &--return {
        position: absolute;
        top: 75px; 
        right: 40px;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &--close {
        position: absolute;
        top: 20px;
        right: 15px;
        z-index: 2;
        width: 36px;
        height: 36px;
        background-color: rgba($clr-black, .1);
        border-radius: 50%;
        color: $clr-white;
        font-weight: bold;
        @include shift();
        
        @include media-breakpoint-up(md) {
            background-color: rgba($clr-black, .5);
            top: 40px;
            right: 40px;
        }
        @include media-breakpoint-up(xg) {
            width: 50px;
            height: 50px;
            top: 60px;
            right: 60px;
            
        }
        &:hover {
            color: $clr-brown !important;
            background-color: rgba($clr-black, .4);
        }
    }
    &--title {
        @include font-family(two);
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: normal;
        margin-top: 5%;
        padding-bottom: 30px;
        @include media-breakpoint-up(xl) {
            font-size: 38px;
            margin-top: 20%;
            padding-bottom: 30px;
        }
    }
    &__content {
        position: relative;
        padding: 90px 15px 30px 15px;
        display: flex;
        flex-flow: column nowrap;
        // justify-content: center;
        @include media-breakpoint-up(md) {
            padding: 140px 40px 80px 40px;
        }
        @include media-breakpoint-up(lg) {
            padding: 150px 110px 40px 40px;
        }
        @include media-breakpoint-up(xg) {
            padding: 170px 210px 60px 60px;
        }
    }   
    &--logo {
        position: absolute;
        top: 15px;
        left: 15px;
        @include media-breakpoint-up(md) {
            top: 40px;
            left: 40px;
        }
        @include media-breakpoint-up(xg) {
            left: 60px;
        }
        img {
            width: 60px;
            @include media-breakpoint-up(lg) {
                width: 80px;

            }
            @include media-breakpoint-up(xg) {
                width: 120px;
            }
        }
    }
    &--halltitle {
        display: flex;
        align-items: center;
        color: $clr-brown;
        @include shift();
        margin-bottom: 25px;
        @include media-breakpoint-up(md) {
            margin-bottom: 40px;
        }
        @include media-breakpoint-up(lg) {
            margin-top: 7vh;
            margin-bottom: 5vh;
        }
        i {
            font-size: 24px;
            line-height: 24px;
            @include media-breakpoint-up(xl) {
                font-size: 36px;
                line-height: 36px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 50px;
                line-height: 50px;
            }
        }
        span {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            margin-left: 15px;
            @include media-breakpoint-up(xg) {
                margin-left: 15px;
            }
        }
    }
    &__desc {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        @include media-breakpoint-up(xg) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__imagebox {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        &::before {
            content: attr(data-pmodal-imagecaption);
            position: absolute;
            top: 50%;
            left: 0;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
            color: rgba($clr-gray, .5);
            writing-mode: vertical-rl;
            text-orientation: mixed;
            transform: rotate(180deg) translate(110%, 50%);
            @include media-breakpoint-up(xg) {
                font-size: 60px;
                line-height: 60px;
            }
        }
    }
}


body.js_pmodal-open {
    overflow: hidden;
}