.c_nav-panel {
    position: fixed;
    top: 0;
    height: 100vh;
    right: 100px;
    background-color: transparent;
    border-right: 1px solid  rgba($clr-gray, .25);
    width: 45px;
    transition: border .15s ease-in-out;
    // opacity: 0.5;
    z-index: $z-index-8;
    @include media-breakpoint-down(lg) {
        display: none;
    }
    &__list {
        margin-top: 200px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        @extend .clear-list;
        &--item {
            height: 10px;
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }
        &--link {
            display: block;
            width: 12px;
            height: 12px;
            background-color: transparent;
            border: 2px solid rgba($clr-gray, .25);
            border-radius: 50%;
            transition: all .15s ease-in-out;
            @include media-breakpoint-up(xg) {
                width: 13px;
                height: 13px;
            }
            &:hover:not(.--current) {
                opacity: .5;
            } 
            &.--current {
                background-color: $clr-gray;
            }
         }
    }
    // &.--dark {
    //     border-color: lighten($clr-black,50);
    //     opacity: 0.3;
    //     .c_nav-panel {
    //         &__list {
    //             &--link {
    //                 border-color: $clr-black;
    //                 &.--current {
    //                     background-color: $clr-black !important;
    //                 }
    //             }
                
    //         }
    //     }
    // }
}