

.c_news-card {
    position: relative;
    background-color: rgba($clr-white,.6);
    display: grid;
    z-index: 2;
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2,1fr);
    }
    &__imagebox {
        height: 230px;
        @include media-breakpoint-down(xs) {
            margin: 0 -15px;
        }
        @include media-breakpoint-down(sm) {
            grid-row: 1;
        }
        @include media-breakpoint-up(md) {
            height: 300px;
        }
        @include media-breakpoint-up(xl) {
            height: 320px;
        }
        @include media-breakpoint-up(xg) {
            height: 385px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px 0;
        @include media-breakpoint-up(md) {
            padding: 20px 15px 20px 20px;
        }
        @include media-breakpoint-up(xg) {
            padding: 30px 20px 30px 30px;
        }
        &::after {
            content: '';
            position: absolute;
            right: -12px;
            width: 25px;
            height: 25px;
            background-color: $clr-white;
            @include media-breakpoint-down(sm) {
                top: -12px;
                left: 50%;
                transform: translateX(-50%) rotate(-45deg);
            }
            @include media-breakpoint-up(md) {
                top: 50%;
                right: -12px;
                transform: translateY(-50%) rotate(-45deg);

            }
        }
    }
    &--date {
        width: 100%;
        text-align: right;
        font-style: normal;
        font-weight: normal;
        color: $clr-gray;
        font-size: 14px;
        line-height: 14px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 5px;
        }
        @include media-breakpoint-up(xg) {
            font-size: 16px;
            line-height: 16px;
        }
    }
    &--title {
        font-style: normal;
        font-weight: normal;
        color: $clr-black;
        @include shift();
        overflow: hidden;
        font-size: 16px;
        line-height: 24px;
        @include media-breakpoint-up(md) {
            font-size: 18px;
            line-height: 27px;
        }
        @include media-breakpoint-between(md,lg) {
            max-height: 27px * 2;
        }
        @include media-breakpoint-up(xl) {
            height: 27px * 2;
        }
        @include media-breakpoint-up(xg) {
            font-size: 20px;
            line-height: 28px;
            height: 28px * 2;

        }
        &:hover {
            color: $clr-brown;
        }
    }
    &--price {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        @include media-breakpoint-down(sm) {
            margin-bottom: 15px;
        }
        ._value {
            margin-right: 15px;
            color: $clr-black-light;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: normal;
            @include media-breakpoint-up(xg) {
                font-size: 28px;
            }
        }
        ._info {
            color: $clr-gray;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            @include media-breakpoint-between(md,xl) {
                font-size: 12px;
                line-height: 18px;

            }
        }
    }
    &--info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: $clr-gray;
        @include media-breakpoint-down(sm) {
            margin-bottom: 10px;
        }
        ._year {
            background-color: $clr-brown;
            color: $clr-white;
            padding: 0 12px;
            font-size: 14px;
            line-height: 27px;
            margin-top: -5px;
        }
    }
    &--desc {
        font-style: normal;
        font-weight: normal;
        overflow: hidden;
        font-size: 14px;
        line-height: 22px;
        @include media-breakpoint-up(md) {
            height: 22px * 3;
        }
        @include media-breakpoint-down(sm) {
            margin: 15px 0 20px 0;
        }
        @include media-breakpoint-up(xl) {
            height: 22px * 4;
        }
        @include media-breakpoint-up(xg) {
            font-size: 16px;
            line-height: 24px;
            height: 24px * 4;
        }
    }
    &--link {
        // margin-top: 20px;
        min-width: 160px;
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
}


.s_news-card-grid {
    display: grid;
    @include media-breakpoint-between(md,lg) {
        .c_news-card {
            &:nth-child(2n+2) {
                .c_news-card {
                    &__imagebox {
                        grid-column: 1;
                    }
                    &__content {
                        grid-row: 1;
                        grid-column: 2;
                        &::after {
                            right: unset;
                            left: -12px;
                        }
                    }
                    &--date {
                        text-align: left;
                    }
                }
            }
        }
    }
    @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(2,1fr);
        .c_news-card {
            &:nth-child(4n+3),
            &:nth-child(4n+4) {
                .c_news-card {
                    &__imagebox {
                        grid-column: 1;
                    }
                    &__content {
                        grid-row: 1;
                        grid-column: 2;
                        &::after {
                            right: unset;
                            left: -12px;
                        }
                    }
                    &--date {
                        text-align: left;
                    }
                }
            }
        }
    }
}