.c_poster-card {
    @include media-breakpoint-up(lg) {
        padding: 15px 30px 20px 30px;
    }
    &[data-poster-date] {
        position: relative;
        // background-color: red;
        &::before {
            content: attr(data-poster-date);
            position: absolute;
            bottom: 40%;
            left: -35px;
            font-style: normal;
            font-style: normal;
            font-weight: bold;
            color: $clr-brown;
            transform: rotate(-90deg);
            font-size: 18px;
            line-height: 18px;
            @include media-breakpoint-up(lg) {
                left: -20px;
                font-size: 22px;
                line-height: 22px;
            }
            @include media-breakpoint-up(xg) {
                bottom: 30%;
                left: -40px;
                font-size: 36px;
                line-height: 36px;
            }
        }
        @include media-breakpoint-up(lg) {
            &::after {
                content: '';
                position: absolute;
                top: 30px;
                left: 34px;
                height: 85%;
                width: 10px;
                background-color: $clr-white;
                @include media-breakpoint-up(xg) {
                    left: 49px;
                }
            }
        }
    }
    &[data-poster-date] &__wrap {
        padding-left: 15px;
        @include media-breakpoint-down(md) {
            margin-left: 10px;
            background-color: $clr-white;
        }
        @include media-breakpoint-up(lg) {
            padding-left: 25px;
        }
        @include media-breakpoint-up(xg) {
            padding-left: 45px;
        }
    }
    &[data-poster-date] &__desc {
        @include media-breakpoint-only(xl) {
            padding-right: 70px;
        }
    }
    &__wrap {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        @extend .line-block-t-r;
        @extend .line-block-b-l;
        @include media-breakpoint-down(md) {
            &::after,
            &::before {
                display: none;
            }
        }
    }
    &__tags {
        margin-bottom: 5px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 10px;
        }
        &--link {
            color: $clr-gray;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            @include shift();
            &:hover {
                color: $clr-black-light;
            }
            &:not(:last-child) {
                margin-right: 20px;
            }
            &:nth-child(n+4) {
                display: none;
            }
        }
    }
    &--title {
        margin-bottom: 15px;
        color: $clr-black-light;
        font-style: normal;
        font-weight: normal;
        @include shift();
        overflow: hidden;
        font-size: 18px;
        line-height: 18px;
        height: 18px;
        @include media-breakpoint-up(xl) {
            height: 22px;
            font-size: 22px;
            line-height: 22px;
        }
        @include media-breakpoint-up(xg) {
            height: 28px;
            font-size: 28px;
            line-height: 28px;
        }
        &:hover {
            color: $clr-brown;
        }
    }
    &__desc {
        font-style: normal;
        font-weight: normal;
        color: $clr-gray-dark;
        overflow: hidden;
        font-size: 14px;
        line-height: 22px;
        @include media-breakpoint-up(md) {
            height: 4 * 22px;
        }
        @include media-breakpoint-up(xg) {
            font-size: 16px;
            line-height: 30px;
            height: 4 * 30px;
        }
    }
    &__bottom {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;
        @include media-breakpoint-up(xg) {
            margin-top: 30px;
        }
    }
    &__price {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        margin-right: 25px;
        @include media-breakpoint-up(lg) {
            margin-right: 35px;
            font-size: 18px;
            line-height: 20px;
        }
    }
    &--more {
        min-width: 160px;
    }
}
