.c_title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    &--text {
        position: relative;
        @include font-family(two);
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 24px;
        @include media-breakpoint-up(sm) {
            font-size: 24px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 28px;
        }
        @include media-breakpoint-up(xg) {
            font-size: 38px;
        }
        &::before,
        &::after {
            content: '~';
            position: absolute;
            top: 45%;
            transform: translateY(-100%);
            color: $clr-brown;
            font-weight: bold;
            font-size: 1.3em;
            line-height: 1px;
        }
        &::before {
            left: -20px;
            @include media-breakpoint-up(md) {
                left: -25px;
            }
            @include media-breakpoint-up(xg) {
                left: -30px;
            }
        }
        &::after {
            right: -20px;
            @include media-breakpoint-up(md) {
                right: -25px;
            }
            @include media-breakpoint-up(xg) {
                right: -30px;
            }
        }
        span {
            color: $clr-brown;
            text-transform: uppercase;
        }
    }
    &--subtext {
        color: $clr-brown;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        @include media-breakpoint-up(xg) {
            font-size: 14px;
        }
    }
    &.--white &--text {
        color: $clr-white;
    }
    &.--dark &--text {
        color: $clr-black-light;
    }
}
