section.section-about-promo(data-navpanel-hash='#about' data-navpanel='white' data-navpanel-title='О нас' ) 
    +section-header('s_a-promo__wrap')
        .s_header__content.s_a-promo__content
            .s_a-promo--logo
                img(src=`${pathImage}studio2.svg` alt='' title='')
            .s_a-promo--text
                p Это уникальное для Беларуси мультиплатформенное пространство, объединяющее в себе несколько площадок: магазин, кафе-бар-ресторан, винную школу.
                p Данный проект — один из этапов развития группы компаний Garsia, которая на протяжении 25-ти лет является одним из крупнейших импортеров премиальных алкогольных напитков в Республику Беларусь и известна своей сетью магазиновWine & Spirits.
                p Миссия компании — развитие эногастрономической культуры.
