include ../../mixins/_mixins-command-card.pug

section.section-about-command(data-navpanel-hash='#command' data-navpanel='dark' data-navpanel-title='Команда')
    .container.s_a-command
        .line-container--wrap
        .c_title.--dark
            .c_title--text Наша команда
            .c_title--subtext только мастера своего дела
        .s_a-command__content
            +c_command-card({
                'prof': 'менеджер',
                'img': 'https://content.onliner.by/news/1100x5616/45082f1a0bc6d194f724cc03b1a83238.jpeg',
                'name': 'Ирина Андрончик',
                'desc': 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. '
            })
            +c_command-card({
                'prof': 'шеф повар',
                'img': 'https://content.onliner.by/news/1100x5616/cdb300bd7a54b77a7726acf411e419cc.jpeg',
                'name': 'Евгений Соркин',
                'desc': 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'
            })
            +c_command-card({
                'prof': 'шеф повар',
                'img': 'https://content.onliner.by/news/1100x5616/6e7472d8e3f7cd3f4b3a34e5d35adfad.jpeg',
                'name': 'Евгений Соркин',
                'desc': 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'
            })
            +c_command-card({
                'prof': 'сомелье',
                'img': 'https://content.onliner.by/news/1100x5616/2edcde0f9daa8d88bd468715f35f1fe1.jpeg',
                'name': 'Евгений Соркин',
                'desc': 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'
            })