include ../../mixins/_mixins-modal-page.pug

section.section-about-hall(data-navpanel-hash='#halls' data-navpanel='dark' data-navpanel-title='Залы')
    .container.s_a-hall
        .line-container--wrap
        .c_title.--dark
            .c_title--text Залы
            .c_title--subtext комофорт интерьера
        .s_a-hall__content
            .s_a-hall-card(data-pmodal-event='0')
                .s_a-hall-card--title 
                    i.icon-wine-shope
                    span Магазин-энотека
                .s_a-hall-card--desc Здесь размещена широкая экспозиция атмосферных напитков по ценам импортера, а также коллекция тематических аксессуаров. При выборе покупки нашим гостям предоставляется возможность воспользоваться профессиональной консультацией кависта.  
                .s_a-hall-card--link.ui_button.--transparent
                    i.icon-arrow-right
            .s_a-hall-card(data-pmodal-event='1')
                .s_a-hall-card--title 
                    i.icon-coffee-table
                    span Кафе-бар
                .s_a-hall-card--desc Это пространство представлено в уютной демократичной и творческой атмосфере и располагает к проведению дружеских встреч, вечеринок, неформальных мероприятий и дегустаций.   
                .s_a-hall-card--link.ui_button.--transparent
                    i.icon-arrow-right
            .s_a-hall-card(data-pmodal-event='2')
                .s_a-hall-card--title 
                    i.icon-dinner
                    span Эногастрономическая гостинная
                .s_a-hall-card--desc Этот зал оформлен в более кулуарном и торжественном стиле. В интерьере преобладают пастельные тона, с декоративными акцентами винной тематики и современными картинами в стиле абстракционизм.
                .s_a-hall-card--link.ui_button.--transparent
                    i.icon-arrow-right
            .s_a-hall-card(data-pmodal-event='3')
                .s_a-hall-card--title 
                    i.icon-pastry-chef
                    span Учебный класс
                .s_a-hall-card--desc Это наша творческая мастерская и резиденция образовательной платформы Wine&Spirits Academy. Здесь мы проводим эногастрономические мастер-классы, как для профессионалов рынка HoReCa, так и для гостей ресторана.  
                .s_a-hall-card--link.ui_button.--transparent
                    i.icon-arrow-right

+c_modal-page({
    'id': 0,
    'halltitle': 'Магазин-энотека',
    'hallicon': 'icon-wine-shope',
    'hallsubtitle': '1-й этаж',
    'desc': 'Здесь размещена широкая экспозиция атмосферных напитков по ценам импортера, а также коллекция тематических аксессуаров. При выборе покупки нашим гостям предоставляется возможность воспользоваться профессиональной консультацией кависта.  Любым из приобретенных напитков можно насладиться «здесь и сейчас», оплатив символический сервисный сбор и расположившись в любом из гостевых залов. Также перед выбором покупки, со многими напитками можно познакомиться, заказав их в меню «по бокалам».',
    'img': 'https://content.onliner.by/news/1100x5616/36b608c52a3c2b05090105e4a0adea0e.jpeg'
})
+c_modal-page({
    'id': 1,
    'halltitle': 'Магазин-энотека',
    'hallicon': 'icon-wine-shope',
    'hallsubtitle': '1-й этаж',
    'desc': 'Здесь размещена широкая экспозиция атмосферных напитков по ценам импортера, а также коллекция тематических аксессуаров. При выборе покупки нашим гостям предоставляется возможность воспользоваться профессиональной консультацией кависта.  Любым из приобретенных напитков можно насладиться «здесь и сейчас», оплатив символический сервисный сбор и расположившись в любом из гостевых залов. Также перед выбором покупки, со многими напитками можно познакомиться, заказав их в меню «по бокалам».',
    'img': 'https://content.onliner.by/news/1100x5616/36b608c52a3c2b05090105e4a0adea0e.jpeg'
})
+c_modal-page({
    'id': 2,
    'halltitle': 'Магазин-энотека',
    'hallicon': 'icon-wine-shope',
    'hallsubtitle': '1-й этаж',
    'desc': 'Здесь размещена широкая экспозиция атмосферных напитков по ценам импортера, а также коллекция тематических аксессуаров. При выборе покупки нашим гостям предоставляется возможность воспользоваться профессиональной консультацией кависта.  Любым из приобретенных напитков можно насладиться «здесь и сейчас», оплатив символический сервисный сбор и расположившись в любом из гостевых залов. Также перед выбором покупки, со многими напитками можно познакомиться, заказав их в меню «по бокалам».',
    'img': 'https://content.onliner.by/news/1100x5616/36b608c52a3c2b05090105e4a0adea0e.jpeg'
})
+c_modal-page({
    'id': 3,
    'halltitle': 'Учебный класс',
    'hallicon': 'icon-pastry-chef',
    'hallsubtitle': 'Учебный класс',
    'desc': 'Здесь размещена широкая экспозиция атмосферных напитков по ценам импортера, а также коллекция тематических аксессуаров. При выборе покупки нашим гостям предоставляется возможность воспользоваться профессиональной консультацией кависта.  Любым из приобретенных напитков можно насладиться «здесь и сейчас», оплатив символический сервисный сбор и расположившись в любом из гостевых залов. Также перед выбором покупки, со многими напитками можно познакомиться, заказав их в меню «по бокалам».',
    'img': 'https://content.onliner.by/news/1100x5616/db812a538bca182d80e67debf9fb6167.jpeg'
})