section.section-about-features(data-navpanel-hash='#features' data-navpanel='white' data-navpanel-title='Преимущества' ) 
    .s_a-features.container
        .line-container--wrap
        .s_a-features--title.c_title.--white
           h5.c_title--text 
            span Чем 
            | мы отличаемся от других ресторанов
           .c_title--subtext уникальность
        .s_a-features__content
            .s_a-features-item
                .s_a-features-item--count
                    span 01
                    | Ассортимент
                .s_a-features-item--text Наша карта вин и крепких напитков — крупнейшая в стране и составляет более чем 300 наименований. Здесь также представлен ряд эксклюзивных позиций, которые можно приобрести только у нас.
            .s_a-features-item
                .s_a-features-item--count
                    span 02
                    | Цены
                .s_a-features-item--text Для наших гостей мы обеспечиваем уникальную ценовую политику и предоставляем возможность приобретать напитки по наиболее привлекательной стоимости.
            .s_a-features-item
                .s_a-features-item--count
                    span 03
                    | Сервис
                .s_a-features-item--text Все сотрудники нашего проекта проходят профессиональное обучение по направлению «кавист-консультант». Таким образом, мы обеспечиваем уникальный для Беларуси высококомпетентный экспертный сервис.
            .s_a-features-item
                .s_a-features-item--count
                    span 04
                    | Локация
                .s_a-features-item--text Мы расположены в самом сердце Минска — из окон нашего пространства открывается уникальный вид на исторический центр города, сквер площади Свободы, Ратушу и отель Европа.
            .s_a-features-item
                .s_a-features-item--count
                    span 05
                    | Кухня
                .s_a-features-item--text Концепция кухни —  «wine&spirits friendly cuisine» - блюда, наиболее гармонично сочетающиеся с винами и крепкими напитками. Представляем в нашем меню два стилевых вектора: «Классика и Тренды». 
            .s_a-features-item
                .s_a-features-item--count
                    span 06
                    | Мероприятия
                .s_a-features-item--text Мы проводим множество тематических мероприятий — эногастрономические ужины, мастер-классы, экскурсы-дегустации с участием виноделов, мастеров купажей и бренд-амбассадоров со всего мира.