.section-shop-map {
    position: relative;
}

.s_s-map {
    position: relative;
    @extend .line-container;
    @include media-breakpoint-up(md) {
        padding: 0;
    }
   
    &__shops {
        padding-top: 60px;
        padding-bottom: 100px;
    }
    &__inner {
        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }
    @include media-breakpoint-up(lg) {
        &__wrap {
            display: flex;
            align-items: flex-start;
            background-color: $clr-black-light;
            color: $clr-white;
           
        }
        &__wrap,
        &__shops {
            width: 50%;
            flex-basis: 50%;
            position: relative;
        }
        &__shops {
            z-index: 2;
        }
        &__wrap {
            z-index: 1;
            .c_modal-page--close {
                display: none;
            }
        }
    }
    @include media-breakpoint-down(md) {
        &__wrap {
            @include shift();
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 9999;
            opacity: 0;
            visibility: hidden;
            background-color: $clr-black-light; 
            .c_modal-page--close { 
                background-color: $clr-brown;
                color: $clr-white;
            }
        }
        &__wrap.--show {
           opacity: 1;
           visibility: visible;
           
        }
    }
    &__wrap-inner {
        @include media-breakpoint-down(md) {
            height: 100vh;
        }
        @include media-breakpoint-up(lg) {
            position: sticky;
            top: 0;
            height: 100vh;
        }
        &--iframe {

            height: 100%;            
            background-color: $clr-black-light;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
            @include media-breakpoint-up(lg) {
                position: absolute;
                top: 0;
                left: 0;
                width:49.5vw;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    body.js_map-open {
        overflow: hidden;
    }
}

.c_map-box {
    width: 250px;
    background-color: $clr-white;
    &--image {
        width: 100%;
        height: 150px;
        object-fit: cover; 
        box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
    }
    &--title {
        @include font-family(two);
        padding: 15px 20px;
        color: $clr-brown;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
}
.gm-style .gm-style-iw-c {
    border-radius: 0 !important;
}
.gm-style-iw-d {
    margin: -15px -18px -15px -15px !important;
}
.gm-style-iw button {
    @include shift();
    position: absolute;
    top: 0px !important;
    right: 0px !important;
    color: $clr-brown;
    background-color: $clr-brown !important;

}