.section-shop-features {
    background-color: #F5F5F5;

}

.s_s-features {
    position: relative;
    @extend .line-container;
    padding: 30px 15px;
    @include media-breakpoint-up(lg) {
        padding: 40px 0;
    }
    @include media-breakpoint-up(xg) {
        padding: 50px 0;
    }
    &__content {
        display: grid;
        grid-gap: 30px;
        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(3,1fr);
        }
    }
    &-item {
        position: relative;
        padding-left: 50px;
        @include media-breakpoint-up(xl) {
            &:not(:last-child) {
                &::before {
                    content: '';
                    position: absolute;
                    border-bottom: 1px dashed $clr-brown;
                    top: 12px;
                    right: 0;
                    left: 250px;
                }
            }
        }
        &--count {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            background-color: $clr-white;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
        }
        &--title {
            color: $clr-brown;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            @include media-breakpoint-down(lg) {
                margin-top: 6px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 18px;
                line-height: 24px;
            }
        }
        &--text {
            margin-top: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: $clr-gray-dark;
            @include media-breakpoint-down(lg) {
                margin-top: 20px;
                margin-left: -50px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}