.section-shop-promo {
    @include background-image('shop-promo-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .s_header__social {
        display: none;
    }
}

.s_s-promo {
    &__wrap {
        position: relative;
    }
    &__breadcrumbs {
        margin-top: 30px;
    }
    &--title {
        margin-top: 40px;
        @include font-family(two);
        color: $clr-white;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 30px;
        @include media-breakpoint-up(lg) {
            font-size: 50px;
        }
        @include media-breakpoint-up(xg) {
            font-size: 70px;
        }
    }
    &--text {
        margin-bottom: 50px;
        margin-top: 30px;
        color: $clr-white;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 100px;
            width: 50%;
        }
        @include media-breakpoint-up(xg) {
            margin-bottom: 170px;
            width: 75%;
            font-size: 16px;
            line-height: 24px;
        }
    }
}