/*!  
    -----------------
    Front-End: E.A. Gableev - t.me/albka 
    Pug.js + SCSS + CSS3 Mixins + Bootstrap 4.1.3 Mixins
    -----------------
    v0.1 | 30/04/2019
!*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
------------------------------------------------------------- */
.clear-list, .s_c-info__list, .s_c-price__list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }

.clear-button {
  outline: none !important;
  border: none;
  padding: 0; }

.shadow-button {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); }

.line-block-t-r::after, .line-block-b-l::before {
  content: '';
  position: absolute;
  width: 294px;
  height: 129px;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1; }

.line-block-t-r::after {
  top: -15px;
  right: -30px;
  background-image: url("../img/line-t-r.png"); }

.line-block-b-l::before {
  bottom: -20px;
  left: -30px;
  background-image: url("../img/line-b-l.png"); }

@media (min-width: 768px) {
  .line-container, .line-container-pseudo, .s_a-courses, .s_a-gallery, .s_c-info, .s_c-program, .s_c-price {
    border-left: 1px solid rgba(187, 187, 187, 0.2);
    border-right: 1px solid rgba(187, 187, 187, 0.2); } }
  @media (min-width: 768px) and (min-width: 992px) {
    .line-container--wrap::after, .line-container-pseudo::after, .line-container--wrap::before, .line-container-pseudo::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      border-left: 1px solid rgba(187, 187, 187, 0.2);
      z-index: 1; }
    .line-container--wrap::before, .line-container-pseudo::before {
      left: 50px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 992px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 190px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 180px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1700px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 210px; } }

.line-container-pseudo {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1; }
  @media (max-width: 767.98px) {
    .line-container-pseudo {
      display: none !important; } }
  .line-container-pseudo + div {
    z-index: 2; }

.section-promo {
  position: relative;
  height: 100vh;
  overflow: hidden;
  min-height: 500px;
  max-height: 1100px; }

.section-academy-promo {
  background-image: url("../img/academy-promo-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    .section-academy-promo {
      height: 100vh;
      min-height: 450px; } }

.s_a-promo__wrap {
  position: relative; }

.s_a-promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #FFF;
  padding: 60px 0; }
  @media (min-width: 768px) {
    .s_a-promo__content {
      padding: 30px; } }
  @media (min-width: 992px) {
    .s_a-promo__content {
      padding: 0 0 0 200px; } }
  @media (min-width: 1700px) {
    .s_a-promo__content {
      padding: 0 0 0 230px; } }

.s_a-promo--title {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: normal; }
  @media (min-width: 768px) {
    .s_a-promo--title {
      font-size: 40px; } }
  @media (min-width: 992px) {
    .s_a-promo--title {
      font-size: 50px; } }
  @media (min-width: 1700px) {
    .s_a-promo--title {
      font-size: 70px; } }

.s_a-promo--subtext {
  margin-top: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: normal; }
  @media (min-width: 768px) {
    .s_a-promo--subtext {
      margin-top: 3%; } }
  @media (min-width: 992px) {
    .s_a-promo--subtext {
      font-size: 18px; } }
  @media (min-width: 1700px) {
    .s_a-promo--subtext {
      font-size: 20px; } }

.s_a-promo--text {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px; }
  @media (min-width: 768px) {
    .s_a-promo--text {
      margin-top: 3%; } }
  @media (min-width: 1700px) {
    .s_a-promo--text {
      font-size: 16px;
      line-height: 24px; } }

@media (min-width: 768px) {
  .s_a-promo--subtext, .s_a-promo--text {
    width: 65%; } }

@media (min-width: 992px) {
  .s_a-promo--subtext, .s_a-promo--text {
    width: 55%; } }

@media (min-width: 1700px) {
  .s_a-promo--subtext, .s_a-promo--text {
    width: 45%; } }

.s_a-courses {
  position: relative;
  padding: 30px 15px; }
  @media (min-width: 768px) {
    .s_a-courses {
      padding: 40px 0; } }
  @media (min-width: 1700px) {
    .s_a-courses {
      padding: 50px 0; } }

.s_a-gallery {
  position: relative;
  padding: 15px 15px 30px 15px; }
  @media (min-width: 768px) {
    .s_a-gallery {
      padding: 40px 0; } }
  @media (min-width: 1700px) {
    .s_a-gallery {
      padding: 50px 0; } }
  .s_a-gallery__head {
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 15px; }
    @media (min-width: 992px) {
      .s_a-gallery__head {
        grid-gap: 30px;
        grid-template-columns: 1fr 2fr; } }
    @media (min-width: 1700px) {
      .s_a-gallery__head {
        grid-template-columns: 3fr 4fr;
        grid-gap: 50px; } }
  .s_a-gallery--title {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 22px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    @media (min-width: 992px) {
      .s_a-gallery--title {
        font-size: 28px; } }
    @media (min-width: 1700px) {
      .s_a-gallery--title {
        font-size: 38px; } }
  .s_a-gallery--text {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    color: #252425;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px; }
    @media (min-width: 1700px) {
      .s_a-gallery--text {
        width: 70%;
        font-size: 16px;
        line-height: 24px; } }
  .s_a-gallery__wrap {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    @media (min-width: 768px) {
      .s_a-gallery__wrap {
        margin-bottom: 50px; } }
    .s_a-gallery__wrap::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.7); }
    .s_a-gallery__wrap .line-container-pseudo {
      z-index: 2;
      pointer-events: none; }
  @media (max-width: 767.98px) {
    .s_a-gallery__inner {
      padding-bottom: 75px; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .s_a-gallery__inner {
      padding: 0 70px 0 0; } }
  @media (min-width: 992px) {
    .s_a-gallery__inner {
      padding: 0 200px 0 0; } }
  @media (min-width: 1700px) {
    .s_a-gallery__inner {
      padding: 0 200px 0 50px; } }
  .s_a-gallery__slider {
    position: relative;
    z-index: 3; }
    .s_a-gallery__slider-item, .s_a-gallery__slider .slick-slide,
    .s_a-gallery__slider .slick-slide > div {
      height: 360px; }
      @media (min-width: 1200px) {
        .s_a-gallery__slider-item, .s_a-gallery__slider .slick-slide,
        .s_a-gallery__slider .slick-slide > div {
          height: 450px; } }
      @media (min-width: 1700px) {
        .s_a-gallery__slider-item, .s_a-gallery__slider .slick-slide,
        .s_a-gallery__slider .slick-slide > div {
          height: 750px; } }
      .s_a-gallery__slider-item img, .s_a-gallery__slider .slick-slide img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .s_a-gallery__slider .slick-list {
      height: 100%; }
    .s_a-gallery__slider .slick-prev, .s_a-gallery__slider .slick-next {
      position: absolute; }
      @media (max-width: 767.98px) {
        .s_a-gallery__slider .slick-prev, .s_a-gallery__slider .slick-next {
          bottom: -55px; } }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .s_a-gallery__slider .slick-prev, .s_a-gallery__slider .slick-next {
          right: -50px; } }
      @media (min-width: 992px) {
        .s_a-gallery__slider .slick-prev, .s_a-gallery__slider .slick-next {
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%); } }
    @media (max-width: 767.98px) {
      .s_a-gallery__slider .slick-prev {
        left: 0; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_a-gallery__slider .slick-prev {
        top: 35%; } }
    @media (min-width: 992px) {
      .s_a-gallery__slider .slick-prev {
        right: -60px; } }
    @media (max-width: 767.98px) {
      .s_a-gallery__slider .slick-next {
        right: 0; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_a-gallery__slider .slick-next {
        bottom: 35%; } }
    @media (min-width: 992px) {
      .s_a-gallery__slider .slick-next {
        right: -180px; } }

.c_command-card {
  position: relative;
  padding-left: 22px; }
  @media (min-width: 1200px) {
    .c_command-card {
      padding-left: 35px; } }
  @media (min-width: 1700px) {
    .c_command-card {
      padding-left: 50px; } }
  .c_command-card::before {
    content: attr(data-prof);
    position: absolute;
    bottom: 30%;
    left: 0;
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    color: #BBBBBB;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    font-size: 18px;
    line-height: 18px; }
    @media (min-width: 1200px) {
      .c_command-card::before {
        left: 3px;
        font-size: 24px;
        line-height: 24px; } }
    @media (min-width: 1700px) {
      .c_command-card::before {
        left: 5px;
        font-size: 32px;
        line-height: 32px; } }
  .c_command-card__imagebox {
    height: 230px; }
    @media (min-width: 768px) {
      .c_command-card__imagebox {
        height: 310px; } }
    @media (min-width: 1200px) {
      .c_command-card__imagebox {
        height: 350px; } }
    @media (min-width: 1700px) {
      .c_command-card__imagebox {
        height: 440px; } }
    .c_command-card__imagebox img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .c_command-card--name {
    margin-top: 20px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px; }
    @media (min-width: 1700px) {
      .c_command-card--name {
        margin-top: 25px;
        font-size: 20px;
        line-height: 20px; } }
  .c_command-card--desc {
    margin-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #BBBBBB;
    overflow: hidden;
    max-height: 66px; }
    @media (min-width: 1700px) {
      .c_command-card--desc {
        margin-top: 15px;
        max-height: 72px;
        font-size: 16px;
        line-height: 24px; } }

.section-course-promo {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
  .section-course-promo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/header-backdrop.png");
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    opacity: .8; }
  .section-course-promo .s_header__social {
    display: none; }

.s_c-promo__wrap {
  position: relative;
  z-index: 2; }

.s_c-promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.s_c-promo__breadcrumbs {
  margin-top: 25px; }

.s_c-promo__title {
  position: relative;
  margin-top: 230px;
  padding: 30px 0px 30px 40px; }
  @media (min-width: 768px) {
    .s_c-promo__title {
      max-width: 70%;
      padding: 40px 40px 40px 60px;
      margin-top: 80px;
      margin-bottom: 50px; } }
  @media (min-width: 1700px) {
    .s_c-promo__title {
      margin-bottom: 110px;
      margin-top: 50px;
      padding: 80px 60px 80px 60px; } }
  .s_c-promo__title::before {
    content: '';
    background-color: #BB906A;
    top: 0;
    right: 0;
    width: 1500px;
    bottom: 0;
    position: absolute;
    z-index: 1; }
    @media (max-width: 767.98px) {
      .s_c-promo__title::before {
        right: -30%; } }

.s_c-promo--title {
  position: relative;
  font-family: "Cormorant", serif;
  color: #FFF;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  z-index: 2;
  font-size: 24px; }
  @media (min-width: 768px) {
    .s_c-promo--title {
      font-size: 28px; } }
  @media (min-width: 1700px) {
    .s_c-promo--title {
      font-size: 38px; } }

.s_c-promo--back {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  color: #FFF; }
  .s_c-promo--back:hover {
    color: #252425; }

.s_c-info {
  position: relative;
  padding: 30px 15px 0 15px; }
  @media (min-width: 992px) {
    .s_c-info {
      padding: 40px 15px 0 15px; } }
  @media (min-width: 1700px) {
    .s_c-info {
      padding: 50px 15px 0 15px; } }
  .s_c-info__wrap {
    display: grid;
    grid-gap: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 768px) {
      .s_c-info__wrap {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 992px) {
      .s_c-info__wrap {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        grid-template-columns: 2fr 1fr; } }
  .s_c-info__list--item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px; }
    @media (min-width: 1700px) {
      .s_c-info__list--item {
        font-size: 16px;
        line-height: 24px; } }
    .s_c-info__list--item::before {
      content: '-';
      margin-right: 10px; }
  .s_c-info__list-wrap:not(:last-child) {
    margin-bottom: 20px; }
    @media (min-width: 1700px) {
      .s_c-info__list-wrap:not(:last-child) {
        margin-bottom: 40px; } }
  .s_c-info__list--title {
    color: #BB906A;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 15px; }
    @media (min-width: 992px) {
      .s_c-info__list--title {
        font-size: 18px; } }
    @media (min-width: 1700px) {
      .s_c-info__list--title {
        font-size: 20px;
        margin-bottom: 20px; } }

.s_c-program {
  position: relative;
  padding: 30px 15px; }
  @media (min-width: 992px) {
    .s_c-program {
      padding: 40px 0 60px 0; } }
  @media (min-width: 1700px) {
    .s_c-program {
      padding: 50px 0 80px 0; } }
  .s_c-program--title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    color: #535353;
    margin-bottom: 25px; }
  .s_c-program__content {
    display: grid;
    grid-gap: 30px; }
    @media (min-width: 768px) {
      .s_c-program__content {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 992px) {
      .s_c-program__content {
        grid-template-columns: repeat(3, 1fr); } }
  .s_c-program-item {
    position: relative;
    padding-left: 50px; }
    .s_c-program-item--count {
      position: absolute;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 36px;
      height: 36px;
      background-color: #FFF;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      -webkit-box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
      box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05); }
    .s_c-program-item--date {
      color: #BB906A;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 10px; }
      @media (min-width: 992px) {
        .s_c-program-item--date {
          font-size: 14px;
          line-height: 24px; } }
    .s_c-program-item--title {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #000000; }
      @media (min-width: 1700px) {
        .s_c-program-item--title {
          font-size: 18px;
          line-height: 24px; } }
    .s_c-program-item--text {
      margin-top: 15px;
      color: #535353;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px; }
      @media (max-width: 991.98px) {
        .s_c-program-item--text {
          margin-top: 15px;
          margin-left: -50px; } }
      @media (min-width: 1700px) {
        .s_c-program-item--text {
          font-size: 16px;
          line-height: 24px; } }
    @media (min-width: 992px) {
      .s_c-program-item::after, .s_c-program-item::before {
        content: '';
        position: absolute; }
      .s_c-program-item:nth-child(3) + div {
        grid-column: 3;
        grid-row: 2; }
      .s_c-program-item:nth-child(3) + div + div {
        grid-column: 2;
        grid-row: 2; }
      .s_c-program-item:nth-child(3) + div + div + div {
        grid-row: 2;
        grid-column: 1; }
      .s_c-program-item:nth-child(9) + div {
        grid-column: 3;
        grid-row: 4; }
      .s_c-program-item:nth-child(9) + div + div {
        grid-column: 2;
        grid-row: 4; }
      .s_c-program-item:nth-child(9) + div + div + div {
        grid-row: 4;
        grid-column: 1; }
      .s_c-program-item:nth-child(15) + div {
        grid-column: 3;
        grid-row: 6; }
      .s_c-program-item:nth-child(15) + div + div {
        grid-column: 2;
        grid-row: 6; }
      .s_c-program-item:nth-child(15) + div + div + div {
        grid-row: 6;
        grid-column: 1; }
      .s_c-program-item:nth-child(3n+1)::after, .s_c-program-item:nth-child(3n+2)::after, .s_c-program-item:nth-child(6n+6)::after {
        border-bottom: 1px dashed #BB906A;
        top: 10px;
        right: 0;
        left: 130px; }
      .s_c-program-item:nth-child(6n+4)::after {
        display: none; }
      .s_c-program-item:nth-child(6n+3)::before, .s_c-program-item:nth-child(6n+6)::before {
        top: 60px;
        bottom: 0;
        left: 18px;
        border-left: 1px dashed #BB906A; } }
    .s_c-program-item.--end {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: normal;
      color: #BB906A;
      padding: 15px 0; }
      .s_c-program-item.--end::after, .s_c-program-item.--end::before {
        content: unset; }
      @media (min-width: 992px) {
        .s_c-program-item.--end {
          border: 1px dashed #BB906A;
          height: 70px; } }
  @media (min-width: 992px) and (min-width: 1700px) {
    .s_c-program-item.--end {
      height: 110px;
      padding: 40px 0;
      font-size: 32px; } }
    @media (min-width: 992px) {
      .s_c-program-item:nth-child(3n+2).--end, .s_c-program-item:nth-child(3n).--end {
        margin-left: 50px;
        margin-top: 10px;
        border-right: none; }
      .s_c-program-item:nth-child(3n+3) + div.--end {
        margin-left: 18px;
        border-top: none;
        border-right: none; } }

.section-course-price {
  background-color: #F5F5F5; }

.s_c-price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }
  @media (min-width: 768px) {
    .s_c-price {
      padding-bottom: 30px; } }
  .s_c-price__content {
    position: relative;
    background-color: #252425;
    color: #FFF;
    padding: 30px 45px;
    display: grid;
    grid-gap: 15px;
    z-index: 2; }
    @media (min-width: 768px) {
      .s_c-price__content {
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 991.98px) {
      .s_c-price__content {
        margin: 0 -15px;
        padding: 20px 15px; } }
    @media (min-width: 992px) {
      .s_c-price__content {
        margin-top: -30px;
        margin: 0 100px; } }
    @media (min-width: 1200px) {
      .s_c-price__content {
        margin: 0 140px; } }
    @media (min-width: 1700px) {
      .s_c-price__content {
        margin: 0 210px;
        padding: 40px 105px; } }
  .s_c-price--title {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: normal; }
    @media (min-width: 768px) {
      .s_c-price--title {
        font-size: 28px;
        grid-column: span 2; } }
    @media (min-width: 1200px) {
      .s_c-price--title {
        font-size: 32px;
        margin-bottom: 20px; } }
  .s_c-price__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #BBBBBB; }
    @media (min-width: 1700px) {
      .s_c-price__list-item {
        font-size: 16px;
        line-height: 24px; } }
    .s_c-price__list-item span {
      color: #FFF;
      margin-bottom: 3px; }
    .s_c-price__list-item:not(:last-child) {
      margin-bottom: 15px; }
      @media (min-width: 1200px) {
        .s_c-price__list-item:not(:last-child) {
          margin-bottom: 30px; } }
    .s_c-price__list-item a {
      color: #BBBBBB;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
      .s_c-price__list-item a:hover {
        color: #BB906A; }
  .s_c-price__info {
    color: #BBBBBB; }
    .s_c-price__info--value {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: normal; }
      @media (min-width: 1700px) {
        .s_c-price__info--value {
          font-size: 28px; } }
    .s_c-price__info--subtext {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px; }
      @media (min-width: 1700px) {
        .s_c-price__info--subtext {
          font-size: 16px;
          line-height: 24px; } }
    .s_c-price__info--text {
      margin-top: 15px;
      font-size: 14px;
      line-height: 22px; }
      @media (min-width: 1200px) {
        .s_c-price__info--text {
          margin-top: 30px; } }
      @media (min-width: 1700px) {
        .s_c-price__info--text {
          font-size: 16px;
          line-height: 24px; } }
  .s_c-price--button {
    margin-top: 10px; }
    @media (min-width: 768px) {
      .s_c-price--button {
        width: 160px; } }

/*# sourceMappingURL=page-academy.css.map */
