.section-menu-nav {
    background-color: $clr-white;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
}


.s_m-nav{
    @include media-breakpoint-down(sm) {
        max-width: unset;
        padding: 0;
        overflow: hidden;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        @include media-breakpoint-down(sm) {
            overflow-x: scroll;
            width: 100%;
        }
        @include media-breakpoint-up(md) {
        }
    }
    &--link {
        display: flex;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: normal;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $clr-gray;
        padding: 15px 0 0 0;
        white-space: nowrap;
        @include shift();
        @include media-breakpoint-down(sm) {
            margin-left: 15px;
        }
        @include media-breakpoint-up(md) {
            width: 100%;
        }
        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }
        span {
            padding: 0 15px 7px 15px;
            border-bottom: 2px solid transparent; 
            @include shift();
        }
        &:hover {
            color: $clr-brown;
        }
        &.--current {
            color: $clr-black-light;
            pointer-events: none;
            span {
                border-color: $clr-brown;
            }
        }
    }
} 