
.section-menu-promo {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include background-image('header-backdrop.png');
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        opacity: .8;
    }
    .s_header__social {
        display: none;
    }
}

.s_m-promo {
    &__wrap {
        position: relative;
        z-index: 2;
    }
    &__content {
        position: relative;
        z-index: 2;
        height: 300px;
        @include media-breakpoint-up(xl) {
            height: 370px;
        }
    }
    &__breadcrumbs {
        margin-top: 25px;
    }
    &--title {
        color: $clr-white;
        @include font-family(two);
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: normal;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        @include media-breakpoint-down(sm) {
            padding-top: 70px;
        }
        @include media-breakpoint-up(md) {
            height: 100%;
            font-size: 50px;
        }
        @include media-breakpoint-up(xg) {
            font-size: 70px;
        }
        @include media-breakpoint-up(md) {
            span {
                margin-top: -10%;
            }
        }
    }
}