.section-menu-content {
    overflow: hidden;
}

.s_m-content {
    position: relative;
    @extend .line-container;
    &__wrap {
        position: relative;
        min-height: 50vh;
        padding-top: 30px;
        padding-bottom: 50px;
        display: grid;
        // grid-template-columns: 300px 1fr;
        @include media-breakpoint-up(md) {
            padding-bottom: 50px;
            grid-template-columns: 1fr 3fr;
            grid-gap: 30px;
            align-items: flex-start;
        }
        @include media-breakpoint-up(xl) {
            padding-bottom: 100px;
            grid-template-columns: 1fr 4fr;
        }
    }
    &__contents {
        position: relative;
        @include shift();
    }
    &__aside {
        position: relative;
        @include media-breakpoint-down(sm) {
            padding-top: 30px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            opacity: 0;
            visibility: hidden;
            @include shift();
            &.--show {
                opacity: 1;
                visibility: visible;
                & + div {
                    max-height: 350px;
                }
            }
        }
        &::before {
            content: '';
            position: absolute;
            background-color: #F5F5F5;
            top: -30px;
            right: 0;
            bottom: -50px;
            width: 1000px;
            z-index: -1;
            @include media-breakpoint-down(sm) {
                top: 0;
                right: -300px;
                bottom: 0;
            }
        }
    }
    &--aside {
        position: absolute;
        top: -10px;
        left: -5px;
        font-size: 20px;
        color: $clr-black-light;
        z-index: 2;
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
    &__list {
        @extend .clear-list;
        @include media-breakpoint-down(sm) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 15px;
        }
        &--item {
            @include font-family(two);
            color: $clr-gray-dark;
            font-style: normal;
            font-weight: bold;
            @include shift();
            font-size: 16px;
            line-height: 22px;
            @include media-breakpoint-up(md) {
                font-size: 16px;
                line-height: 26px;
            }
            @include media-breakpoint-up(lg) {
                font-size: 18px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 20px;
            }
            @include media-breakpoint-up(md) {
                &:not(:last-child) {
                    margin-bottom: 12px;
                }
            }
        }
        &--link {
            position: relative;
            @include shift();
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 0;
                background-color: $clr-brown;
                @include shift();
            }
            &:hover {
                cursor: pointer;
                color: $clr-brown;
            }
        }
        @include media-breakpoint-up(md) {
            &--item &--link.--current {
                pointer-events: none;
                color: $clr-brown;
                padding-left: 20px;
                @include media-breakpoint-up(lg) {
                    padding-left: 30px;
                }
                &::before {
                    width: 13px;
                    @include media-breakpoint-up(lg) {
                        width: 20px;
                    }
                }
            }
        }
    }
}

.s_m-item {
    display: none;
    &.--show {
        display: block;
    }
    &--title {
        position: relative;
        padding-top: 30px;
        span {
            @include font-family(two);
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: normal;
            color: $clr-black-light;
            @include media-breakpoint-up(md) {
                font-size: 28px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 38px;
            }
        }
    }
    &--count {
        position: absolute;
        top: 0;
        right: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $clr-gray;
        @include media-breakpoint-up(xg) {
            font-size: 16px;
            line-height: 24px;
        }
    }
  
    &__content {
        margin-top: 10px;
        display: grid;
        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(2,1fr);
        }
    }
    &--position {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        padding: 10px 0;
        @include media-breakpoint-up(xl) {
            padding: 15px 0;
        }
        @include media-breakpoint-up(xg) {
            font-size: 16px;
            line-height: 24px;
        }
        @include media-breakpoint-up(xl) {
            &:nth-child(odd) {
                padding-right: 15px;
            }
            &:nth-child(even) {
                padding-left: 15px;
                border-left: 1px dashed $clr-brown;
            }
        }
    }
    &--text {
        width: 70%;
        color: $clr-black-light;
        @include media-breakpoint-up(md) {
            width: 60%;
        }
        @include media-breakpoint-up(xl) {
            width: 70%;
        }
        @include media-breakpoint-up(xg) {
            width: 60%;
        }
    }
    &--price {
        margin-left: auto;
        color: $clr-brown;
    }
}