.section-menu-main {
    background-color: $clr-black-light;
    height: 100vh;
    @include media-breakpoint-up(md) {
        height: calc(100vh - 184px);
        min-height: 450px;
    }
    @include media-breakpoint-up(lg) {
        height: calc(100vh - 153px);

    }
    @include media-breakpoint-up(xl) {
        height: calc(100vh - 163px);
    }
    @include media-breakpoint-up(xg) {
        height: 100vh;
    }
    .s_header__social {
        display: none;
    }
    .line-container-pseudo {
        z-index: 2;
        pointer-events: none;
    }
}
.s_m-main {
    &__wrap {
        position: relative;
        height: unset;
        z-index: 2;
    }
    &__content {
        position: relative;
        margin-top: -45px;
        display: flex;
        overflow: hidden;
        // overflow-x: scroll;
        height: 100%;
        z-index: 1;
        width: 100%;
        @include media-breakpoint-up(md) {
            margin-top: -60px;
        }
        @include media-breakpoint-up(lg) {
            margin-top: -80px;
        }
        @include media-breakpoint-up(xg) {
            margin-top: -100px;
        }
        // &::-webkit-scrollbar-track {
        //     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
        //     background-color: transparent;
        // }
        // &::-webkit-scrollbar {
        //     height: 10px;
        //     background-color: $clr-black-light;
        // }
        // &::-webkit-scrollbar-thumb {
        //     background-color: $clr-brown;
        // }
        .slick {
            &-track,
            &-slide > div,
            &-slide > div > div,
            &-slide > div > div > a {
                height: 100%;
                outline: none;
            }
        }
    }
    &--link {
        display: flex !important;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 270px;
        min-width: 270px;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include font-family(two);
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        color: $clr-white;
        @include shift();
        font-size: 20px;
        filter: grayscale(0);
        @include media-breakpoint-up(md) {
            width: 30vw;
            min-width: 30vw;
        }
        @include media-breakpoint-up(lg) {
            font-size: 28px;
        }
        @include media-breakpoint-up(xl) {
            width: 25vw;
            min-width: 25vw;
        }
        @include media-breakpoint-up(xg) {
            min-width: 23vw;
            width: 23vw;
            font-size: 38px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($clr-black-light,.5);
            z-index: 1;
        }
        span {
            position: relative;
            z-index: 2;
            &::after {
                content: '\e902';
                position: absolute;
                color: $clr-white;
                left: 50%;
                bottom: -30px;
                transform: translate(-50%, -100%);
                font-family: $icomoon-font-family;
                font-size: 20px;
                opacity: 0;
                visibility: hidden;
                @include shift();
            }
        }
        &:hover {
            color: $clr-white;
            filter: grayscale(100%);
            span {
                &::after {
                    opacity: 1;
                    visibility: visible;
                    transform: translate(-50%, 0)
                }
            }
        }
    }
}