include ../../mixins/_mixins-modal-page.pug

section.section-other-service
    +section-header('s_o-service__wrap')
        .s_header__content.s_o-service__content
            ul.s_o-service__breadcrumbs.c_breadcrumbs__list
                li.c_breadcrumbs__list--item
                    a.c_breadcrumbs__list--link(href='#!') Главная
                li.c_breadcrumbs__list--item
                    a.c_breadcrumbs__list--link(href='#!') Новости
                li.c_breadcrumbs__list--item Эногастрономический ужин Casa Santos Lima 5 февраля
            .s_o-service__card
                .s_o-service__card--title Услуги
                .s_o-service__card--subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                .s_o-service__card--text В рамках проекта Wine & Spirits Academy мы проводим множество тематических мероприятий — эногастрономические ужины, мастер-классы, экскурсы-дегустации с участием виноделов, мастеров купажей и бренд-амбассадоров со всего мира.

section.section-other-service-slider
    div 
        .s_o-service-item(data-pmodal-event='0' style='background-image: url("https://i.ytimg.com/vi/BfjHhGLA1WE/maxresdefault.jpg")')
            .s_o-service-item--title Для корпоративных клиентов
            .s_o-service-item--text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
            .s_o-service-item--link.ui_button.--transparent
                i.icon-arrow-right
    div
        .s_o-service-item(data-pmodal-event='1' style='background-image: url("https://golos.ua/images/items/2018-04/24/W7qhUdr04vQtujU1/img_top.jpg")')
            .s_o-service-item--title 222 Для корпоративных клиентов
            .s_o-service-item--text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
            .s_o-service-item--link.ui_button.--transparent
                i.icon-arrow-right
    div
        .s_o-service-item(data-pmodal-event='2' style='background-image: url("https://golos.ua/images/items/2018-04/24/W7qhUdr04vQtujU1/img_top.jpg")')
            .s_o-service-item--title 333Для корпоративных клиентов
            .s_o-service-item--text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
            .s_o-service-item--link.ui_button.--transparent
                i.icon-arrow-right
    div
        .s_o-service-item(data-pmodal-event='3' style='background-image: url("https://golos.ua/images/items/2018-04/24/W7qhUdr04vQtujU1/img_top.jpg")')
            .s_o-service-item--title 444Для корпоративных клиентов
            .s_o-service-item--text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
            .s_o-service-item--link.ui_button.--transparent
                i.icon-arrow-right

+c_modal-page({
    'id': 0,
    'desc': 'Здесь размещена широкая экспозиция атмосферных напитков по ценам импортера, а также коллекция тематических аксессуаров. При выборе покупки нашим гостям предоставляется возможность воспользоваться профессиональной консультацией кависта.  Любым из приобретенных напитков можно насладиться «здесь и сейчас», оплатив символический сервисный сбор и расположившись в любом из гостевых залов. Также перед выбором покупки, со многими напитками можно познакомиться, заказав их в меню «по бокалам».',
    'img': 'https://content.onliner.by/news/1100x5616/36b608c52a3c2b05090105e4a0adea0e.jpeg'
})
+c_modal-page({
    'id': 1,
    'desc': 'Здесь размещена широкая экспозиция атмосферных напитков по ценам импортера, а также коллекция тематических аксессуаров. При выборе покупки нашим гостям предоставляется возможность воспользоваться профессиональной консультацией кависта.  Любым из приобретенных напитков можно насладиться «здесь и сейчас», оплатив символический сервисный сбор и расположившись в любом из гостевых залов. Также перед выбором покупки, со многими напитками можно познакомиться, заказав их в меню «по бокалам».',
    'img': 'https://content.onliner.by/news/1100x5616/36b608c52a3c2b05090105e4a0adea0e.jpeg'
})
+c_modal-page({
    'id': 2,
    'desc': 'Здесь размещена широкая экспозиция атмосферных напитков по ценам импортера, а также коллекция тематических аксессуаров. При выборе покупки нашим гостям предоставляется возможность воспользоваться профессиональной консультацией кависта.  Любым из приобретенных напитков можно насладиться «здесь и сейчас», оплатив символический сервисный сбор и расположившись в любом из гостевых залов. Также перед выбором покупки, со многими напитками можно познакомиться, заказав их в меню «по бокалам».',
    'img': 'https://content.onliner.by/news/1100x5616/36b608c52a3c2b05090105e4a0adea0e.jpeg'
})
+c_modal-page({
    'id': 3,
    'desc': 'Здесь размещена широкая экспозиция атмосферных напитков по ценам импортера, а также коллекция тематических аксессуаров. При выборе покупки нашим гостям предоставляется возможность воспользоваться профессиональной консультацией кависта.  Любым из приобретенных напитков можно насладиться «здесь и сейчас», оплатив символический сервисный сбор и расположившись в любом из гостевых залов. Также перед выбором покупки, со многими напитками можно познакомиться, заказав их в меню «по бокалам».',
    'img': 'https://content.onliner.by/news/1100x5616/db812a538bca182d80e67debf9fb6167.jpeg'
})