section.section-other-404
    +section-header('s_o-404__wrap')
        .s_header__content.s_o-404__content
            .s_o-404__message
                .s_o-404--title Ой...
                .s_o-404--text 
                    | Страница, которую Вы запросили,отсутствует на сайте.
                    br 
                    | Возможно, Вы ошиблись при наборе адреса или перешли по неверной ссылке
                a.s_o-404--link.ui_button.--default(href='/')
                    | вернуться на главную
                    i.icon-arrow-right
            .s_o-404__imagebox  
                img(src=`${pathImage}404.png` alt='' title='')