section.section-other-contact
    .s_o-contact__map
        #map
    +section-header('s_o-contact__wrap')
        .s_header__content.s_o-contact__content
            .s_o-contact__information
                .s_o-contact--title.c_title
                    h5.c_title--text Контакты
                ul.s_o-contact__list 
                    li.s_o-contact__list--item
                        div Наш адрес:
                        div Минск, ул.Площадь Свободы 5
                    li.s_o-contact__list--item
                        div Заказать столик:
                        div
                            a(href='tel:+375-29-604-02-02') +375-29-604-02-02
                    li.s_o-contact__list--item
                        div Ждем ваши вопросы и пожелания:
                        div     
                            a(href='mailto:info@studio.wineandspirits') info@studio.wineandspirits
                button.s_o-contact--form.ui_button.--outline.--light(type='button') 
                    span написать нам
                    i.icon-arrow-right
                .s_o-contact__social 
                    ul.s_o-contact__list 
                        li.s_o-contact__list--item 
                            div Следите за нами:
                            div 
                                a(href='#!')
                                    i.icon-vk
                                a(href='#!')
                                    i.icon-facebook
                                a(href='#!')
                                    i.icon-instagram
                                a(href='#!')
                                    i.icon-youtube
        form.s_o-contact__form(action='')
            button.s_o-contact__form--close.ui_button.--transparent(type='button')
                i.icon-cross-out 
            .s_o-contact__form--title.c_title
                .c_title--text Напишите нам
            .ui_form-group
                .ui_form-input
                    label._label(for='id5') 
                        | Имя
                        span *
                    input._input#id5(type='text' name='')
            .ui_form-group
                .ui_form-input
                    label._label(for='id5') 
                        | Телефон
                        span *
                    input._input#id5(type='text' name='')
            .ui_form-group
                .ui_form-input
                    label._label(for='id7') Комментарии
                    textarea#id7._textarea(rows='4') 
            button.s_o-contact__form--submit.ui_button.--outline.--light(type='button') отправить
block script-append
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzPzYq1jjprkwr3_pxiF5jlick94gyhwI&amp;callback=initMap&amp;language=ru" async defer ></script>