section.section-poster-content
    .container.s_p-content
        .line-container--wrap
        .s_p-content__wrap
            .s_p-content__social 
                span поделиться
                a(href='#!') 
                    i.icon-vk
                a(href='#!') 
                    i.icon-instagram
                a(href='#!') 
                    i.icon-facebook
            .s_p-content__article
                <p>Приглашаем Вас посетить эногастрономический ужин с яркими и запоминающимися винами Casa Santos Lima (Португалия)!</p>
                <p>Casa Santos Lima «Каза Сантош Лима» – семейная винодельческая компания, история которой восходит к рубежу XIX века. В те далекие времена был известен человек по имени Хуакин Сантош Лима, занимавшийся созданием вин, и даже экспортировавший их за пределы Португалии. Сердце «Каза Сантош Лима» – имение, в комплекс которого входят офисное здание, винная лавка и самые большие винодельни – находится в Кинта да Буависта в муниципалитете Аленкер, в 45 километрах к Северу от Лиссабона. В 2017 году винодельня «Каза Сантош Лима» Заслужила почетное 3 –е место в «Топ 100 виноделен» по версии «World Ranking of Wines&Spirits», составляемом ежегодно Всемирной организацией винных писателей и журналистов (World Association of Wine Writers and Journalists).</p>
                <p>Специальный гость – Педро Дорей (Pedro d'Orey, CasaSantosLima)</p>
                img(src='https://content.onliner.by/news/1400x5616/4589c99b7d98ae3a37cef567de3483f7.jpeg' alt='' title='')
                br
                br
                <p>Приглашаем Вас посетить эногастрономический ужин с яркими и запоминающимися винами Casa Santos Lima (Португалия)!</p>
                <p>Casa Santos Lima «Каза Сантош Лима» – семейная винодельческая компания, история которой восходит к рубежу XIX века. В те далекие времена был известен человек по имени Хуакин Сантош Лима, занимавшийся созданием вин, и даже экспортировавший их за пределы Португалии. Сердце «Каза Сантош Лима» – имение, в комплекс которого входят офисное здание, винная лавка и самые большие винодельни – находится в Кинта да Буависта в муниципалитете Аленкер, в 45 километрах к Северу от Лиссабона. В 2017 году винодельня «Каза Сантош Лима» Заслужила почетное 3 –е место в «Топ 100 виноделен» по версии «World Ranking of Wines&Spirits», составляемом ежегодно Всемирной организацией винных писателей и журналистов (World Association of Wine Writers and Journalists).</p>
                <p>Приглашаем Вас посетить эногастрономический ужин с яркими и запоминающимися винами Casa Santos Lima (Португалия)!</p>
                <p>Casa Santos Lima «Каза Сантош Лима» – семейная винодельческая компания, история которой восходит к рубежу XIX века. В те далекие времена был известен человек по имени Хуакин Сантош Лима, занимавшийся созданием вин, и даже экспортировавший их за пределы Португалии. Сердце «Каза Сантош Лима» – имение, в комплекс которого входят офисное здание, винная лавка и самые большие винодельни – находится в Кинта да Буависта в муниципалитете Аленкер, в 45 километрах к Северу от Лиссабона. В 2017 году винодельня «Каза Сантош Лима» Заслужила почетное 3 –е место в «Топ 100 виноделен» по версии «World Ranking of Wines&Spirits», составляемом ежегодно Всемирной организацией винных писателей и журналистов (World Association of Wine Writers and Journalists).</p>
                <p>Специальный гость – Педро Дорей (Pedro d'Orey, CasaSantosLima)</p>
                <p>Специальный гость – Педро Дорей (Pedro d'Orey, CasaSantosLima)</p>
                <p>Приглашаем Вас посетить эногастрономический ужин с яркими и запоминающимися винами Casa Santos Lima (Португалия)!</p>
                <p>Casa Santos Lima «Каза Сантош Лима» – семейная винодельческая компания, история которой восходит к рубежу XIX века. В те далекие времена был известен человек по имени Хуакин Сантош Лима, занимавшийся созданием вин, и даже экспортировавший их за пределы Португалии. Сердце «Каза Сантош Лима» – имение, в комплекс которого входят офисное здание, винная лавка и самые большие винодельни – находится в Кинта да Буависта в муниципалитете Аленкер, в 45 километрах к Северу от Лиссабона. В 2017 году винодельня «Каза Сантош Лима» Заслужила почетное 3 –е место в «Топ 100 виноделен» по версии «World Ranking of Wines&Spirits», составляемом ежегодно Всемирной организацией винных писателей и журналистов (World Association of Wine Writers and Journalists).</p>
                <p>Специальный гость – Педро Дорей (Pedro d'Orey, CasaSantosLima)</p>