include ../../mixins/_mixins-poster-card.pug 

section.section-news-events
    .container.s_n-events
        .line-container--wrap
        .c_title.--dark
            .c_title--text Вас заинтерсует
        .s_n-events__content
            +c_poster-card(
                {
                    'title': 'Эногастрономический ужин',
                    'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча.',
                }
            )
            +c_poster-card(
                {
                    'title': 'Эногастрономический ужин',
                    'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча.',
                }
            )
            +c_poster-card(
                {
                    'title': 'Эногастрономический ужин',
                    'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча.',
                }
            )