include ../../mixins/_mixins-poster-card.pug 
include ../../mixins/_mixins-news-card.pug 

section.section-news-catalog(data-navpanel-hash='#catalog' data-navpanel='white' data-navpanel-title='Новости и Статьи' ) 
    .container.s_n-catalog
        .line-container--wrap
         .c_title.--dark
            h5.c_title--text Наши последние новости
            .c_title--subtext вы должны об этом знать
        .s_n-catalog__tab
            .s_n-catalog__tab--link(data-news-id='0') Новости
            .s_n-catalog__tab--link.--current(data-news-id='1') Статьи
        .s_n-catalog__wrap
            .s_n-catalog__contents.s_news-card-grid(data-news='0')
                +c_news-card({
                    'date': '22.04.2019',
                    'title': 'Экскурсы-дегустации с участием виноделов',
                    'desc': 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                    'img': 'https://content.onliner.by/news/1100x5616/bc9440f74768e6740bffe4d219945e61.jpeg'
                })
                +c_news-card({
                    'date': '02.04.2019',
                    'title': 'Когда твой шеф-повар — микроволновка. Дегустация готовой замороженной еды из магазина',
                    'desc': 'Замороженная готовая еда — очевидная бизнес-перспектива. Ситуативные потребительские модели любые — от «черного голодного дня» до «порционного меню для старых родителей». Но в отличие от пельменей и других полуфабрикатов, готовая еда предполагает дополнительную добавленную стоимость, платить которую клиенты пока не готовы. Или это бизнес не готов рискнуть. Поэтому человеку, решившему прожить на «заморозке», не позавидуешь: меню будет довольно скудным.',
                    'img': 'https://content.onliner.by/news/1100x5616/47821e668e1ae3d28fd9520637cc57e9.jpeg'
                })
                +c_news-card({
                    'date': '22.04.2019',
                    'title': 'Экскурсы-дегустации с участием виноделов',
                    'desc': 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                    'img': 'https://content.onliner.by/news/1100x5616/bc9440f74768e6740bffe4d219945e61.jpeg'
                })
                +c_news-card({
                    'date': '02.04.2019',
                    'title': 'Когда твой шеф-повар — микроволновка. Дегустация готовой замороженной еды из магазина',
                    'desc': 'Замороженная готовая еда — очевидная бизнес-перспектива. Ситуативные потребительские модели любые — от «черного голодного дня» до «порционного меню для старых родителей». Но в отличие от пельменей и других полуфабрикатов, готовая еда предполагает дополнительную добавленную стоимость, платить которую клиенты пока не готовы. Или это бизнес не готов рискнуть. Поэтому человеку, решившему прожить на «заморозке», не позавидуешь: меню будет довольно скудным.',
                    'img': 'https://content.onliner.by/news/1100x5616/47821e668e1ae3d28fd9520637cc57e9.jpeg'
                })
                +c_news-card({
                    'date': '22.04.2019',
                    'title': 'Экскурсы-дегустации с участием виноделов',
                    'desc': 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                    'img': 'https://content.onliner.by/news/1100x5616/bc9440f74768e6740bffe4d219945e61.jpeg'
                })
                +c_news-card({
                    'date': '02.04.2019',
                    'title': 'Когда твой шеф-повар — микроволновка. Дегустация готовой замороженной еды из магазина',
                    'desc': 'Замороженная готовая еда — очевидная бизнес-перспектива. Ситуативные потребительские модели любые — от «черного голодного дня» до «порционного меню для старых родителей». Но в отличие от пельменей и других полуфабрикатов, готовая еда предполагает дополнительную добавленную стоимость, платить которую клиенты пока не готовы. Или это бизнес не готов рискнуть. Поэтому человеку, решившему прожить на «заморозке», не позавидуешь: меню будет довольно скудным.',
                    'img': 'https://content.onliner.by/news/1100x5616/47821e668e1ae3d28fd9520637cc57e9.jpeg'
                })
            .s_n-catalog__contents.--show.s_n-catalog-state(data-news='1')
                +c_poster-card(
                    {
                        'title': 'Эногастрономический ужин',
                        'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча.',
                    }
                )
                +c_poster-card(
                    {
                        'title': 'Эногастрономический ужин',
                        'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча.',
                    }
                )
                +c_poster-card(
                    {
                        'title': 'Эногастрономический ужин',
                        'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча.',
                    }
                )
                +c_poster-card(
                    {
                        'title': 'Эногастрономический ужин',
                        'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча.',
                    }
                )
                +c_poster-card(
                    {
                        'title': 'Эногастрономический ужин',
                        'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча.',
                    }
                )
                +c_poster-card(
                    {
                        'title': 'Эногастрономический ужин',
                        'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча.',
                    }
                )
                +c_poster-card(
                    {
                        'title': 'Эногастрономический ужин',
                        'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча.',
                    }
                )
                +c_poster-card(
                    {
                        'title': 'Эногастрономический ужин',
                        'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча.',
                    }
                )
                +c_poster-card(
                    {
                        'title': 'Эногастрономический ужин',
                        'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча.',
                    }
                )