/*!  
    -----------------
    Front-End: E.A. Gableev - t.me/albka 
    Pug.js + SCSS + CSS3 Mixins + Bootstrap 4.1.3 Mixins
    -----------------
    v0.1 | 30/04/2019
!*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
------------------------------------------------------------- */
.clear-list, .s_o-contact__list, .c_map-card__list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }

.clear-button {
  outline: none !important;
  border: none;
  padding: 0; }

.shadow-button {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); }

.line-block-t-r::after, .line-block-b-l::before {
  content: '';
  position: absolute;
  width: 294px;
  height: 129px;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1; }

.line-block-t-r::after {
  top: -15px;
  right: -30px;
  background-image: url("../img/line-t-r.png"); }

.line-block-b-l::before {
  bottom: -20px;
  left: -30px;
  background-image: url("../img/line-b-l.png"); }

@media (min-width: 768px) {
  .line-container, .line-container-pseudo, .s_s-features, .s_s-map {
    border-left: 1px solid rgba(187, 187, 187, 0.2);
    border-right: 1px solid rgba(187, 187, 187, 0.2); } }
  @media (min-width: 768px) and (min-width: 992px) {
    .line-container--wrap::after, .line-container-pseudo::after, .line-container--wrap::before, .line-container-pseudo::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      border-left: 1px solid rgba(187, 187, 187, 0.2);
      z-index: 1; }
    .line-container--wrap::before, .line-container-pseudo::before {
      left: 50px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 992px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 190px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 180px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1700px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 210px; } }

.line-container-pseudo {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1; }
  @media (max-width: 767.98px) {
    .line-container-pseudo {
      display: none !important; } }
  .line-container-pseudo + div {
    z-index: 2; }

.section-promo {
  position: relative;
  height: 100vh;
  overflow: hidden;
  min-height: 500px;
  max-height: 1100px; }

.section-other-contact {
  position: relative;
  overflow: hidden;
  background-color: #252425; }
  @media (max-width: 767.98px) {
    .section-other-contact {
      background-color: #BB906A; } }
  @media (min-width: 768px) {
    .section-other-contact {
      height: 100vh;
      min-height: 620px; } }
  @media (min-width: 1700px) {
    .section-other-contact {
      min-height: 820px; } }
  .section-other-contact .s_header__social {
    display: none; }

.s_o-contact__form {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }
  @media (max-width: 767.98px) {
    .s_o-contact__form {
      left: 0;
      padding: 32px 15px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  @media (min-width: 768px) {
    .s_o-contact__form {
      padding-left: 30px;
      width: 365px; } }
  @media (min-width: 1700px) {
    .s_o-contact__form {
      width: 465px; } }
  .s_o-contact__form.--show {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .s_o-contact__form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    bottom: 0;
    background-image: url("../img/features-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; }
  .s_o-contact__form--close {
    position: absolute;
    top: 30px;
    right: 15px;
    color: #FFF;
    font-size: 20px; }
    @media (min-width: 768px) {
      .s_o-contact__form--close {
        right: 0; } }
    .s_o-contact__form--close:hover {
      color: #BB906A !important; }
  .s_o-contact__form--title {
    color: #FFF; }
    .s_o-contact__form--title .c_title--text::after, .s_o-contact__form--title .c_title--text::before {
      display: none; }
  @media (min-width: 768px) {
    .s_o-contact__form--submit {
      margin: 10px 15% 0 15%; } }
  .s_o-contact__form .ui_form-group {
    margin-bottom: 15px; }

.s_o-contact__wrap {
  position: relative;
  z-index: 2; }

.s_o-contact__map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }
  @media (max-width: 767.98px) {
    .s_o-contact__map {
      bottom: unset;
      height: 395px; } }
  .s_o-contact__map > div {
    width: 100%;
    height: 100%; }

.s_o-contact__information {
  background-color: #BB906A;
  padding: 35px 30px 0 30px;
  width: 100%; }
  @media (min-width: 768px) {
    .s_o-contact__information {
      width: 350px; } }
  @media (min-width: 1700px) {
    .s_o-contact__information {
      padding: 50px 30px 0 30px;
      width: 450px; } }

.s_o-contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767.98px) {
    .s_o-contact__content {
      padding-top: 350px;
      margin: 0 -15px; } }
  @media (min-width: 768px) {
    .s_o-contact__content {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; } }

.s_o-contact--title {
  color: #FFF; }
  .s_o-contact--title .c_title--text::before, .s_o-contact--title .c_title--text::after {
    color: #FFF; }

.s_o-contact__social {
  padding: 30px;
  margin: 0 -30px;
  background-image: url("../img/features-bg.jpg");
  background-position: center;
  background-size: cover; }
  @media (min-width: 1700px) {
    .s_o-contact__social {
      padding: 30px 30px 100px; } }
  .s_o-contact__social a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 22px;
    margin-top: 10px;
    margin-right: 15px;
    color: #BB906A !important; }
    .s_o-contact__social a:hover {
      color: #FFF !important; }

.s_o-contact__list--item {
  position: relative;
  color: #FFF;
  padding-left: 14px; }
  .s_o-contact__list--item::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #FFF;
    width: 6px;
    height: 6px;
    border-radius: 50%; }
  .s_o-contact__list--item:not(:last-child) {
    margin-bottom: 30px; }
    @media (min-width: 1700px) {
      .s_o-contact__list--item:not(:last-child) {
        margin-bottom: 50px; } }
  .s_o-contact__list--item div {
    font-style: normal;
    font-weight: normal; }
    .s_o-contact__list--item div:nth-child(1) {
      font-size: 18px;
      line-height: normal; }
      @media (min-width: 1700px) {
        .s_o-contact__list--item div:nth-child(1) {
          font-size: 24px; } }
    .s_o-contact__list--item div:nth-child(2) {
      margin-top: 5px;
      font-size: 14px;
      line-height: normal; }
      @media (min-width: 1700px) {
        .s_o-contact__list--item div:nth-child(2) {
          font-size: 16px; } }
  .s_o-contact__list--item a {
    color: #FFF;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    .s_o-contact__list--item a:hover {
      color: #252425; }

.s_o-contact--form {
  margin-top: 30px;
  margin-left: 14px;
  margin-bottom: 30px; }
  @media (min-width: 1700px) {
    .s_o-contact--form {
      margin-top: 50px; } }
  .s_o-contact--form i {
    margin-left: 7px;
    margin-right: -5px; }

.section-other-404 {
  height: 100vh;
  background-color: #000000;
  min-height: 650px;
  overflow: hidden; }
  .section-other-404 .s_header__social {
    display: none; }

.s_o-404__wrap {
  position: relative; }

.s_o-404__content {
  display: grid;
  grid-gap: 10%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 767.98px) {
    .s_o-404__content {
      padding-top: 50px; } }
  @media (min-width: 992px) {
    .s_o-404__content {
      grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 768px) {
  .s_o-404__message {
    padding-left: 5%; } }

@media (min-width: 992px) {
  .s_o-404__message {
    padding-left: 15%; } }

.s_o-404--title {
  color: #BB906A;
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10vw;
  line-height: normal; }

.s_o-404--text {
  margin-top: 10px;
  color: #BBBBBB;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px; }
  @media (min-width: 1700px) {
    .s_o-404--text {
      font-size: 16px;
      line-height: 24px; } }

.s_o-404--link {
  margin-top: 3vh; }
  .s_o-404--link i {
    margin-left: 10px;
    margin-right: -5px; }

.s_o-404__imagebox img {
  width: 100%;
  height: auto; }

.section-other-service {
  background-image: url("../img/service-other-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  .section-other-service .s_header__social {
    display: none; }

.s_o-service__wrap {
  position: relative; }

.s_o-service__breadcrumbs {
  margin-top: 15px; }

.s_o-service__card {
  position: relative;
  margin-top: 20px;
  padding: 20px 0 30px 0;
  color: #FFF; }
  @media (min-width: 768px) {
    .s_o-service__card {
      padding: 40px 40px 30px 0;
      width: 60%; } }
  @media (min-width: 992px) {
    .s_o-service__card {
      margin-top: 50px;
      width: 50%; } }
  @media (min-width: 1200px) {
    .s_o-service__card {
      width: 40%;
      padding: 60px 60px 50px 0; } }
  .s_o-service__card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1000px;
    background-color: #BB906A;
    z-index: 1; }
    @media (max-width: 767.98px) {
      .s_o-service__card::before {
        right: -400px; } }
  .s_o-service__card--title {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase; }
    @media (min-width: 992px) {
      .s_o-service__card--title {
        font-size: 50px; } }
    @media (min-width: 1700px) {
      .s_o-service__card--title {
        font-size: 70px; } }
  .s_o-service__card--subtitle {
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: normal; }
    @media (min-width: 992px) {
      .s_o-service__card--subtitle {
        margin-top: 30px; } }
    @media (min-width: 1700px) {
      .s_o-service__card--subtitle {
        font-size: 20px; } }
  .s_o-service__card--text {
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px; }
    @media (min-width: 992px) {
      .s_o-service__card--text {
        margin-top: 60px; } }
    @media (min-width: 1200px) {
      .s_o-service__card--text {
        margin-top: 80px; } }
    @media (min-width: 1700px) {
      .s_o-service__card--text {
        font-size: 16px;
        line-height: 24px;
        margin-top: 200px; } }
  .s_o-service__card--title, .s_o-service__card--subtitle, .s_o-service__card--text {
    position: relative;
    z-index: 2; }

.section-other-service-slider {
  overflow: hidden;
  background-color: #000000; }

.s_o-service-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 290px;
  height: 250px;
  padding: 0 15px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  @media (min-width: 768px) {
    .s_o-service-item {
      width: 400px;
      height: 350px;
      padding: 0 35px; } }
  @media (min-width: 992px) {
    .s_o-service-item {
      width: 450px;
      height: 390px; } }
  @media (min-width: 1200px) {
    .s_o-service-item {
      width: 550px;
      height: 450px;
      padding: 0 60px; } }
  @media (min-width: 1700px) {
    .s_o-service-item {
      width: 700px;
      height: 500px; } }
  .s_o-service-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  .s_o-service-item--title {
    color: #FFF;
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    font-size: 22px; }
    @media (min-width: 768px) {
      .s_o-service-item--title {
        -webkit-transform: translateY(100%);
        transform: translateY(100%); } }
    @media (min-width: 992px) {
      .s_o-service-item--title {
        font-size: 28px; } }
    @media (min-width: 1700px) {
      .s_o-service-item--title {
        font-size: 36px; } }
  .s_o-service-item--text {
    color: #FFF;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    margin: 20px 0 0 0;
    max-height: 88px;
    overflow: hidden;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    @media (min-width: 1700px) {
      .s_o-service-item--text {
        margin: 30px 0 0 30px;
        max-height: 96px;
        font-size: 16px;
        line-height: 24px; } }
  .s_o-service-item--link {
    margin-top: 20px;
    color: #FFF;
    font-size: 20px; }
  .s_o-service-item--link, .s_o-service-item--text {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(50%);
    transform: translateY(50%); }
    @media (max-width: 767.98px) {
      .s_o-service-item--link, .s_o-service-item--text {
        display: none; } }
  .s_o-service-item--title, .s_o-service-item--text, .s_o-service-item--link {
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .s_o-service-item:hover {
    cursor: pointer; }
  .s_o-service-item:hover .s_o-service-item--text,
  .s_o-service-item:hover .s_o-service-item--link,
  .s_o-service-item:hover .s_o-service-item--title {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0); }

.c_modal-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  z-index: 1200;
  display: grid;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .c_modal-page.--show {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1); }
  @media (max-width: 767.98px) {
    .c_modal-page {
      grid-template-rows: repeat(2, 1fr); } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .c_modal-page {
      grid-template-rows: repeat(2, 1fr); } }
  @media (min-width: 992px) {
    .c_modal-page {
      grid-template-columns: repeat(2, 1fr);
      min-height: 600px; } }
  .c_modal-page--return {
    position: absolute;
    top: 75px;
    right: 40px; }
    @media (max-width: 991.98px) {
      .c_modal-page--return {
        display: none; } }
  .c_modal-page--close {
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 2;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: #FFF;
    font-weight: bold;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    @media (min-width: 768px) {
      .c_modal-page--close {
        background-color: rgba(0, 0, 0, 0.5);
        top: 40px;
        right: 40px; } }
    @media (min-width: 1700px) {
      .c_modal-page--close {
        width: 50px;
        height: 50px;
        top: 60px;
        right: 60px; } }
    .c_modal-page--close:hover {
      color: #BB906A !important;
      background-color: rgba(0, 0, 0, 0.4); }
  .c_modal-page--title {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    margin-top: 5%;
    padding-bottom: 30px; }
    @media (min-width: 1200px) {
      .c_modal-page--title {
        font-size: 38px;
        margin-top: 20%;
        padding-bottom: 30px; } }
  .c_modal-page__content {
    position: relative;
    padding: 90px 15px 30px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }
    @media (min-width: 768px) {
      .c_modal-page__content {
        padding: 140px 40px 80px 40px; } }
    @media (min-width: 992px) {
      .c_modal-page__content {
        padding: 150px 110px 40px 40px; } }
    @media (min-width: 1700px) {
      .c_modal-page__content {
        padding: 170px 210px 60px 60px; } }
  .c_modal-page--logo {
    position: absolute;
    top: 15px;
    left: 15px; }
    @media (min-width: 768px) {
      .c_modal-page--logo {
        top: 40px;
        left: 40px; } }
    @media (min-width: 1700px) {
      .c_modal-page--logo {
        left: 60px; } }
    .c_modal-page--logo img {
      width: 60px; }
      @media (min-width: 992px) {
        .c_modal-page--logo img {
          width: 80px; } }
      @media (min-width: 1700px) {
        .c_modal-page--logo img {
          width: 120px; } }
  .c_modal-page--halltitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #BB906A;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    margin-bottom: 25px; }
    @media (min-width: 768px) {
      .c_modal-page--halltitle {
        margin-bottom: 40px; } }
    @media (min-width: 992px) {
      .c_modal-page--halltitle {
        margin-top: 7vh;
        margin-bottom: 5vh; } }
    .c_modal-page--halltitle i {
      font-size: 24px;
      line-height: 24px; }
      @media (min-width: 1200px) {
        .c_modal-page--halltitle i {
          font-size: 36px;
          line-height: 36px; } }
      @media (min-width: 1700px) {
        .c_modal-page--halltitle i {
          font-size: 50px;
          line-height: 50px; } }
    .c_modal-page--halltitle span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      margin-left: 15px; }
      @media (min-width: 1700px) {
        .c_modal-page--halltitle span {
          margin-left: 15px; } }
  .c_modal-page__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px; }
    @media (min-width: 1700px) {
      .c_modal-page__desc {
        font-size: 16px;
        line-height: 24px; } }
  .c_modal-page__imagebox {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .c_modal-page__imagebox::before {
      content: attr(data-pmodal-imagecaption);
      position: absolute;
      top: 50%;
      left: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      color: rgba(187, 187, 187, 0.5);
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      -webkit-transform: rotate(180deg) translate(110%, 50%);
      transform: rotate(180deg) translate(110%, 50%); }
      @media (min-width: 1700px) {
        .c_modal-page__imagebox::before {
          font-size: 60px;
          line-height: 60px; } }

body.js_pmodal-open {
  overflow: hidden; }

.c_map-card {
  position: relative;
  background-color: #FFF; }
  @media (min-width: 768px) {
    .c_map-card {
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-gap: 20px; } }
  @media (min-width: 992px) {
    .c_map-card {
      padding-right: 30px; } }
  @media (min-width: 1700px) {
    .c_map-card {
      grid-gap: 30px;
      grid-template-columns: 260px 1fr; } }
  .c_map-card:not(:last-child) {
    margin-bottom: 30px; }
    @media (min-width: 1200px) {
      .c_map-card:not(:last-child) {
        margin-bottom: 50px; } }
  .c_map-card__imagebox {
    -webkit-box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05); }
    @media (max-width: 767.98px) {
      .c_map-card__imagebox {
        height: 220px;
        margin-bottom: 20px; } }
    .c_map-card__imagebox img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .c_map-card__content {
    position: relative; }
  .c_map-card--goto {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%) scale(0.4);
    transform: translate(-50%) scale(0.4);
    right: -50px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    opacity: 0;
    visibility: hidden; }
    @media (max-width: 991.98px) {
      .c_map-card--goto {
        display: none; } }
  .c_map-card:hover .c_map-card--goto {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(-50%) scale(1);
    transform: translate(-50%) scale(1); }
  .c_map-card--subtitle, .c_map-card--title {
    font-style: normal;
    font-weight: bold;
    color: #BB906A;
    font-family: "Cormorant", serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px; }
    @media (max-width: 767.98px) {
      .c_map-card--subtitle, .c_map-card--title {
        padding-right: 35px; } }
    @media (min-width: 1200px) {
      .c_map-card--subtitle, .c_map-card--title {
        font-size: 18px;
        line-height: 26px; } }
    @media (min-width: 1700px) {
      .c_map-card--subtitle, .c_map-card--title {
        font-size: 28px;
        line-height: 32px; } }
  @media (min-width: 992px) {
    .c_map-card--subtitle {
      margin-bottom: 10px; } }
  @media (min-width: 1700px) {
    .c_map-card--subtitle {
      margin-top: 15px; } }
  @media (min-width: 768px) {
    .c_map-card--title {
      min-height: 40px; } }
  @media (min-width: 992px) {
    .c_map-card--title {
      min-height: 52px; } }
  @media (min-width: 1700px) {
    .c_map-card--title {
      min-height: 64px; } }
  .c_map-card--location {
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 24px;
    z-index: 2; }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .c_map-card--location {
        right: 15px; } }
    @media (min-width: 992px) {
      .c_map-card--location {
        display: none; } }
  .c_map-card__list {
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #535353; }
    @media (min-width: 992px) {
      .c_map-card__list {
        margin-top: 20px; } }
    @media (min-width: 1700px) {
      .c_map-card__list {
        margin-top: 40px;
        font-size: 16px;
        line-height: 24px; } }
    .c_map-card__list--item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
      .c_map-card__list--item:not(:last-child) {
        margin-bottom: 10px; }
        @media (min-width: 1700px) {
          .c_map-card__list--item:not(:last-child) {
            margin-bottom: 20px; } }
      .c_map-card__list--item a {
        color: #535353;
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out; }
        .c_map-card__list--item a:hover {
          color: #BB906A; }
        .c_map-card__list--item a:not(:last-child) {
          margin-right: 15px; }
          @media (min-width: 1700px) {
            .c_map-card__list--item a:not(:last-child) {
              margin-right: 35px; } }

.section-shop-promo {
  background-image: url("../img/shop-promo-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .section-shop-promo .s_header__social {
    display: none; }

.s_s-promo__wrap {
  position: relative; }

.s_s-promo__breadcrumbs {
  margin-top: 30px; }

.s_s-promo--title {
  margin-top: 40px;
  font-family: "Cormorant", serif;
  color: #FFF;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 30px; }
  @media (min-width: 992px) {
    .s_s-promo--title {
      font-size: 50px; } }
  @media (min-width: 1700px) {
    .s_s-promo--title {
      font-size: 70px; } }

.s_s-promo--text {
  margin-bottom: 50px;
  margin-top: 30px;
  color: #FFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px; }
  @media (min-width: 992px) {
    .s_s-promo--text {
      margin-bottom: 100px;
      width: 50%; } }
  @media (min-width: 1700px) {
    .s_s-promo--text {
      margin-bottom: 170px;
      width: 75%;
      font-size: 16px;
      line-height: 24px; } }

.section-shop-features {
  background-color: #F5F5F5; }

.s_s-features {
  position: relative;
  padding: 30px 15px; }
  @media (min-width: 992px) {
    .s_s-features {
      padding: 40px 0; } }
  @media (min-width: 1700px) {
    .s_s-features {
      padding: 50px 0; } }
  .s_s-features__content {
    display: grid;
    grid-gap: 30px; }
    @media (min-width: 992px) {
      .s_s-features__content {
        grid-template-columns: repeat(3, 1fr); } }
  .s_s-features-item {
    position: relative;
    padding-left: 50px; }
    @media (min-width: 1200px) {
      .s_s-features-item:not(:last-child)::before {
        content: '';
        position: absolute;
        border-bottom: 1px dashed #BB906A;
        top: 12px;
        right: 0;
        left: 250px; } }
    .s_s-features-item--count {
      position: absolute;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 36px;
      height: 36px;
      background-color: #FFF;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      -webkit-box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
      box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05); }
    .s_s-features-item--title {
      color: #BB906A;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px; }
      @media (max-width: 1199.98px) {
        .s_s-features-item--title {
          margin-top: 6px; } }
      @media (min-width: 1700px) {
        .s_s-features-item--title {
          font-size: 18px;
          line-height: 24px; } }
    .s_s-features-item--text {
      margin-top: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #535353; }
      @media (max-width: 1199.98px) {
        .s_s-features-item--text {
          margin-top: 20px;
          margin-left: -50px; } }
      @media (min-width: 1700px) {
        .s_s-features-item--text {
          font-size: 16px;
          line-height: 24px; } }

.section-shop-map {
  position: relative; }

.s_s-map {
  position: relative; }
  @media (min-width: 768px) {
    .s_s-map {
      padding: 0; } }
  .s_s-map__shops {
    padding-top: 60px;
    padding-bottom: 100px; }
  @media (min-width: 992px) {
    .s_s-map__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 992px) {
    .s_s-map__wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      background-color: #252425;
      color: #FFF; }
    .s_s-map__wrap, .s_s-map__shops {
      width: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      position: relative; }
    .s_s-map__shops {
      z-index: 2; }
    .s_s-map__wrap {
      z-index: 1; }
      .s_s-map__wrap .c_modal-page--close {
        display: none; } }
  @media (max-width: 991.98px) {
    .s_s-map__wrap {
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 9999;
      opacity: 0;
      visibility: hidden;
      background-color: #252425; }
      .s_s-map__wrap .c_modal-page--close {
        background-color: #BB906A;
        color: #FFF; }
    .s_s-map__wrap.--show {
      opacity: 1;
      visibility: visible; } }
  @media (max-width: 991.98px) {
    .s_s-map__wrap-inner {
      height: 100vh; } }
  @media (min-width: 992px) {
    .s_s-map__wrap-inner {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      height: 100vh; } }
  .s_s-map__wrap-inner--iframe {
    height: 100%;
    background-color: #252425; }
    @media (max-width: 991.98px) {
      .s_s-map__wrap-inner--iframe {
        width: 100%; } }
    @media (min-width: 992px) {
      .s_s-map__wrap-inner--iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 49.5vw; } }

@media (max-width: 991.98px) {
  body.js_map-open {
    overflow: hidden; } }

.c_map-box {
  width: 250px;
  background-color: #FFF; }
  .c_map-box--image {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05); }
  .c_map-box--title {
    font-family: "Cormorant", serif;
    padding: 15px 20px;
    color: #BB906A;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center; }

.gm-style .gm-style-iw-c {
  border-radius: 0 !important; }

.gm-style-iw-d {
  margin: -15px -18px -15px -15px !important; }

.gm-style-iw button {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  position: absolute;
  top: 0px !important;
  right: 0px !important;
  color: #BB906A;
  background-color: #BB906A !important; }

/*# sourceMappingURL=page-other.css.map */
