/*!  
    -----------------
    Front-End: E.A. Gableev - t.me/albka 
    Pug.js + SCSS + CSS3 Mixins + Bootstrap 4.1.3 Mixins
    -----------------
    v0.1 | 30/04/2019
!*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
------------------------------------------------------------- */
.clear-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }

.clear-button {
  outline: none !important;
  border: none;
  padding: 0; }

.shadow-button {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); }

.line-block-t-r::after, .line-block-b-l::before {
  content: '';
  position: absolute;
  width: 294px;
  height: 129px;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1; }

.line-block-t-r::after {
  top: -15px;
  right: -30px;
  background-image: url("../img/line-t-r.png"); }

.line-block-b-l::before {
  bottom: -20px;
  left: -30px;
  background-image: url("../img/line-b-l.png"); }

@media (min-width: 768px) {
  .line-container, .line-container-pseudo, .s_i-features, .s_i-poster, .s_i-promo__wrap {
    border-left: 1px solid rgba(187, 187, 187, 0.2);
    border-right: 1px solid rgba(187, 187, 187, 0.2); } }
  @media (min-width: 768px) and (min-width: 992px) {
    .line-container--wrap::after, .line-container-pseudo::after, .line-container--wrap::before, .line-container-pseudo::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      border-left: 1px solid rgba(187, 187, 187, 0.2);
      z-index: 1; }
    .line-container--wrap::before, .line-container-pseudo::before {
      left: 50px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 992px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 190px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 180px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1700px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 210px; } }

.line-container-pseudo {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1; }
  @media (max-width: 767.98px) {
    .line-container-pseudo {
      display: none !important; } }
  .line-container-pseudo + div {
    z-index: 2; }

.section-promo, .section-index-promo {
  position: relative;
  height: 100vh;
  overflow: hidden;
  min-height: 500px;
  max-height: 1100px; }

.sections-index-page {
  overflow: hidden; }

.section-index-features {
  background-image: url("../img/features-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF; }

.s_i-features {
  position: relative;
  padding: 40px 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (min-width: 992px) {
    .s_i-features {
      padding: 45px 15 60px 15px; } }
  .s_i-features__grid {
    position: relative;
    z-index: 10;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr); }
    @media (min-width: 768px) {
      .s_i-features__grid {
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr); } }
    @media (min-width: 992px) {
      .s_i-features__grid {
        grid-gap: 60px; } }
    @media (min-width: 1200px) {
      .s_i-features__grid {
        padding: 0 90px; } }
    @media (min-width: 1700px) {
      .s_i-features__grid {
        grid-gap: 80px;
        padding: 0 160px; } }
  .s_i-features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .s_i-features-item--icon {
      margin-bottom: 25px;
      color: #BB906A;
      font-size: 36px; }
      @media (min-width: 992px) {
        .s_i-features-item--icon {
          margin-bottom: 30px;
          font-size: 48px; } }
      @media (min-width: 1700px) {
        .s_i-features-item--icon {
          font-size: 60px; } }
    .s_i-features-item--title {
      margin-bottom: 5px;
      font-style: normal;
      font-weight: bold;
      line-height: 16px;
      font-size: 16px; }
      @media (min-width: 992px) {
        .s_i-features-item--title {
          margin-bottom: 10px; } }
      @media (min-width: 1700px) {
        .s_i-features-item--title {
          line-height: 20px;
          font-size: 20px; } }
    .s_i-features-item--text {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px; }
      @media (min-width: 576px) and (max-width: 767.98px) {
        .s_i-features-item--text {
          max-width: 170px; } }
      @media (min-width: 992px) {
        .s_i-features-item--text {
          font-size: 14px;
          line-height: 20px; } }
      @media (min-width: 1700px) {
        .s_i-features-item--text {
          line-height: 24px;
          font-size: 16px; } }

.section-index-poster {
  position: relative; }
  @media (min-width: 1200px) {
    .section-index-poster::after, .section-index-poster::before {
      content: '';
      position: absolute;
      background-position: left top;
      background-repeat: no-repeat;
      background-size: contain;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
    .section-index-poster::before {
      bottom: 0;
      left: -250px;
      width: 425px;
      height: 425px;
      background-image: url("../img/poster-index_bg-2.png");
      z-index: -1; } }
  @media (min-width: 1200px) and (min-width: 1700px) {
    .section-index-poster::before {
      bottom: 30px;
      left: -50px; } }
  @media (min-width: 1200px) and (max-width: 1390px) {
    .section-index-poster::before {
      display: none; } }
  @media (min-width: 1200px) {
    .section-index-poster::after {
      top: -70px;
      right: -150px;
      width: 400px;
      height: 540px;
      background-image: url("../img/poster-index_bg-1.png");
      z-index: 1; } }
  @media (min-width: 1200px) and (min-width: 1700px) {
    .section-index-poster::after {
      top: -150px;
      width: 576px;
      height: 772px; } }

.s_i-poster {
  position: relative;
  padding: 30px 15px; }
  @media (min-width: 992px) {
    .s_i-poster {
      padding: 40px 15px; } }
  @media (min-width: 1700px) {
    .s_i-poster {
      padding: 50px 15px; } }
  .s_i-poster__content {
    display: grid;
    grid-gap: 25px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media (min-width: 768px) {
      .s_i-poster__content {
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 992px) {
      .s_i-poster__content {
        position: relative;
        background-image: url("../img/poster-index-line_bg.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        z-index: 2; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .s_i-poster__content {
        grid-gap: 0 30px; } }
    @media (min-width: 1200px) and (max-width: 1699.98px) {
      .s_i-poster__content {
        grid-gap: 30px;
        padding-top: 30px; } }
    @media (min-width: 1700px) {
      .s_i-poster__content {
        grid-gap: 20px 110px;
        padding: 0 50px; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .s_i-poster__content .c_poster-card:nth-child(2) {
        margin-top: 40px; } }
    @media (min-width: 1200px) {
      .s_i-poster__content .c_poster-card:nth-child(2) .c_poster-card__wrap::after, .s_i-poster__content .c_poster-card:nth-child(2) .c_poster-card__wrap::before, .s_i-poster__content .c_poster-card:nth-child(3) .c_poster-card__wrap::after, .s_i-poster__content .c_poster-card:nth-child(3) .c_poster-card__wrap::before {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1); }
      .s_i-poster__content .c_poster-card:nth-child(2) .c_poster-card__wrap::after, .s_i-poster__content .c_poster-card:nth-child(3) .c_poster-card__wrap::after {
        right: unset;
        left: -30px; }
      .s_i-poster__content .c_poster-card:nth-child(2) .c_poster-card__wrap::before, .s_i-poster__content .c_poster-card:nth-child(3) .c_poster-card__wrap::before {
        left: unset;
        right: -30px; } }
    @media (min-width: 1700px) {
      .s_i-poster__content .c_poster-card:nth-child(2) {
        margin-top: 80px; }
      .s_i-poster__content .c_poster-card:nth-child(3) {
        margin-left: 110px; } }

.section-index-specialoffers {
  position: relative;
  background-image: url("../img/features-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
  overflow: hidden; }
  @media (min-width: 992px) {
    .section-index-specialoffers {
      padding: 40px 0; } }
  @media (min-width: 1700px) {
    .section-index-specialoffers {
      padding: 50px 0; } }

@media (min-width: 1200px) {
  .s_i-special {
    padding: 0; } }

.s_i-special__content {
  position: relative;
  z-index: 2; }
  @media (min-width: 992px) {
    .s_i-special__content {
      max-width: unset;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 1200px) {
    .s_i-special__content {
      padding-top: 20px; } }

.s_i-special-slider .slick-prev, .s_i-special-slider .slick-next {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2; }
  @media (min-width: 768px) {
    .s_i-special-slider .slick-prev, .s_i-special-slider .slick-next {
      top: 50%; } }

.s_i-special-slider .slick-prev {
  left: 0%; }
  @media (min-width: 992px) {
    .s_i-special-slider .slick-prev {
      left: 30%; } }
  @media (min-width: 1200px) {
    .s_i-special-slider .slick-prev {
      left: 33%; } }
  @media (min-width: 1700px) {
    .s_i-special-slider .slick-prev {
      left: 37%; } }

.s_i-special-slider .slick-next {
  right: 0%; }
  @media (min-width: 992px) {
    .s_i-special-slider .slick-next {
      right: 30%; } }
  @media (min-width: 1200px) {
    .s_i-special-slider .slick-next {
      right: 33%; } }
  @media (min-width: 1700px) {
    .s_i-special-slider .slick-next {
      right: 37%; } }

@media (min-width: 992px) {
  .s_i-special-slider .slick-list {
    position: relative; }
    .s_i-special-slider .slick-list::before {
      content: "";
      position: absolute;
      bottom: 44px;
      left: 50%;
      border-bottom: 1px solid rgba(187, 187, 187, 0.2);
      display: unset;
      width: 1140px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); } }
    @media (min-width: 992px) and (min-width: 1700px) {
      .s_i-special-slider .slick-list::before {
        width: 1440px; } }

@media (min-width: 992px) {
  .s_i-special-slider .slick-slide {
    width: 340px;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    margin: 0 30px; } }
  @media (min-width: 992px) and (min-width: 1200px) {
    .s_i-special-slider .slick-slide {
      width: 380px; } }
  @media (min-width: 992px) and (min-width: 1700px) {
    .s_i-special-slider .slick-slide {
      width: 420px; } }

@media (min-width: 992px) {
  .s_i-special-slider .slick-current {
    padding: 0; }
    .s_i-special-slider .slick-current .s_i-special-item {
      padding-top: 90px;
      padding-bottom: 0;
      padding: 90px 0 0 0; }
      .s_i-special-slider .slick-current .s_i-special-item__wrap::before {
        background-color: #BB906A;
        -webkit-transform: scale(1.2) translateX(-50%);
        transform: scale(1.2) translateX(-50%); }
      .s_i-special-slider .slick-current .s_i-special-item__wrap::after {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }
  .s_i-special-slider .slick-active:not(.slick-current) {
    pointer-events: none; }
    .s_i-special-slider .slick-active:not(.slick-current) .s_i-special-item {
      opacity: 0.5; }
    .s_i-special-slider .slick-active:not(.slick-current) .s_i-special-item__desc {
      font-size: 14px;
      line-height: 22px; }
    .s_i-special-slider .slick-active:not(.slick-current) .s_i-special-item__imagebox img {
      width: 250px;
      height: 250px; }
  .s_i-special-slider .slick-slide:not(.slick-active) {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.1);
    transform: scale(0.1); } }

.s_i-special-item {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  outline: none; }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .s_i-special-item {
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-auto-rows: auto;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      grid-gap: 0 30px;
      padding: 0 70px; } }
  @media (max-width: 767.98px) {
    .s_i-special-item {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media (min-width: 992px) {
    .s_i-special-item {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 0;
      padding-bottom: 90px; } }
  .s_i-special-item__date {
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #BB906A; }
    @media (max-width: 767.98px) {
      .s_i-special-item__date {
        text-align: center; } }
    @media (min-width: 992px) {
      .s_i-special-item__date {
        display: none; } }
  .s_i-special-item__wrap {
    position: relative; }
    @media (min-width: 992px) {
      .s_i-special-item__wrap {
        height: 600px;
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out; } }
  @media (min-width: 992px) and (min-width: 1700px) {
    .s_i-special-item__wrap {
      height: 650px; } }
    @media (min-width: 992px) {
        .s_i-special-item__wrap::before, .s_i-special-item__wrap::after {
          position: absolute;
          left: 50%;
          -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out; }
        .s_i-special-item__wrap::after {
          content: attr(data-special-date);
          position: absolute;
          bottom: 10px;
          white-space: nowrap;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 14px;
          color: #BB906A;
          opacity: 0;
          visibility: hidden;
          -webkit-transform: scale(0.5) translateX(-50%);
          transform: scale(0.5) translateX(-50%); } }
    @media (min-width: 992px) and (min-width: 1700px) {
      .s_i-special-item__wrap::after {
        bottom: 0;
        font-size: 16px;
        line-height: 16px; } }
    @media (min-width: 992px) {
        .s_i-special-item__wrap::before {
          content: "";
          width: 14px;
          height: 14px;
          background-color: #BBBBBB;
          border-radius: 50%;
          bottom: 38px;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%); } }
  .s_i-special-item--title {
    color: #FFF;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px; }
    @media (max-width: 767.98px) {
      .s_i-special-item--title {
        text-align: center;
        margin-bottom: 15px; } }
    @media (min-width: 768px) {
      .s_i-special-item--title {
        margin-bottom: 10px; } }
    @media (min-width: 992px) {
      .s_i-special-item--title {
        margin-bottom: 25px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        font-size: 18px;
        line-height: 27px; } }
    @media (min-width: 1700px) {
      .s_i-special-item--title {
        font-size: 20px;
        line-height: 27px; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .s_i-special-item__imagebox {
      grid-column: 1;
      grid-row: 1 / span 3; } }
  @media (min-width: 992px) {
    .s_i-special-item__imagebox {
      margin-bottom: 20px; } }
  .s_i-special-item__imagebox img {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 200px;
    height: 200px; }
    @media (min-width: 992px) {
      .s_i-special-item__imagebox img {
        width: 250px;
        height: 250px; } }
    @media (min-width: 1700px) {
      .s_i-special-item__imagebox img {
        width: 300px;
        height: 300px; } }
  .s_i-special-item__desc {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    color: #DDDDDD;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px; }
    @media (max-width: 767.98px) {
      .s_i-special-item__desc {
        text-align: center;
        margin-top: 25px; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_i-special-item__desc {
        max-height: 110px;
        overflow: hidden; } }
    @media (min-width: 992px) {
      .s_i-special-item__desc {
        text-align: center; } }
    @media (min-width: 1700px) {
      .s_i-special-item__desc {
        font-size: 16px;
        line-height: 24px; } }

.section-index-reservation {
  position: relative;
  background-image: url("../img/reservation-index-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
  z-index: 2; }
  @media (min-width: 992px) {
    .section-index-reservation {
      padding: 40px 0; } }
  @media (min-width: 1700px) {
    .section-index-reservation {
      padding: 50px 0; } }

.s_i-reservation {
  position: relative; }
  .s_i-reservation__content {
    display: grid;
    grid-gap: 15px; }
    @media (min-width: 768px) {
      .s_i-reservation__content {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 992px) {
      .s_i-reservation__content {
        grid-gap: 15px 30px;
        margin: 0 auto;
        width: 690px; } }
  @media (min-width: 768px) {
    .s_i-reservation--person, .s_i-reservation--message, .s_i-reservation--submit {
      grid-column: span 2; } }
  .s_i-reservation--submit {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .s_i-reservation--submit > .ui_button {
      width: 100%; }
      @media (min-width: 768px) {
        .s_i-reservation--submit > .ui_button {
          width: 270px;
          height: 40px; } }
  .s_i-reservation--datepicker {
    position: relative; }
    .s_i-reservation--datepicker .c_datepicker {
      position: absolute;
      top: 54px;
      left: 0;
      right: 0; }
  .s_i-reservation__message {
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 20px 0 50px 0; }

.section-index-gallery {
  position: relative;
  padding: 30px 0 0 0; }
  @media (min-width: 992px) {
    .section-index-gallery {
      padding: 40px 0 0 0; } }
  @media (min-width: 1700px) {
    .section-index-gallery {
      padding: 60px 0 0 0; } }
  @media (min-width: 1460px) {
    .section-index-gallery::after {
      content: "";
      position: absolute;
      bottom: -100px;
      right: -200px;
      width: 375px;
      height: 620px;
      background-image: url("../img/gallery-index_bg.png");
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1; } }
  @media (min-width: 1460px) and (min-width: 1700px) {
    .section-index-gallery::after {
      right: 0; } }

.s_i-gallery {
  position: relative; }
  @media (min-width: 992px) {
    .s_i-gallery::after, .s_i-gallery::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      border-left: 1px solid rgba(187, 187, 187, 0.2);
      z-index: -1; }
    .s_i-gallery::before {
      left: 51px;
      z-index: 2; } }

@media (min-width: 992px) and (min-width: 992px) {
  .s_i-gallery::after {
    left: 191px; } }

@media (min-width: 992px) and (min-width: 1200px) {
  .s_i-gallery::after {
    left: 181px; } }

@media (min-width: 992px) and (min-width: 1700px) {
  .s_i-gallery::after {
    left: 211px; } }
  .s_i-gallery__content {
    position: relative; }
    @media (max-width: 767.98px) {
      .s_i-gallery__content {
        display: grid; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_i-gallery__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 30px; } }
    @media (min-width: 992px) {
      .s_i-gallery__content {
        height: 660px; } }
    @media (min-width: 1200px) {
      .s_i-gallery__content {
        height: 700px; } }
    @media (min-width: 1700px) {
      .s_i-gallery__content {
        height: 950px; } }
    @media (min-width: 992px) {
      .s_i-gallery__content::after {
        content: '';
        position: absolute;
        top: 80px;
        height: 100%;
        border-left: 1px solid rgba(187, 187, 187, 0.2);
        z-index: -1;
        left: -15px; }
      .s_i-gallery__content::before {
        position: absolute;
        top: 0;
        content: '';
        background-position: top left;
        background-repeat: no-repeat;
        background-image: url("../img/gallery-index-line3.png");
        width: 930px;
        height: 595px; } }
  @media (min-width: 992px) and (min-width: 992px) and (max-width: 1199.98px) {
    .s_i-gallery__content::before {
      right: 0; } }
  @media (min-width: 992px) and (min-width: 1200px) {
    .s_i-gallery__content::before {
      left: 15px;
      background-image: url("../img/gallery-index-line2.png");
      width: 1055px;
      height: 654px; } }
  @media (min-width: 992px) and (min-width: 1700px) {
    .s_i-gallery__content::before {
      left: 50px;
      width: 1285px;
      height: 885px;
      background-image: url("../img/gallery-index-line1.png"); } }
  .s_i-gallery--title {
    color: #252425;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px; }
    @media (min-width: 768px) {
      .s_i-gallery--title {
        font-size: 18px;
        line-height: 27px; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_i-gallery--title {
        grid-column: span 2; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .s_i-gallery--title {
        padding-top: 30px; } }
    @media (min-width: 1200px) {
      .s_i-gallery--title {
        font-size: 22px;
        line-height: 33px;
        max-width: 425px; } }
    @media (min-width: 1700px) {
      .s_i-gallery--title {
        font-size: 28px;
        line-height: 40px;
        max-width: 550px;
        padding-top: 10px; } }
  .s_i-gallery__imagebox img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  @media (max-width: 991.98px) {
    .s_i-gallery__imagebox {
      position: relative;
      height: 35vh;
      grid-row: 3; }
      .s_i-gallery__imagebox img {
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100vw; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .s_i-gallery__imagebox {
      grid-column: span 2;
      grid-row: 2;
      margin-top: 15px;
      height: 400px; } }
  @media (min-width: 992px) {
    .s_i-gallery__imagebox {
      position: absolute;
      width: 500px;
      height: 360px;
      top: 100px;
      right: 20px; } }
  @media (min-width: 1200px) {
    .s_i-gallery__imagebox {
      top: 90px;
      right: 60px;
      width: 575px;
      height: 430px; } }
  @media (min-width: 1700px) {
    .s_i-gallery__imagebox {
      top: 130px;
      right: 100px;
      width: 760px;
      height: 520px; } }
  .s_i-gallery-slider {
    position: relative; }
    @media (max-width: 767.98px) {
      .s_i-gallery-slider {
        padding: 20px 0;
        width: 510px; } }
    @media (max-width: 575.98px) {
      .s_i-gallery-slider {
        width: calc(100vw - 30px); } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_i-gallery-slider {
        padding: 20px 20px 20px 0;
        width: 310px; } }
    @media (min-width: 992px) {
      .s_i-gallery-slider {
        position: absolute;
        top: 120px;
        left: 0;
        width: 380px;
        height: 380px; } }
    @media (min-width: 1200px) {
      .s_i-gallery-slider {
        width: 440px;
        height: 440px; } }
    @media (min-width: 1700px) {
      .s_i-gallery-slider {
        top: 210px;
        width: 520px;
        height: 520px; } }
    .s_i-gallery-slider::before {
      content: '';
      background-color: #000000;
      position: absolute;
      top: 0;
      right: 0;
      width: 1000px;
      bottom: 0;
      z-index: -1; }
      @media (max-width: 767.98px) {
        .s_i-gallery-slider::before {
          right: -300px; } }
      @media (min-width: 992px) {
        .s_i-gallery-slider::before {
          top: -40px;
          right: -70px;
          bottom: -200px; } }
      @media (min-width: 1200px) {
        .s_i-gallery-slider::before {
          bottom: -140px;
          right: -80px; } }
      @media (min-width: 1700px) {
        .s_i-gallery-slider::before {
          bottom: -220px;
          top: -60px; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_i-gallery-slider::after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        border-left: 1px solid rgba(187, 187, 187, 0.2);
        z-index: -1;
        left: -15px; } }
    .s_i-gallery-slider__wrap {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 10px; }
      @media (min-width: 992px) {
        .s_i-gallery-slider__wrap {
          height: 380px; } }
      @media (min-width: 1200px) {
        .s_i-gallery-slider__wrap {
          height: 440px; } }
      @media (min-width: 1700px) {
        .s_i-gallery-slider__wrap {
          height: 520px; } }
    .s_i-gallery-slider--item {
      outline: none; }
      .s_i-gallery-slider--item:hover {
        cursor: pointer; }
      .s_i-gallery-slider--item img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
  .s_i-gallery-slider-arrow {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #BBBBBB;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center; }
    @media (max-width: 767.98px) {
      .s_i-gallery-slider-arrow {
        display: none; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_i-gallery-slider-arrow {
        width: 220px;
        top: -2px;
        right: 0; } }
    @media (min-width: 992px) {
      .s_i-gallery-slider-arrow {
        top: 525px;
        left: 7px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        width: 370px; } }
    @media (min-width: 1200px) {
      .s_i-gallery-slider-arrow {
        top: 590px;
        left: 7px;
        width: 425px; } }
    @media (min-width: 1700px) {
      .s_i-gallery-slider-arrow {
        left: 55px;
        top: 770px; } }
  .s_i-gallery-slider--prev, .s_i-gallery-slider--next {
    color: #BBBBBB; }
    @media (min-width: 992px) {
      .s_i-gallery-slider--prev, .s_i-gallery-slider--next {
        color: #FFF; } }
    .s_i-gallery-slider--prev:hover, .s_i-gallery-slider--next:hover {
      color: #BB906A !important; }
  .s_i-gallery-slider--counter > span:nth-child(1) {
    font-size: 22px;
    color: #BBBBBB; }
    @media (min-width: 992px) {
      .s_i-gallery-slider--counter > span:nth-child(1) {
        color: #FFF; } }
    @media (min-width: 1200px) {
      .s_i-gallery-slider--counter > span:nth-child(1) {
        font-size: 28px; } }
  @media (max-width: 767.98px) {
    .s_i-gallery-slider-nav {
      grid-row: 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      margin-bottom: 30px; } }
  @media (max-width: 991.98px) {
    .s_i-gallery-slider-nav {
      padding-top: 20px; } }
  @media (min-width: 992px) {
    .s_i-gallery-slider-nav {
      display: grid;
      position: absolute;
      top: 515px;
      right: 10px;
      width: 420px;
      grid-gap: 20px 15px;
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1200px) {
    .s_i-gallery-slider-nav {
      top: 575px;
      right: 40px;
      width: 480px; } }
  @media (min-width: 1700px) {
    .s_i-gallery-slider-nav {
      grid-gap: 25px 20px;
      top: 705px;
      right: 130px;
      width: 560px; } }
  .s_i-gallery-slider-nav--item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #252425;
    outline: none;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_i-gallery-slider-nav--item:not(:last-child) {
        margin-bottom: 20px; } }
    @media (min-width: 1200px) {
      .s_i-gallery-slider-nav--item {
        white-space: nowrap; } }
    @media (min-width: 1700px) {
      .s_i-gallery-slider-nav--item {
        font-size: 16px;
        line-height: 16px; } }
    @media (min-width: 768px) {
      .s_i-gallery-slider-nav--item {
        padding-left: 35px; }
        .s_i-gallery-slider-nav--item::before {
          content: '';
          position: absolute;
          width: 1px;
          height: 1px;
          background-color: #BBBBBB;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 0;
          -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
          opacity: 0;
          visibility: hidden; } }
    .s_i-gallery-slider-nav--item i {
      margin-right: 10px;
      font-size: 20px;
      line-height: 18px; }
    @media (min-width: 992px) {
      .s_i-gallery-slider-nav--item:hover {
        cursor: pointer;
        color: #BB906A; }
        .s_i-gallery-slider-nav--item:hover::before {
          width: 15px;
          opacity: 1;
          visibility: visible; } }
    .s_i-gallery-slider-nav--item.--current {
      color: #BB906A;
      pointer-events: none; }
      @media (min-width: 768px) {
        .s_i-gallery-slider-nav--item.--current::before {
          width: 25px;
          background-color: #BB906A;
          opacity: 1;
          visibility: visible; } }

.s_i-promo__video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; }
  @media (min-width: 768px) {
    .s_i-promo__video {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); } }
  .s_i-promo__video::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
  .s_i-promo__video video {
    min-width: 100%;
    min-height: 100%; }

.s_i-promo__wrap {
  position: relative;
  height: 100%; }

.s_i-promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 767.98px) {
    .s_i-promo__content {
      height: 100%; } }
  @media (min-width: 992px) {
    .s_i-promo__content {
      padding-left: 200px; } }
  @media (min-width: 1700px) {
    .s_i-promo__content {
      padding-left: 240px; } }
  .s_i-promo__content--title {
    color: #FFF;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 20px;
    font-size: 30px; }
    @media (min-width: 768px) {
      .s_i-promo__content--title {
        font-size: 40px; } }
    @media (min-width: 992px) {
      .s_i-promo__content--title {
        margin-top: -100px; } }
    @media (min-width: 1700px) {
      .s_i-promo__content--title {
        margin-bottom: 25px;
        font-size: 48px; } }
  @media (max-width: 1699.98px) {
    .s_i-promo__content--name {
      height: 45px; } }
  @media (max-width: 991.98px) {
    .s_i-promo__content--name {
      height: 40px; } }
  @media (max-width: 575.98px) {
    .s_i-promo__content--name {
      height: 24px; } }
  .s_i-promo__content--name img {
    height: 100%; }
  @media (max-width: 767.98px) {
    .s_i-promo__content--name, .s_i-promo__content--title {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px); } }

/*# sourceMappingURL=page-index.css.map */
