/*!  
    -----------------
    Front-End: E.A. Gableev - t.me/albka 
    Pug.js + SCSS + CSS3 Mixins + Bootstrap 4.1.3 Mixins
    -----------------
    v0.1 | 30/04/2019
!*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
------------------------------------------------------------- */
.clear-list, .s_m-content__list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }

.clear-button {
  outline: none !important;
  border: none;
  padding: 0; }

.shadow-button {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); }

.line-block-t-r::after, .line-block-b-l::before {
  content: '';
  position: absolute;
  width: 294px;
  height: 129px;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1; }

.line-block-t-r::after {
  top: -15px;
  right: -30px;
  background-image: url("../img/line-t-r.png"); }

.line-block-b-l::before {
  bottom: -20px;
  left: -30px;
  background-image: url("../img/line-b-l.png"); }

@media (min-width: 768px) {
  .line-container, .line-container-pseudo, .s_m-content {
    border-left: 1px solid rgba(187, 187, 187, 0.2);
    border-right: 1px solid rgba(187, 187, 187, 0.2); } }
  @media (min-width: 768px) and (min-width: 992px) {
    .line-container--wrap::after, .line-container-pseudo::after, .line-container--wrap::before, .line-container-pseudo::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      border-left: 1px solid rgba(187, 187, 187, 0.2);
      z-index: 1; }
    .line-container--wrap::before, .line-container-pseudo::before {
      left: 50px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 992px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 190px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 180px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1700px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 210px; } }

.line-container-pseudo {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1; }
  @media (max-width: 767.98px) {
    .line-container-pseudo {
      display: none !important; } }
  .line-container-pseudo + div {
    z-index: 2; }

.section-promo {
  position: relative;
  height: 100vh;
  overflow: hidden;
  min-height: 500px;
  max-height: 1100px; }

.c_nav-panel {
  pointer-events: none; }

.section-menu-main {
  background-color: #252425;
  height: 100vh; }
  @media (min-width: 768px) {
    .section-menu-main {
      height: calc(100vh - 184px);
      min-height: 450px; } }
  @media (min-width: 992px) {
    .section-menu-main {
      height: calc(100vh - 153px); } }
  @media (min-width: 1200px) {
    .section-menu-main {
      height: calc(100vh - 163px); } }
  @media (min-width: 1700px) {
    .section-menu-main {
      height: 100vh; } }
  .section-menu-main .s_header__social {
    display: none; }
  .section-menu-main .line-container-pseudo {
    z-index: 2;
    pointer-events: none; }

.s_m-main__wrap {
  position: relative;
  height: unset;
  z-index: 2; }

.s_m-main__content {
  position: relative;
  margin-top: -45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
  z-index: 1;
  width: 100%; }
  @media (min-width: 768px) {
    .s_m-main__content {
      margin-top: -60px; } }
  @media (min-width: 992px) {
    .s_m-main__content {
      margin-top: -80px; } }
  @media (min-width: 1700px) {
    .s_m-main__content {
      margin-top: -100px; } }
  .s_m-main__content .slick-track,
  .s_m-main__content .slick-slide > div,
  .s_m-main__content .slick-slide > div > div,
  .s_m-main__content .slick-slide > div > div > a {
    height: 100%;
    outline: none; }

.s_m-main--link {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 270px;
  min-width: 270px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  font-size: 20px;
  -webkit-filter: grayscale(0);
  filter: grayscale(0); }
  @media (min-width: 768px) {
    .s_m-main--link {
      width: 30vw;
      min-width: 30vw; } }
  @media (min-width: 992px) {
    .s_m-main--link {
      font-size: 28px; } }
  @media (min-width: 1200px) {
    .s_m-main--link {
      width: 25vw;
      min-width: 25vw; } }
  @media (min-width: 1700px) {
    .s_m-main--link {
      min-width: 23vw;
      width: 23vw;
      font-size: 38px; } }
  .s_m-main--link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 36, 37, 0.5);
    z-index: 1; }
  .s_m-main--link span {
    position: relative;
    z-index: 2; }
    .s_m-main--link span::after {
      content: '\e902';
      position: absolute;
      color: #FFF;
      left: 50%;
      bottom: -30px;
      -webkit-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%);
      font-family: "icomoon";
      font-size: 20px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
  .s_m-main--link:hover {
    color: #FFF;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    .s_m-main--link:hover span::after {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }

.section-menu-promo {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .section-menu-promo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/header-backdrop.png");
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    opacity: .8; }
  .section-menu-promo .s_header__social {
    display: none; }

.s_m-promo__wrap {
  position: relative;
  z-index: 2; }

.s_m-promo__content {
  position: relative;
  z-index: 2;
  height: 300px; }
  @media (min-width: 1200px) {
    .s_m-promo__content {
      height: 370px; } }

.s_m-promo__breadcrumbs {
  margin-top: 25px; }

.s_m-promo--title {
  color: #FFF;
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: normal;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 767.98px) {
    .s_m-promo--title {
      padding-top: 70px; } }
  @media (min-width: 768px) {
    .s_m-promo--title {
      height: 100%;
      font-size: 50px; } }
  @media (min-width: 1700px) {
    .s_m-promo--title {
      font-size: 70px; } }
  @media (min-width: 768px) {
    .s_m-promo--title span {
      margin-top: -10%; } }

.section-menu-nav {
  background-color: #FFF;
  -webkit-box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05); }

@media (max-width: 767.98px) {
  .s_m-nav {
    max-width: unset;
    padding: 0;
    overflow: hidden; } }

.s_m-nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }
  @media (max-width: 767.98px) {
    .s_m-nav__wrap {
      overflow-x: scroll;
      width: 100%; } }

.s_m-nav--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #BBBBBB;
  padding: 15px 0 0 0;
  white-space: nowrap;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  @media (max-width: 767.98px) {
    .s_m-nav--link {
      margin-left: 15px; } }
  @media (min-width: 768px) {
    .s_m-nav--link {
      width: 100%; } }
  @media (min-width: 992px) {
    .s_m-nav--link {
      font-size: 16px; } }
  .s_m-nav--link span {
    padding: 0 15px 7px 15px;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .s_m-nav--link:hover {
    color: #BB906A; }
  .s_m-nav--link.--current {
    color: #252425;
    pointer-events: none; }
    .s_m-nav--link.--current span {
      border-color: #BB906A; }

.section-menu-content {
  overflow: hidden; }

.s_m-content {
  position: relative; }
  .s_m-content__wrap {
    position: relative;
    min-height: 50vh;
    padding-top: 30px;
    padding-bottom: 50px;
    display: grid; }
    @media (min-width: 768px) {
      .s_m-content__wrap {
        padding-bottom: 50px;
        grid-template-columns: 1fr 3fr;
        grid-gap: 30px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
    @media (min-width: 1200px) {
      .s_m-content__wrap {
        padding-bottom: 100px;
        grid-template-columns: 1fr 4fr; } }
  .s_m-content__contents {
    position: relative;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .s_m-content__aside {
    position: relative; }
    @media (max-width: 767.98px) {
      .s_m-content__aside {
        padding-top: 30px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out; }
        .s_m-content__aside.--show {
          opacity: 1;
          visibility: visible; }
          .s_m-content__aside.--show + div {
            max-height: 350px; } }
    .s_m-content__aside::before {
      content: '';
      position: absolute;
      background-color: #F5F5F5;
      top: -30px;
      right: 0;
      bottom: -50px;
      width: 1000px;
      z-index: -1; }
      @media (max-width: 767.98px) {
        .s_m-content__aside::before {
          top: 0;
          right: -300px;
          bottom: 0; } }
  .s_m-content--aside {
    position: absolute;
    top: -10px;
    left: -5px;
    font-size: 20px;
    color: #252425;
    z-index: 2; }
    @media (min-width: 768px) {
      .s_m-content--aside {
        display: none; } }
  @media (max-width: 767.98px) {
    .s_m-content__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px; } }
  .s_m-content__list--item {
    font-family: "Cormorant", serif;
    color: #535353;
    font-style: normal;
    font-weight: bold;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    font-size: 16px;
    line-height: 22px; }
    @media (min-width: 768px) {
      .s_m-content__list--item {
        font-size: 16px;
        line-height: 26px; } }
    @media (min-width: 992px) {
      .s_m-content__list--item {
        font-size: 18px; } }
    @media (min-width: 1700px) {
      .s_m-content__list--item {
        font-size: 20px; } }
    @media (min-width: 768px) {
      .s_m-content__list--item:not(:last-child) {
        margin-bottom: 12px; } }
  .s_m-content__list--link {
    position: relative;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    .s_m-content__list--link::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 0;
      background-color: #BB906A;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
    .s_m-content__list--link:hover {
      cursor: pointer;
      color: #BB906A; }
  @media (min-width: 768px) {
    .s_m-content__list--item .s_m-content__list--link.--current {
      pointer-events: none;
      color: #BB906A;
      padding-left: 20px; } }
  @media (min-width: 768px) and (min-width: 992px) {
    .s_m-content__list--item .s_m-content__list--link.--current {
      padding-left: 30px; } }
  @media (min-width: 768px) {
      .s_m-content__list--item .s_m-content__list--link.--current::before {
        width: 13px; } }
    @media (min-width: 768px) and (min-width: 992px) {
      .s_m-content__list--item .s_m-content__list--link.--current::before {
        width: 20px; } }

.s_m-item {
  display: none; }
  .s_m-item.--show {
    display: block; }
  .s_m-item--title {
    position: relative;
    padding-top: 30px; }
    .s_m-item--title span {
      font-family: "Cormorant", serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: normal;
      color: #252425; }
      @media (min-width: 768px) {
        .s_m-item--title span {
          font-size: 28px; } }
      @media (min-width: 1700px) {
        .s_m-item--title span {
          font-size: 38px; } }
  .s_m-item--count {
    position: absolute;
    top: 0;
    right: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #BBBBBB; }
    @media (min-width: 1700px) {
      .s_m-item--count {
        font-size: 16px;
        line-height: 24px; } }
  .s_m-item__content {
    margin-top: 10px;
    display: grid; }
    @media (min-width: 1200px) {
      .s_m-item__content {
        grid-template-columns: repeat(2, 1fr); } }
  .s_m-item--position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 0; }
    @media (min-width: 1200px) {
      .s_m-item--position {
        padding: 15px 0; } }
    @media (min-width: 1700px) {
      .s_m-item--position {
        font-size: 16px;
        line-height: 24px; } }
    @media (min-width: 1200px) {
      .s_m-item--position:nth-child(odd) {
        padding-right: 15px; }
      .s_m-item--position:nth-child(even) {
        padding-left: 15px;
        border-left: 1px dashed #BB906A; } }
  .s_m-item--text {
    width: 70%;
    color: #252425; }
    @media (min-width: 768px) {
      .s_m-item--text {
        width: 60%; } }
    @media (min-width: 1200px) {
      .s_m-item--text {
        width: 70%; } }
    @media (min-width: 1700px) {
      .s_m-item--text {
        width: 60%; } }
  .s_m-item--price {
    margin-left: auto;
    color: #BB906A; }

/*# sourceMappingURL=page-menu.css.map */
