@charset "UTF-8";
/*!  
    -----------------
    Front-End: E.A. Gableev - t.me/albka 
    Pug.js + SCSS + CSS3 Mixins + Bootstrap 4.1.3 Mixins
    -----------------
    v0.1 | 30/04/2019
!*/
/*!
 * Bootstrap v4.2.1 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 0; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin: 0; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #0056b3; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: none; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  @media (min-width: 1700px) {
    .container {
      max-width: 1440px; } }

.fade {
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }
  @media screen and (prefers-reduced-motion: reduce) {
    .fade {
      -webkit-transition: none;
      transition: none; } }
  .fade:not(.show) {
    opacity: 0; }

.collapse:not(.show) {
  display: none; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease; }
  @media screen and (prefers-reduced-motion: reduce) {
    .collapsing {
      -webkit-transition: none;
      transition: none; } }

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5; }
  .close:hover {
    color: #000;
    text-decoration: none; }
  .close:not(:disabled):not(.disabled) {
    cursor: pointer; }
    .close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
      opacity: .75; }

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

a.close.disabled {
  pointer-events: none; }

.modal-open {
  overflow: hidden; }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none; }
  .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px); }
    @media screen and (prefers-reduced-motion: reduce) {
      .modal.fade .modal-dialog {
        -webkit-transition: none;
        transition: none; } }
  .modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none; }

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2)); }
  .modal-dialog-centered::before {
    display: block;
    height: calc(100vh - (0.5rem * 2));
    content: ""; }

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000; }
  .modal-backdrop.fade {
    opacity: 0; }
  .modal-backdrop.show {
    opacity: 0.5; }

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem; }
  .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto; }

.modal-title {
  margin-bottom: 0;
  line-height: 1.5; }

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem; }

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem; }
  .modal-footer > :not(:first-child) {
    margin-left: .25rem; }
  .modal-footer > :not(:last-child) {
    margin-right: .25rem; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto; }
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2)); }
    .modal-dialog-centered::before {
      height: calc(100vh - (1.75rem * 2)); }
  .modal-sm {
    max-width: 300px; } }

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px; } }

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px; } }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0; }
  .tooltip.show {
    opacity: 0.9; }
  .tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem; }
    .tooltip .arrow::before {
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid; }

.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
  padding: 0.4rem 0; }
  .bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
    bottom: 0; }
    .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
      top: 0;
      border-width: 0.4rem 0.4rem 0;
      border-top-color: #000; }

.bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
  padding: 0 0.4rem; }
  .bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^="right"] .arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem; }
    .bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
      right: 0;
      border-width: 0.4rem 0.4rem 0.4rem 0;
      border-right-color: #000; }

.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
  padding: 0.4rem 0; }
  .bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^="bottom"] .arrow {
    top: 0; }
    .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
      bottom: 0;
      border-width: 0 0.4rem 0.4rem;
      border-bottom-color: #000; }

.bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
  padding: 0 0.4rem; }
  .bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem; }
    .bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
      left: 0;
      border-width: 0.4rem 0 0.4rem 0.4rem;
      border-left-color: #000; }

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.85714%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-3by4::before {
  padding-top: 133.33333%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.w-25 {
  width: 25% !important; }

.w-50 {
  width: 50% !important; }

.w-75 {
  width: 75% !important; }

.w-100 {
  width: 100% !important; }

.w-auto {
  width: auto !important; }

.h-25 {
  height: 25% !important; }

.h-50 {
  height: 50% !important; }

.h-75 {
  height: 75% !important; }

.h-100 {
  height: 100% !important; }

.h-auto {
  height: auto !important; }

.mw-100 {
  max-width: 100% !important; }

.mh-100 {
  max-height: 100% !important; }

.min-vw-100 {
  min-width: 100vw !important; }

.min-vh-100 {
  min-height: 100vh !important; }

.vw-100 {
  width: 100vw !important; }

.vh-100 {
  height: 100vh !important; }

.visible {
  visibility: visible !important; }

.invisible {
  visibility: hidden !important; }

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  a:not(.btn) {
    text-decoration: underline; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #adb5bd;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  @page {
    size: a3; }
  body {
    min-width: 992px !important; }
  .container {
    min-width: 992px !important; }
  .navbar {
    display: none; }
  .badge {
    border: 1px solid #000; }
  .table {
    border-collapse: collapse !important; }
    .table td,
    .table th {
      background-color: #fff !important; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6 !important; }
  .table-dark {
    color: inherit; }
    .table-dark th,
    .table-dark td,
    .table-dark thead th,
    .table-dark tbody + tbody {
      border-color: #dee2e6; }
  .table .thead-dark th {
    color: inherit;
    border-color: #dee2e6; } }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
------------------------------------------------------------- */
.clear-list, .c_nav-panel__list, .c_breadcrumbs__list, .s_header__nav-list, .s_footer__nav {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }

.clear-button, .c_datepicker--close {
  outline: none !important;
  border: none;
  padding: 0; }

.shadow-button, .ui_button.--default:hover, .ui_button.--outline.--secondary:hover, .c_datepicker {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); }

.line-block-t-r::after, .c_poster-card__wrap::after, .line-block-b-l::before, .c_poster-card__wrap::before {
  content: '';
  position: absolute;
  width: 294px;
  height: 129px;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1; }

.line-block-t-r::after, .c_poster-card__wrap::after {
  top: -15px;
  right: -30px;
  background-image: url("../img/line-t-r.png"); }

.line-block-b-l::before, .c_poster-card__wrap::before {
  bottom: -20px;
  left: -30px;
  background-image: url("../img/line-b-l.png"); }

@media (min-width: 768px) {
  .line-container, .line-container-pseudo, .s_header__wrap {
    border-left: 1px solid rgba(187, 187, 187, 0.2);
    border-right: 1px solid rgba(187, 187, 187, 0.2); } }
  @media (min-width: 768px) and (min-width: 992px) {
    .line-container--wrap::after, .line-container-pseudo::after, .line-container--wrap::before, .line-container-pseudo::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      border-left: 1px solid rgba(187, 187, 187, 0.2);
      z-index: 1; }
    .line-container--wrap::before, .line-container-pseudo::before {
      left: 50px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 992px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 190px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 180px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1700px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 210px; } }

.line-container-pseudo {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1; }
  @media (max-width: 767.98px) {
    .line-container-pseudo {
      display: none !important; } }
  .line-container-pseudo + div {
    z-index: 2; }

.section-promo {
  position: relative;
  height: 100vh;
  overflow: hidden;
  min-height: 500px;
  max-height: 1100px; }

.test-grid {
  display: grid;
  margin-top: 50px;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .test-grid-4 {
      grid-template-columns: repeat(4, 1fr); } }
  .test-grid-4 pre {
    margin-top: 30px; }
  .test-grid-title {
    font-size: 30px;
    font-family: "Cormorant", serif; }
    @media (min-width: 768px) {
      .test-grid-title {
        grid-column: span 4; } }

.test-inner-grid {
  display: grid; }
  @media (min-width: 768px) {
    .test-inner-grid {
      grid-column: span 4; } }

html {
  height: auto;
  min-height: 100%; }

body {
  min-width: 320px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-size: 14px;
  height: auto;
  background-image: none;
  min-height: 100%; }
  @media (min-width: 1700px) {
    body {
      font-size: 16px; } }

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?f16hgu");
  src: url("../fonts/icomoon.eot?f16hgu#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?f16hgu") format("truetype"), url("../fonts/icomoon.woff?f16hgu") format("woff"), url("../fonts/icomoon.svg?f16hgu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu-second:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-tripadvisor-logotype:before {
  content: ""; }

.icon-vk:before {
  content: ""; }

.icon-small-arrow-right:before {
  content: ""; }

.icon-small-arrow-left:before {
  content: ""; }

.icon-arrow-down:before {
  content: ""; }

.icon-arrow-left:before {
  content: ""; }

.icon-arrow-right:before {
  content: ""; }

.icon-bung:before {
  content: ""; }

.icon-calendar:before {
  content: ""; }

.icon-coffee-table:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

.icon-cook:before {
  content: ""; }

.icon-cross-out:before {
  content: ""; }

.icon-dinner:before {
  content: ""; }

.icon-pastry-chef:before {
  content: ""; }

.icon-phone-call:before {
  content: ""; }

.icon-placeholder:before {
  content: ""; }

.icon-pot:before {
  content: ""; }

.icon-sommelier:before {
  content: ""; }

.icon-time:before {
  content: ""; }

.icon-wine-shope:before {
  content: ""; }

.icon-wine:before {
  content: ""; }

.icon-youtube:before {
  content: ""; }

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.ui_button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
  letter-spacing: 1px;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #BB906A;
  border: 1px solid transparent;
  background-color: transparent;
  height: 34px;
  padding: 0 15px;
  border: 1px solid transparent;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  @media (min-width: 1700px) {
    .ui_button {
      line-height: 16px;
      font-size: 16px; } }
  .ui_button i {
    font-size: 1.05em; }
    .ui_button i[data-button-icon='left'] {
      margin-left: -3px;
      margin-right: 7px; }
    .ui_button i[data-button-icon='right'] {
      margin-right: -3px;
      margin-left: 7px; }
  .ui_button:not(.--default):hover, .ui_button:not(.--outline):hover, .ui_button:not(.--invert):hover {
    color: #000000; }
  .ui_button:not(.--default):active, .ui_button:not(.--outline):active, .ui_button:not(.--invert):active {
    color: #835d3c; }
  .ui_button.--invert:hover {
    color: #FFF; }
  .ui_button.--invert:active {
    color: #835d3c; }
  .ui_button.--transparent {
    padding: 0; }
  .ui_button.--text {
    pointer-events: none; }
  .ui_button.--default {
    background-color: #BB906A;
    color: #000000; }
    .ui_button.--default:hover {
      background-color: #252425;
      color: #FFF; }
  .ui_button.--outline.--secondary {
    border-color: #000000;
    color: #000000; }
    .ui_button.--outline.--secondary:hover {
      background-color: #FFF;
      border-color: #FFF; }
  .ui_button.--outline.--default {
    border-color: #BB906A;
    color: #FFF;
    background-color: transparent; }
    .ui_button.--outline.--default:hover {
      background-color: #BB906A; }
  .ui_button.--outline.--light {
    border-color: #FFF;
    color: #FFF; }
    .ui_button.--outline.--light:hover {
      border-color: transparent; }
  .ui_button.--outline.--arrow {
    padding: 0;
    width: 36px; }
  .ui_button:hover {
    cursor: pointer; }
  .ui_button[disabled] {
    opacity: .7;
    pointer-events: none; }

.c_nav-panel {
  position: fixed;
  top: 0;
  height: 100vh;
  right: 100px;
  background-color: transparent;
  border-right: 1px solid rgba(187, 187, 187, 0.25);
  width: 45px;
  -webkit-transition: border .15s ease-in-out;
  transition: border .15s ease-in-out;
  z-index: 900; }
  @media (max-width: 1199.98px) {
    .c_nav-panel {
      display: none; } }
  .c_nav-panel__list {
    margin-top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .c_nav-panel__list--item {
      height: 10px; }
      .c_nav-panel__list--item:not(:last-of-type) {
        margin-bottom: 20px; }
    .c_nav-panel__list--link {
      display: block;
      width: 12px;
      height: 12px;
      background-color: transparent;
      border: 2px solid rgba(187, 187, 187, 0.25);
      border-radius: 50%;
      -webkit-transition: all .15s ease-in-out;
      transition: all .15s ease-in-out; }
      @media (min-width: 1700px) {
        .c_nav-panel__list--link {
          width: 13px;
          height: 13px; } }
      .c_nav-panel__list--link:hover:not(.--current) {
        opacity: .5; }
      .c_nav-panel__list--link.--current {
        background-color: #BBBBBB; }

.c_breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #BBBBBB; }
  .c_breadcrumbs__list--link {
    color: #BBBBBB;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    .c_breadcrumbs__list--link:hover {
      color: #FFF; }
  .c_breadcrumbs__list--item::after {
    content: '/'; }

.ui_form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }
  .ui_form-input ._label {
    color: #BBBBBB;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.05em;
    margin-bottom: 7px; }
    .ui_form-input ._label span {
      color: #cb1411; }
  .ui_form-input ._input,
  .ui_form-input ._textarea {
    outline: none;
    padding: 0 15px;
    color: #FFF;
    height: 34px;
    background-color: #252425 !important;
    border: 0;
    width: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto Condensed", sans-serif; }
  .ui_form-input ._icon-field {
    position: relative; }
    .ui_form-input ._icon-field > ._input {
      padding-right: 45px; }
    .ui_form-input ._icon-field::before {
      position: absolute;
      top: 0;
      right: 15px;
      height: 34px;
      font-size: 16px;
      line-height: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #BBBBBB;
      cursor: pointer; }
  .ui_form-input ._input::-webkit-clear-button, .ui_form-input ._input::-ms-clear {
    display: none; }
  .ui_form-input ._input::-webkit-inner-spin-button, .ui_form-input ._input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; }
  .ui_form-input ._input::-webkit-search-cancel-button {
    -webkit-appearance: none; }
  .ui_form-input ._input::-webkit-search-results-button {
    -webkit-appearance: none; }
  .ui_form-input ._input[type=search] {
    -webkit-appearance: none; }
  .ui_form-input ._textarea {
    padding: 10px 15px;
    height: unset;
    resize: none; }
    .ui_form-input ._textarea::-webkit-scrollbar {
      width: 7px; }
    .ui_form-input ._textarea::-webkit-scrollbar-track {
      background: #252425; }
    .ui_form-input ._textarea::-webkit-scrollbar-thumb {
      background: #BB906A; }
    .ui_form-input ._textarea::-webkit-scrollbar-thumb:hover {
      background: #FFF;
      cursor: pointer; }

.c_datepicker {
  position: relative;
  background-color: #252425;
  padding: 20px 15px 10px 15px;
  color: #FFF;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .c_datepicker.--show {
    opacity: 1;
    visibility: visible; }
  .c_datepicker--title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    padding-right: 50px;
    margin-bottom: 25px; }
    @media (min-width: 768px) {
      .c_datepicker--title {
        font-size: 18px;
        line-height: 18px; } }
  .c_datepicker--close {
    position: absolute;
    top: 17px;
    right: 15px;
    background-color: transparent;
    color: #BBBBBB;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    .c_datepicker--close:hover {
      cursor: pointer;
      color: #BB906A; }
  .c_datepicker .datepicker-switch {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center; }
    @media (min-width: 768px) {
      .c_datepicker .datepicker-switch {
        font-size: 16px;
        line-height: 16px; } }
  .c_datepicker .datepicker .prev,
  .c_datepicker .datepicker .next {
    position: relative;
    background-color: transparent;
    color: #FFF;
    text-indent: -9999px;
    overflow: hidden; }
    .c_datepicker .datepicker .prev::after,
    .c_datepicker .datepicker .next::after {
      text-indent: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-family: "icomoon";
      color: #BBBBBB;
      font-size: 14px;
      -webkit-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }
    .c_datepicker .datepicker .prev:hover,
    .c_datepicker .datepicker .next:hover {
      cursor: pointer; }
      .c_datepicker .datepicker .prev:hover::after,
      .c_datepicker .datepicker .next:hover::after {
        color: #BB906A; }
  .c_datepicker .datepicker .prev::after {
    left: 0;
    content: '\e90c'; }
  .c_datepicker .datepicker .next::after {
    content: '\e901';
    right: 0; }
  .c_datepicker .datepicker-days .table-condensed {
    width: 100%; }
    .c_datepicker .datepicker-days .table-condensed .dow {
      padding: 10px 0 10px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #BBBBBB; }
      @media (min-width: 992px) {
        .c_datepicker .datepicker-days .table-condensed .dow {
          padding: 25px 0 10px 0; } }
    .c_datepicker .datepicker-days .table-condensed tfoot {
      padding-top: 10px; }
      .c_datepicker .datepicker-days .table-condensed tfoot th {
        padding: 10px 0;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out; }
        .c_datepicker .datepicker-days .table-condensed tfoot th:hover {
          cursor: pointer; }
  .c_datepicker .datepicker-days .day {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    height: 34px;
    width: 34px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }
    @media (min-width: 768px) {
      .c_datepicker .datepicker-days .day {
        font-size: 16px;
        line-height: 16px;
        height: 40px;
        width: 40px; } }
    .c_datepicker .datepicker-days .day:hover {
      cursor: pointer; }
    .c_datepicker .datepicker-days .day.new, .c_datepicker .datepicker-days .day.old {
      color: #535353;
      font-weight: 300; }
    .c_datepicker .datepicker-days .day.today {
      background-color: rgba(187, 144, 106, 0.5); }
    .c_datepicker .datepicker-days .day.active {
      background-color: #BB906A;
      color: #FFF; }
    .c_datepicker .datepicker-days .day.disabled {
      pointer-events: none;
      color: #535353; }

.ui_modal {
  color: #FFF; }
  @media (min-width: 768px) {
    .ui_modal--large {
      max-width: 600px; } }
  .ui_modal__title {
    border: none; }
    @media (max-width: 767.98px) {
      .ui_modal__title {
        padding-bottom: 0; } }
  .ui_modal--title {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal; }
    @media (min-width: 768px) {
      .ui_modal--title {
        font-size: 28px; } }
  @media (max-width: 767.98px) {
    .ui_modal--close {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px); } }
  .ui_modal--close:hover {
    color: #FFF !important; }
  .ui_modal__reserv {
    display: grid;
    grid-gap: 15px; }
    @media (min-width: 768px) {
      .ui_modal__reserv {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px 20px; }
        .ui_modal__reserv--title,
        .ui_modal__reserv .ui_modal--success {
          grid-column: span 2; } }
  .ui_modal--success {
    padding: 30px 0;
    text-align: center; }
  .ui_modal__course {
    display: grid;
    grid-gap: 15px; }
    .ui_modal__course + .ui_modal__footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .ui_modal__footer {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767.98px) {
      .ui_modal__footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap; } }
    @media (min-width: 768px) {
      .ui_modal__footer {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding-bottom: 20px !important; } }
  .ui_modal--submit {
    min-width: 100%; }
    @media (min-width: 768px) {
      .ui_modal--submit {
        min-width: 160px; } }
  .ui_modal--message {
    color: #BBBBBB;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em; }
    @media (max-width: 767.98px) {
      .ui_modal--message {
        margin: 15px 0 0 0 !important;
        text-align: center; } }
    @media (min-width: 768px) {
      .ui_modal--message {
        margin-left: 15px !important; } }
  .ui_modal ._error {
    font-size: .6em;
    color: red; }
  @media (min-width: 768px) {
    .ui_modal .modal-dialog {
      height: 100vh;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .ui_modal .modal-content {
    background-color: #252425;
    background-image: url("../img/features-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    border: none; }

.c_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px; }
  .c_title--text {
    position: relative;
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px; }
    @media (min-width: 576px) {
      .c_title--text {
        font-size: 24px; } }
    @media (min-width: 992px) {
      .c_title--text {
        font-size: 28px; } }
    @media (min-width: 1700px) {
      .c_title--text {
        font-size: 38px; } }
    .c_title--text::before, .c_title--text::after {
      content: '~';
      position: absolute;
      top: 45%;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      color: #BB906A;
      font-weight: bold;
      font-size: 1.3em;
      line-height: 1px; }
    .c_title--text::before {
      left: -20px; }
      @media (min-width: 768px) {
        .c_title--text::before {
          left: -25px; } }
      @media (min-width: 1700px) {
        .c_title--text::before {
          left: -30px; } }
    .c_title--text::after {
      right: -20px; }
      @media (min-width: 768px) {
        .c_title--text::after {
          right: -25px; } }
      @media (min-width: 1700px) {
        .c_title--text::after {
          right: -30px; } }
    .c_title--text span {
      color: #BB906A;
      text-transform: uppercase; }
  .c_title--subtext {
    color: #BB906A;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.05em; }
    @media (min-width: 1700px) {
      .c_title--subtext {
        font-size: 14px; } }
  .c_title.--white .c_title--text {
    color: #FFF; }
  .c_title.--dark .c_title--text {
    color: #252425; }

@media (min-width: 992px) {
  .c_poster-card {
    padding: 15px 30px 20px 30px; } }

.c_poster-card[data-poster-date] {
  position: relative; }
  .c_poster-card[data-poster-date]::before {
    content: attr(data-poster-date);
    position: absolute;
    bottom: 40%;
    left: -35px;
    font-style: normal;
    font-style: normal;
    font-weight: bold;
    color: #BB906A;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 18px;
    line-height: 18px; }
    @media (min-width: 992px) {
      .c_poster-card[data-poster-date]::before {
        left: -20px;
        font-size: 22px;
        line-height: 22px; } }
    @media (min-width: 1700px) {
      .c_poster-card[data-poster-date]::before {
        bottom: 30%;
        left: -40px;
        font-size: 36px;
        line-height: 36px; } }
  @media (min-width: 992px) {
    .c_poster-card[data-poster-date]::after {
      content: '';
      position: absolute;
      top: 30px;
      left: 34px;
      height: 85%;
      width: 10px;
      background-color: #FFF; } }
  @media (min-width: 992px) and (min-width: 1700px) {
    .c_poster-card[data-poster-date]::after {
      left: 49px; } }

.c_poster-card[data-poster-date] .c_poster-card__wrap {
  padding-left: 15px; }
  @media (max-width: 991.98px) {
    .c_poster-card[data-poster-date] .c_poster-card__wrap {
      margin-left: 10px;
      background-color: #FFF; } }
  @media (min-width: 992px) {
    .c_poster-card[data-poster-date] .c_poster-card__wrap {
      padding-left: 25px; } }
  @media (min-width: 1700px) {
    .c_poster-card[data-poster-date] .c_poster-card__wrap {
      padding-left: 45px; } }

@media (min-width: 1200px) and (max-width: 1699.98px) {
  .c_poster-card[data-poster-date] .c_poster-card__desc {
    padding-right: 70px; } }

.c_poster-card__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }
  @media (max-width: 991.98px) {
    .c_poster-card__wrap::after, .c_poster-card__wrap::before {
      display: none; } }

.c_poster-card__tags {
  margin-bottom: 5px; }
  @media (min-width: 992px) {
    .c_poster-card__tags {
      margin-bottom: 10px; } }
  .c_poster-card__tags--link {
    color: #BBBBBB;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    .c_poster-card__tags--link:hover {
      color: #252425; }
    .c_poster-card__tags--link:not(:last-child) {
      margin-right: 20px; }
    .c_poster-card__tags--link:nth-child(n+4) {
      display: none; }

.c_poster-card--title {
  margin-bottom: 15px;
  color: #252425;
  font-style: normal;
  font-weight: normal;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
  font-size: 18px;
  line-height: 18px;
  height: 18px; }
  @media (min-width: 1200px) {
    .c_poster-card--title {
      height: 22px;
      font-size: 22px;
      line-height: 22px; } }
  @media (min-width: 1700px) {
    .c_poster-card--title {
      height: 28px;
      font-size: 28px;
      line-height: 28px; } }
  .c_poster-card--title:hover {
    color: #BB906A; }

.c_poster-card__desc {
  font-style: normal;
  font-weight: normal;
  color: #535353;
  overflow: hidden;
  font-size: 14px;
  line-height: 22px; }
  @media (min-width: 768px) {
    .c_poster-card__desc {
      height: 88px; } }
  @media (min-width: 1700px) {
    .c_poster-card__desc {
      font-size: 16px;
      line-height: 30px;
      height: 120px; } }

.c_poster-card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px; }
  @media (min-width: 1700px) {
    .c_poster-card__bottom {
      margin-top: 30px; } }

.c_poster-card__price {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin-right: 25px; }
  @media (min-width: 992px) {
    .c_poster-card__price {
      margin-right: 35px;
      font-size: 18px;
      line-height: 20px; } }

.c_poster-card--more {
  min-width: 160px; }

.c_news-card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  display: grid;
  z-index: 2; }
  @media (min-width: 768px) {
    .c_news-card {
      grid-template-columns: repeat(2, 1fr); } }
  .c_news-card__imagebox {
    height: 230px; }
    @media (max-width: 575.98px) {
      .c_news-card__imagebox {
        margin: 0 -15px; } }
    @media (max-width: 767.98px) {
      .c_news-card__imagebox {
        grid-row: 1; } }
    @media (min-width: 768px) {
      .c_news-card__imagebox {
        height: 300px; } }
    @media (min-width: 1200px) {
      .c_news-card__imagebox {
        height: 320px; } }
    @media (min-width: 1700px) {
      .c_news-card__imagebox {
        height: 385px; } }
    .c_news-card__imagebox img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .c_news-card__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0; }
    @media (min-width: 768px) {
      .c_news-card__content {
        padding: 20px 15px 20px 20px; } }
    @media (min-width: 1700px) {
      .c_news-card__content {
        padding: 30px 20px 30px 30px; } }
    .c_news-card__content::after {
      content: '';
      position: absolute;
      right: -12px;
      width: 25px;
      height: 25px;
      background-color: #FFF; }
      @media (max-width: 767.98px) {
        .c_news-card__content::after {
          top: -12px;
          left: 50%;
          -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg); } }
      @media (min-width: 768px) {
        .c_news-card__content::after {
          top: 50%;
          right: -12px;
          -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg); } }
  .c_news-card--date {
    width: 100%;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    color: #BBBBBB;
    font-size: 14px;
    line-height: 14px; }
    @media (max-width: 767.98px) {
      .c_news-card--date {
        margin-bottom: 5px; } }
    @media (min-width: 1700px) {
      .c_news-card--date {
        font-size: 16px;
        line-height: 16px; } }
  .c_news-card--title {
    font-style: normal;
    font-weight: normal;
    color: #000000;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px; }
    @media (min-width: 768px) {
      .c_news-card--title {
        font-size: 18px;
        line-height: 27px; } }
    @media (min-width: 768px) and (max-width: 1199.98px) {
      .c_news-card--title {
        max-height: 54px; } }
    @media (min-width: 1200px) {
      .c_news-card--title {
        height: 54px; } }
    @media (min-width: 1700px) {
      .c_news-card--title {
        font-size: 20px;
        line-height: 28px;
        height: 56px; } }
    .c_news-card--title:hover {
      color: #BB906A; }
  .c_news-card--price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 767.98px) {
      .c_news-card--price {
        margin-bottom: 15px; } }
    .c_news-card--price ._value {
      margin-right: 15px;
      color: #252425;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: normal; }
      @media (min-width: 1700px) {
        .c_news-card--price ._value {
          font-size: 28px; } }
    .c_news-card--price ._info {
      color: #BBBBBB;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px; }
      @media (min-width: 768px) and (max-width: 1699.98px) {
        .c_news-card--price ._info {
          font-size: 12px;
          line-height: 18px; } }
  .c_news-card--info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #BBBBBB; }
    @media (max-width: 767.98px) {
      .c_news-card--info {
        margin-bottom: 10px; } }
    .c_news-card--info ._year {
      background-color: #BB906A;
      color: #FFF;
      padding: 0 12px;
      font-size: 14px;
      line-height: 27px;
      margin-top: -5px; }
  .c_news-card--desc {
    font-style: normal;
    font-weight: normal;
    overflow: hidden;
    font-size: 14px;
    line-height: 22px; }
    @media (min-width: 768px) {
      .c_news-card--desc {
        height: 66px; } }
    @media (max-width: 767.98px) {
      .c_news-card--desc {
        margin: 15px 0 20px 0; } }
    @media (min-width: 1200px) {
      .c_news-card--desc {
        height: 88px; } }
    @media (min-width: 1700px) {
      .c_news-card--desc {
        font-size: 16px;
        line-height: 24px;
        height: 96px; } }
  .c_news-card--link {
    min-width: 160px; }
    @media (max-width: 767.98px) {
      .c_news-card--link {
        width: 100%; } }

.s_news-card-grid {
  display: grid; }
  @media (min-width: 768px) and (max-width: 1199.98px) {
    .s_news-card-grid .c_news-card:nth-child(2n+2) .c_news-card__imagebox {
      grid-column: 1; }
    .s_news-card-grid .c_news-card:nth-child(2n+2) .c_news-card__content {
      grid-row: 1;
      grid-column: 2; }
      .s_news-card-grid .c_news-card:nth-child(2n+2) .c_news-card__content::after {
        right: unset;
        left: -12px; }
    .s_news-card-grid .c_news-card:nth-child(2n+2) .c_news-card--date {
      text-align: left; } }
  @media (min-width: 1200px) {
    .s_news-card-grid {
      grid-template-columns: repeat(2, 1fr); }
      .s_news-card-grid .c_news-card:nth-child(4n+3) .c_news-card__imagebox, .s_news-card-grid .c_news-card:nth-child(4n+4) .c_news-card__imagebox {
        grid-column: 1; }
      .s_news-card-grid .c_news-card:nth-child(4n+3) .c_news-card__content, .s_news-card-grid .c_news-card:nth-child(4n+4) .c_news-card__content {
        grid-row: 1;
        grid-column: 2; }
        .s_news-card-grid .c_news-card:nth-child(4n+3) .c_news-card__content::after, .s_news-card-grid .c_news-card:nth-child(4n+4) .c_news-card__content::after {
          right: unset;
          left: -12px; }
      .s_news-card-grid .c_news-card:nth-child(4n+3) .c_news-card--date, .s_news-card-grid .c_news-card:nth-child(4n+4) .c_news-card--date {
        text-align: left; } }

.s_header {
  height: 45px;
  min-height: 45px;
  display: grid;
  grid-template-columns: 60px 1fr; }
  @media (min-width: 768px) {
    .s_header {
      height: 60px;
      min-height: 60px;
      grid-template-columns: 80px 1fr; } }
  @media (min-width: 992px) {
    .s_header {
      grid-template-columns: 130px 1fr;
      padding-left: 45px;
      height: 80px;
      min-height: 80px; } }
  @media (min-width: 1200px) {
    .s_header {
      grid-template-columns: 120px 1fr; } }
  @media (min-width: 1700px) {
    .s_header {
      grid-template-columns: 150px 1fr;
      height: 100px;
      min-height: 100px; } }
  .s_header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: 100%; }
  @media (min-width: 768px) {
    .s_header__content {
      height: calc(100% - 60px); } }
  @media (min-width: 992px) {
    .s_header__content {
      height: calc(100% - 80px); } }
  @media (min-width: 1700px) {
    .s_header__content {
      height: calc(100% - 100px); } }
  .s_header--logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (min-width: 992px) {
      .s_header--logo {
        padding-right: 15px; } }
    .s_header--logo img {
      width: 100%; }
  .s_header__social {
    position: absolute;
    bottom: 30px;
    left: 15px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-transform: scale(-1);
    transform: scale(-1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 991.98px) {
      .s_header__social {
        display: none; } }
    .s_header__social a {
      color: #FFF;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: normal;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
      .s_header__social a:hover {
        color: #BB906A; }
      @media (min-width: 1700px) {
        .s_header__social a {
          font-size: 16px; } }
      .s_header__social a:not(:last-child) {
        margin-bottom: 40px; }
  @media (max-width: 991.98px) {
    .s_header__nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #252425;
      z-index: 1100;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateX(100%);
      transform: translateX(100%); }
      .s_header__nav.--show {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0);
        transform: translateX(0); } }
  .s_header__nav-wrap {
    height: 100%; }
    @media (max-width: 991.98px) {
      .s_header__nav-wrap {
        position: relative;
        padding-top: 85px;
        padding-bottom: 50px; } }
    @media (min-width: 992px) {
      .s_header__nav-wrap {
        max-width: unset;
        padding-left: 0;
        padding-right: 0; } }
  @media (min-width: 992px) {
    .s_header__nav--logo, .s_header__nav--close, .s_header__nav--social, .s_header__nav--menu {
      display: none; } }
  @media (max-width: 991.98px) {
    .s_header__nav--menu {
      font-size: 24px;
      color: #FFF;
      position: absolute;
      top: 10px;
      right: 15px; }
    .s_header__nav--logo {
      position: absolute;
      top: 15px;
      left: 15px;
      width: 80px; }
      .s_header__nav--logo img {
        width: 100%; }
    .s_header__nav--close {
      position: absolute;
      top: 25px;
      right: 15px;
      color: #FFF; } }
  @media (max-width: 991.98px) and (max-width: 767.98px) {
    .s_header__nav--close {
      right: 0px;
      top: 20px; } }
  @media (max-width: 991.98px) {
    .s_header__nav--social {
      position: absolute;
      bottom: 15px;
      right: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
      .s_header__nav--social a {
        color: #FFF;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: normal; }
        .s_header__nav--social a:not(:last-child) {
          margin-bottom: 50px; } }
      @media (max-width: 991.98px) and (max-width: 767.98px) {
        .s_header__nav--social a:not(:last-child) {
          margin-bottom: 35px; } }
  @media (max-width: 991.98px) {
        .s_header__nav--social a:hover {
          color: #FFF; } }
  .s_header__nav-list {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 991.98px) {
      .s_header__nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap; } }
    @media (min-width: 992px) {
      .s_header__nav-list {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        border-bottom: 1px solid rgba(187, 187, 187, 0.2);
        margin-right: -15px;
        padding-right: 15px; } }
    @media (min-width: 992px) {
      .s_header__nav-list--item {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media (max-width: 991.98px) {
      .s_header__nav-list--item:not(:last-child) {
        margin-bottom: 35px; } }
  @media (max-width: 991.98px) and (max-width: 767.98px) {
    .s_header__nav-list--item:not(:last-child) {
      margin-bottom: 25px; } }
    @media (min-width: 992px) {
      .s_header__nav-list--item:not(:last-child) {
        margin-right: 20px; } }
  @media (min-width: 992px) and (min-width: 1200px) {
    .s_header__nav-list--item:not(:last-child) {
      margin-right: 30px; } }
    .s_header__nav-list--link {
      position: relative;
      color: #FFF; }
      @media (max-width: 991.98px) {
        .s_header__nav-list--link {
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 24px; } }
  @media (max-width: 991.98px) and (max-width: 767.98px) {
    .s_header__nav-list--link {
      font-size: 20px;
      line-height: 20px; } }
      @media (min-width: 992px) {
        .s_header__nav-list--link {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: normal; } }
      @media (min-width: 1700px) {
        .s_header__nav-list--link {
          font-size: 16px; } }
      .s_header__nav-list--link::after {
        content: '';
        position: absolute;
        width: 10%;
        left: 0;
        bottom: -5px;
        height: 2px;
        background-color: #FFF;
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
        opacity: 0;
        visibility: hidden; }
      .s_header__nav-list--link:hover {
        color: #FFF; }
        @media (min-width: 992px) {
          .s_header__nav-list--link:hover::after {
            width: 90%;
            opacity: 1;
            visibility: visible; } }
      .s_header__nav-list--link.--current {
        color: #FFF; }
        .s_header__nav-list--link.--current:after {
          width: 90%;
          opacity: 1;
          visibility: visible;
          background-color: #BB906A; }

@media (max-width: 991.98px) {
  body.js_menu-open {
    overflow: hidden; }
    body.js_menu-open .section-poster-content {
      position: relative;
      z-index: 1; } }

.section-footer {
  position: relative;
  padding: 30px 0 20px 0;
  background-image: url("../img/features-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  z-index: 1000; }

.s_footer {
  display: grid;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  grid-gap: 20px; }
  @media (min-width: 768px) {
    .s_footer {
      grid-template-columns: 55px 1fr;
      grid-gap: 10px 30px; } }
  @media (min-width: 992px) {
    .s_footer {
      grid-template-columns: 65px 2fr 1fr;
      grid-gap: 15px 30px; } }
  @media (min-width: 1200px) {
    .s_footer {
      grid-gap: 20px 30px;
      grid-template-columns: 100px 3fr 1fr; } }
  @media (min-width: 1700px) {
    .s_footer {
      grid-gap: 20px 60px; } }
  @media (max-width: 767.98px) {
    .s_footer--logo {
      display: none; } }
  @media (min-width: 768px) {
    .s_footer--logo {
      grid-row: span 4; } }
  @media (min-width: 992px) {
    .s_footer--logo {
      grid-row: span 3; } }
  @media (min-width: 1200px) {
    .s_footer--logo {
      -ms-flex-item-align: center;
      align-self: center; } }
  .s_footer--logo img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain; }
  .s_footer__nav {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px; }
    @media (max-width: 767.98px) {
      .s_footer__nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px; } }
    @media (min-width: 768px) {
      .s_footer__nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        white-space: nowrap; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_footer__nav {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    @media (min-width: 992px) {
      .s_footer__nav {
        grid-column: span 2; } }
    @media (min-width: 992px) {
      .s_footer__nav--item:not(:last-child) {
        margin-right: 30px; } }
    .s_footer__nav--link {
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      color: #FFF; }
      .s_footer__nav--link:hover {
        color: #BB906A; }
  .s_footer__contact--link {
    text-transform: unset;
    font-size: 14px;
    line-height: 14px; }
    .s_footer__contact--link:not(:last-child) {
      margin-right: 30px; }
      @media (min-width: 1700px) {
        .s_footer__contact--link:not(:last-child) {
          margin-right: 100px; } }
  .s_footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 992px) {
      .s_footer__social {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; } }
    .s_footer__social i {
      font-size: 16px; }
      @media (min-width: 1200px) {
        .s_footer__social i {
          font-size: 20px; } }
    .s_footer__social--link {
      margin-left: 15px; }
  .s_footer__copyring {
    color: #BBBBBB;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal; }
    @media (min-width: 992px) {
      .s_footer__copyring {
        font-size: 14px; } }

.ui_debugger {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px 15px;
  background-color: #5e35b1;
  color: #fff;
  z-index: 1200; }
  .ui_debugger-item {
    font-size: 14px;
    line-height: 24px;
    border-bottom: 1px dashed #fff; }
    .ui_debugger-item:last-child {
      border-bottom: none; }
    .ui_debugger-item.--media::after {
      text-transform: uppercase; }
      @media (max-width: 344.98px) {
        .ui_debugger-item.--media::after {
          content: 'xv'; } }
      @media (max-width: 575.98px) {
        .ui_debugger-item.--media::after {
          content: 'xs'; } }
      @media (min-width: 576px) and (max-width: 767.98px) {
        .ui_debugger-item.--media::after {
          content: 'sm'; } }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .ui_debugger-item.--media::after {
          content: 'md'; } }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .ui_debugger-item.--media::after {
          content: 'lg'; } }
      @media (min-width: 1200px) and (max-width: 1699.98px) {
        .ui_debugger-item.--media::after {
          content: 'xl'; } }
      @media (min-width: 1700px) {
        .ui_debugger-item.--media::after {
          content: 'xg'; } }

._error {
  font-size: 0.6em; }

/*# sourceMappingURL=style.css.map */
