section.section-course-promo(style='background-image: url("https://leeucollection.com/images/uploads/hero/Wine%20Studio_02.jpg")')
    +section-header('s_c-promo__wrap')
        .s_header__content.s_c-promo__content
            ul.s_c-promo__breadcrumbs.c_breadcrumbs__list
                li.c_breadcrumbs__list--item
                    a.c_breadcrumbs__list--link(href='#!') Главная
                li.c_breadcrumbs__list--item
                    a.c_breadcrumbs__list--link(href='#!') Новости
                li.c_breadcrumbs__list--item Эногастрономический ужин Casa Santos Lima 5 февраля
            .s_c-promo__title
                button.s_c-promo--back.ui_button.--transparent(type='button') 
                    i.icon-small-arrow-left
                .s_c-promo--title Школа вина (общий курс)