include ../../mixins/_mixins-command-card.pug

section.section-course-info
    .s_c-info.container
        .line-container--wrap
        .s_c-info__wrap
            .s_c-info__content
                .s_c-info__list-wrap
                    .s_c-info__list--title На курсе вы узнаете:
                    ul.s_c-info__list
                        li.s_c-info__list--item Основные регионы и технологии производства вина
                        li.s_c-info__list--item Основные сорта винограда и какие вина производят из них
                        li.s_c-info__list--item Как правильно дегустировать вино и понимать его ароматы
                        li.s_c-info__list--item Какие винные бокалы держать дома
                        li.s_c-info__list--item Как подобрать гастрономическую пару к вину
                        li.s_c-info__list--item Что скрыто за винной этикеткой
                .s_c-info__list-wrap
                    .s_c-info__list--title После курсов вы сможете:
                    ul.s_c-info__list
                        li.s_c-info__list--item Самостоятельно выбирать вино
                        li.s_c-info__list--item Проводить оригинальные вечеринки с дегустациями в кругу друзей и знакомых
                        li.s_c-info__list--item Наслаждаться каждым выпитым бокалом
                .s_c-info__list-wrap
                    .s_c-info__list--title Как проходит обучение?
                    ul.s_c-info__list
                        li.s_c-info__list--item Курс состоит из 11 занятий, которые проходят каждый вторник с 18.30 до 22.00
                        li.s_c-info__list--item Обучение проходит на собственной площадке в самом центре города
                        li.s_c-info__list--item Занятия проводит сертифицированный специалист
                        li.s_c-info__list--item На каждом занятии проводятся дегустации
            .s_c-info__teacher
                +c_command-card({
                    'prof': 'менеджер',
                    'img': 'https://content.onliner.by/news/1100x5616/45082f1a0bc6d194f724cc03b1a83238.jpeg',
                    'name': 'Ирина Андрончик',
                    'desc': 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. '
                })
