section.section-course-program 
    
    .s_c-program.container
        .line-container--wrap
        .s_c-program--title Учебная программа
        .s_c-program__content
            .s_c-program-item
                .s_c-program-item--count 01
                .s_c-program-item--date 26.02.2019
                .s_c-program-item--title Что нужно знать о вине
                .s_c-program-item--text 
                    p Что влияет на вкус и аромат вина?
                    p Основы производства белого, розового и красного вина.
                    p Добавка Е220: зачем она нужна и можно ли обойтись без нее?
                    p Форма и размер бутылок.
                    p Виды пробки.
                    p Классификация вин по уровню качества.
                    p Что влияет на цену вина?
                    p Как дегустировать вино?     
            .s_c-program-item
                .s_c-program-item--count 02
                .s_c-program-item--date 29.02.2019
                .s_c-program-item--title Основные винодельческие сорта винограда
                .s_c-program-item--text 
                    p Влияние климата на стиль вина.
                    p Обзор основных красных сортов винограда.
                    p Обзор основных белых сортов винограда.
            .s_c-program-item
                .s_c-program-item--count 03
                .s_c-program-item--date 02.03.2019
                .s_c-program-item--title Хранение и наслаждение
                .s_c-program-item--text 
                    p Введение в эногастрономию.
                    p Хранение вин. Декантация.
                    p Винные аксессуары. Бокалы.
                    p Влияние формы бокала на аромат и вкус вина.
                    p Чтение этикетки вина.
            .s_c-program-item
                .s_c-program-item--count 04
                .s_c-program-item--date 07.03.2019
                .s_c-program-item--title Тихие вина Старого Света: Испания
                .s_c-program-item--text 
                    p Каталония.
                    p Приорат.
                    p Хумилья.
                    p Бьерсо.
                    p Риоха.
                    p Рибера дель Дуэро.
                    p Риас Байшас
            .s_c-program-item
                .s_c-program-item--count 05
                .s_c-program-item--date 29.02.2019
                .s_c-program-item--title Основные винодельческие сорта винограда
                .s_c-program-item--text 
                    p Влияние климата на стиль вина.
                    p Обзор основных красных сортов винограда.
                    p Обзор основных белых сортов винограда.
            .s_c-program-item
                .s_c-program-item--count 06
                .s_c-program-item--date 30.03.2019
                .s_c-program-item--title Хранение и наслаждение
                .s_c-program-item--text 
                    p Введение в эногастрономию.
                    p Хранение вин. Декантация.
                    p Чтение этикетки вина.
            .s_c-program-item
                .s_c-program-item--count 07
                .s_c-program-item--date 26.02.2019
                .s_c-program-item--title Что нужно знать о вине
                .s_c-program-item--text 
                    p Что влияет на вкус и аромат вина?
                    p Основы производства белого, розового и красного вина.
                    p Добавка Е220: зачем она нужна и можно ли обойтись без нее?
                    p Форма и размер бутылок.
                    p Виды пробки.
                    p Классификация вин по уровню качества.
                    p Что влияет на цену вина?
                    p Как дегустировать вино?     
            .s_c-program-item
                .s_c-program-item--count 08
                .s_c-program-item--date 29.02.2019
                .s_c-program-item--title Основные винодельческие сорта винограда
                .s_c-program-item--text 
                    p Влияние климата на стиль вина.
                    p Обзор основных красных сортов винограда.
                    p Обзор основных белых сортов винограда.
            .s_c-program-item
                .s_c-program-item--count 09
                .s_c-program-item--date 02.03.2019
                .s_c-program-item--title Хранение и наслаждение
                .s_c-program-item--text 
                    p Введение в эногастрономию.
                    p Хранение вин. Декантация.
                    p Винные аксессуары. Бокалы.
                    p Влияние формы бокала на аромат и вкус вина.
                    p Чтение этикетки вина.
            .s_c-program-item
                .s_c-program-item--count 10
                .s_c-program-item--date 07.03.2019
                .s_c-program-item--title Тихие вина Старого Света: Испания
                .s_c-program-item--text 
                    p Каталония.
                    p Приорат.
                    p Хумилья.
                    p Бьерсо.
                    p Риоха.
                    p Рибера дель Дуэро.
                    p Риас Байшас
            .s_c-program-item
                .s_c-program-item--count 11
                .s_c-program-item--date 29.02.2019
                .s_c-program-item--title Основные винодельческие сорта винограда
                .s_c-program-item--text 
                    p Влияние климата на стиль вина.
                    p Обзор основных красных сортов винограда.
                    p Обзор основных белых сортов винограда.
            .s_c-program-item
                .s_c-program-item--count 12
                .s_c-program-item--date 30.03.2019
                .s_c-program-item--title Хранение и наслаждение
                .s_c-program-item--text 
                    p Введение в эногастрономию.
                    p Хранение вин. Декантация.
                    p Чтение этикетки вина.
            .s_c-program-item.--end 
                | Экзамен