section.section-academy-gallery(data-navpanel-hash='#gallery' data-navpanel='dark' data-navpanel-title='Галерея') 
    .container.s_a-gallery
        .line-container--wrap
        .s_a-gallery__head
            .s_a-gallery--title Комфорная атмосфера занятий
            .s_a-gallery--text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
    .s_a-gallery__wrap(style='background-image: url("http://wss.by/studio/banner_studiows.jpg")')
        .container.line-container-pseudo
        .container.s_a-gallery__inner
            .s_a-gallery__slider
                .s_a-gallery__slider-item(data-title='Комфорная атмосфера занятий' data-text='Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, ')
                    img(src='http://wss.by/studio/banner_studiows.jpg' alt='' title='')
                .s_a-gallery__slider-item(data-title='22Комфорная атмосфера занятий' data-text='Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  ')
                    img(src='http://wss.by/Shops/banner1.jpg' alt='' title='')
                .s_a-gallery__slider-item(data-title='33Комфорная атмосфера занятий' data-text='Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. ')
                    img(src='http://navr.by/wp-content/uploads/2015/09/classicwines.jpg' alt='' title='')
                .s_a-gallery__slider-item(data-title='44Комфорная атмосфера занятий' data-text='Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et ma ')
                    img(src='http://i.bestriga.com/uploads/photo/large/2008/11/27/foto%20023.jpg' alt='' title='')
        