include ../../mixins/_mixins-news-card.pug

section.section-academy-courses(data-navpanel-hash='#course' data-navpanel='dark' data-navpanel-title='Курсы') 
    .container.s_a-courses
        .line-container--wrap
        .c_title.--dark
            h5.c_title--text Курсы
            .c_title--subtext Lorem ipsum dolor sit amet
        .s_a-courses__content.s_news-card-grid
            +c_news-card({
                'course': true,
                'date': '22.04.2019',
                'title': 'Экскурсы-дегустации с участием виноделов',
                'desc': 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                'img': 'https://content.onliner.by/news/1100x5616/bc9440f74768e6740bffe4d219945e61.jpeg'
            })
            +c_news-card({
                'course': true,
                'price': true,
                'date': '02.04.2019',
                'title': 'Когда твой шеф-повар — микроволновка. Дегустация готовой замороженной еды из магазина',
                'desc': 'Замороженная готовая еда — очевидная бизнес-перспектива. Ситуативные потребительские модели любые — от «черного голодного дня» до «порционного меню для старых родителей». Но в отличие от пельменей и других полуфабрикатов, готовая еда предполагает дополнительную добавленную стоимость, платить которую клиенты пока не готовы. Или это бизнес не готов рискнуть. Поэтому человеку, решившему прожить на «заморозке», не позавидуешь: меню будет довольно скудным.',
                'img': 'https://content.onliner.by/news/1100x5616/47821e668e1ae3d28fd9520637cc57e9.jpeg'
            })   
            +c_news-card({
                'course': true,
                'price': true,
                'date': '02.04.2019',
                'title': 'Когда твой шеф-повар — микроволновка. Дегустация готовой замороженной еды из магазина',
                'desc': 'Замороженная готовая еда — очевидная бизнес-перспектива. Ситуативные потребительские модели любые — от «черного голодного дня» до «порционного меню для старых родителей». Но в отличие от пельменей и других полуфабрикатов, готовая еда предполагает дополнительную добавленную стоимость, платить которую клиенты пока не готовы. Или это бизнес не готов рискнуть. Поэтому человеку, решившему прожить на «заморозке», не позавидуешь: меню будет довольно скудным.',
                'img': 'https://content.onliner.by/news/1100x5616/47821e668e1ae3d28fd9520637cc57e9.jpeg'
            })   
            +c_news-card({
                'course': true,
                'date': '22.04.2019',
                'title': 'Экскурсы-дегустации с участием виноделов',
                'desc': 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                'img': 'https://content.onliner.by/news/1100x5616/bc9440f74768e6740bffe4d219945e61.jpeg'
            })