section.section-course-price 
    .s_c-price.container
        .line-container--wrap
        .s_c-price__content
            .s_c-price--title Стоимость обучения
            ul.s_c-price__list
                li.s_c-price__list-item 
                    span Время проведения:
                    | Вторник с 18.30 до 22.00
                li.s_c-price__list-item 
                    span Место проведения:
                    | г.Минск, ул.Пл.Свободы,5
                li.s_c-price__list-item 
                    span Номер телефона:
                    a(href='tel:+375-44-778-01-85') +375-44-778-01-
            .s_c-price__info
                .s_c-price__info--value 800 BYN
                .s_c-price__info--subtext (11 занятий)
                .s_c-price__info--text Можно выбрать из прорагммы и посетить 1 занятие ввинной школе (80 BYN)
            button.s_c-price--button.ui_button.--outline.--light(type='button'  data-toggle="modal" data-target="#courseOrder" ) записаться