section.section-academy-promo(data-navpanel-hash='#academy' data-navpanel='white' data-navpanel-title='W&S Academy' ) 
    +section-header('s_a-promo__wrap')
        .s_header__content.s_a-promo__content
            .s_a-promo--title WINE & SPIRITS ACADEMY
            .s_a-promo--subtext Ведущая образовательная платформа в области вин и крепких напитков.
            .s_a-promo--text Концепция WINE & SPIRITS Academy предполагает ряд курсов различных уровней сложности для частных клиентов. Начиная от основ, заканчивая профессиональными тонкостями,  программы дают полный спектр знаний о винах и крепких напитках.