include ../../mixins/_mixins-poster-card.pug

section.section-index-poster(data-navpanel-hash='#poster' data-navpanel='dark' data-navpanel-title='Афиша') 
    .container.s_i-poster
        .line-container--wrap
        .c_title.--dark
            h5.c_title--text Aфиша
            .c_title--subtext ближайшие мероприятия
        .s_i-poster__content
            +c_poster-card(
                {
                    'title': 'Эногастрономический ужин',
                    'price': 1500,
                    'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча.',
                    'date': '01.02.2019'
                }
            )
            +c_poster-card(
                {
                    'title': 'Мастер-класс мастеров купажей',
                    'price': 1500,
                    'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча. Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча. ',
                    'date': '25.04.2019'
                }
            )
            +c_poster-card(
                {
                    'title': 'Мастер-класс мастеров купажей Мастер-класс мастеров купажей',
                    'price': 1500,
                    'desc': 'Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча. Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча. ',
                    'date': '01.01.2018'
                }
            )
