section.section-index-specialoffers(data-navpanel-hash='#specialoffers' data-navpanel='white' data-navpanel-title='Спецпредложения')
    .container.line-container-pseudo
    .container.s_i-special
        .c_title.--white
            h5.c_title--text Спецпредложения
            .c_title--subtext ближайшие мероприятия
    .s_i-special__content.container
        .s_i-special-slider
            .s_i-special-item__wrap(data-special-date='9 января 2019 - 3 февраля 2019')
                a.s_i-special-item(href='#!1') 
                    .s_i-special-item--title Лангустин на гриле по особой цене
                    .s_i-special-item__imagebox 
                        img(src='https://e3.edimdoma.ru/data/recipes/0009/9690/99690-ed4_wide.jpg' alt='' title='')
                    .s_i-special-item__desc 
                        p Специальное предложение на компанию от ресторана «STUDIO Wine & Spirits»
                    .s_i-special-item__date 9 января 2019 - 3 февраля 2019
            .s_i-special-item__wrap(data-special-date='9 января 2019 - 3 февраля 2019')
                a.s_i-special-item(href='#!1') 
                    .s_i-special-item--title Лангустин на гриле по особой цене Лангустин на гриле по особой цене
                    .s_i-special-item__imagebox 
                        img(src='https://e3.edimdoma.ru/data/recipes/0009/9690/99690-ed4_wide.jpg' alt='' title='')
                    .s_i-special-item__desc 
                        p Специальное предложение на компанию от ресторана «STUDIO Wine & Spirits»
                        p Каждое воскресенье и понедельник — 1 килограмм розовых аргентинских лангустин на гриле по особой цене 49 рублей
                    .s_i-special-item__date 9 января 2019 - 3 февраля 2019
            .s_i-special-item__wrap(data-special-date='9 января 2019 - 3 февраля 2019')
                a.s_i-special-item(href='#!1') 
                    .s_i-special-item--title Лангустин на гриле по особой цене Лангустин на гриле по особой цене
                    .s_i-special-item__imagebox 
                        img(src='https://e3.edimdoma.ru/data/recipes/0009/9690/99690-ed4_wide.jpg' alt='' title='')
                    .s_i-special-item__desc 
                        p Специальное предложение на компанию от ресторана «STUDIO Wine & Spirits»
                        p Каждое воскресенье и понедельник — 1 килограмм розовых аргентинских лангустин на гриле по особой цене 49 рублей
                    .s_i-special-item__date 9 января 2019 - 3 февраля 2019
            .s_i-special-item__wrap(data-special-date='9 января 2019 - 3 февраля 2019')
                a.s_i-special-item(href='#!1') 
                    .s_i-special-item--title Лангустин на гриле по особой цене Лангустин на гриле по особой цене
                    .s_i-special-item__imagebox 
                        img(src='https://e3.edimdoma.ru/data/recipes/0009/9690/99690-ed4_wide.jpg' alt='' title='')
                    .s_i-special-item__desc 
                        p Специальное предложение на компанию от ресторана «STUDIO Wine & Spirits»
                        p Каждое воскресенье и понедельник — 1 килограмм розовых аргентинских лангустин на гриле по особой цене 49 рублей
                    .s_i-special-item__date 9 января 2019 - 3 февраля 2019
            .s_i-special-item__wrap(data-special-date='9 января 2019 - 3 февраля 2019')
                a.s_i-special-item(href='#!1') 
                    .s_i-special-item--title Лангустин на гриле по особой цене Лангустин на гриле по особой цене
                    .s_i-special-item__imagebox 
                        img(src='https://e3.edimdoma.ru/data/recipes/0009/9690/99690-ed4_wide.jpg' alt='' title='')
                    .s_i-special-item__desc 
                        p Специальное предложение на компанию от ресторана «STUDIO Wine & Spirits»
                        p Каждое воскресенье и понедельник — 1 килограмм розовых аргентинских лангустин на гриле по особой цене 49 рублей
                    .s_i-special-item__date 9 января 2019 - 3 февраля 2019
            .s_i-special-item__wrap(data-special-date='9 января 2019 - 3 февраля 2019')
                a.s_i-special-item(href='#!1') 
                    .s_i-special-item--title Лангустин на гриле по особой цене
                    .s_i-special-item__imagebox 
                        img(src='https://e3.edimdoma.ru/data/recipes/0009/9690/99690-ed4_wide.jpg' alt='' title='')
                    .s_i-special-item__desc 
                        p Специальное предложение на компанию от ресторана «STUDIO Wine & Spirits»
                        p Каждое воскресенье и понедельник — 1 килограмм розовых аргентинских лангустин на гриле по особой цене 49 рублей
                    .s_i-special-item__date 9 января 2019 - 3 февраля 2019
            