section.section-index-reservation(data-navpanel-hash='#reservation' data-navpanel='white' data-navpanel-title='Бронь стола') 
    .container.line-container-pseudo
    .container.s_i-reservation
        .c_title.--white
            h5.c_title--text Бронь стола
            .c_title--subtext в гости к Studio
        .s_i-reservation__message
            | Ваша заявка отправлена, с вами скоро свяжутся.
        form.s_i-reservation__content(action='')
            .ui_form-group.s_i-reservation--datepicker
                .ui_form-input
                    ._label
                        | Дата
                        span *
                    label._icon-field.icon-calendar(for='id3' data-datepicker-toggle) 
                        input._input#id3(type='text' name='')
                    .c_datepicker
                        .c_datepicker--title Календарь бронирования
                        button.c_datepicker--close(type='button')
                            i.icon-cross-out
                        .c_datepicker-wrap 

            .ui_form-group
                .ui_form-input
                    label._label(for='id4') 
                        | Время
                        span *
                    input._input#id4(type='text' name='')
            .ui_form-group
                .ui_form-input
                    label._label(for='id5') 
                        | Телефон
                        span *
                    input._input#id5(type='text' name='')
            .ui_form-group
                .ui_form-input
                    label._label(for='id5') 
                        | Имя
                        span *
                    input._input#id5(type='text' name='')
            .ui_form-group.s_i-reservation--person
                .ui_form-input
                    label._label(for='id6') 
                        | Количество персон
                        span *
                    input._input#id6(type='text' name='')
            .ui_form-group.s_i-reservation--message
                .ui_form-input
                    label._label(for='id7') Комментарии
                    textarea#id7._textarea(rows='4') 
            .ui_form-group.s_i-reservation--submit
                button.ui_button.--default(type='button') забронировать

        