
section.section-index-gallery(data-navpanel-hash='#gallery' data-navpanel='dark' data-navpanel-title='Фотогалерея')
    .container.line-container-pseudo
    .container.s_i-gallery
       .c_title.--dark
           h5.c_title--text Фотогалерея
           .c_title--subtext ближайшие мероприятия
       .s_i-gallery__content
           .s_i-gallery--title Уникальное мультиплатформенное пространство
           .s_i-gallery-slider
               .s_i-gallery-slider__wrap
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
               .s_i-gallery-slider__wrap
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://wss.by/Shops/banner1.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
               .s_i-gallery-slider__wrap
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
               .s_i-gallery-slider__wrap
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://wss.by/Shops/banner1.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
               .s_i-gallery-slider__wrap
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://wss.by/Shops/banner1.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg')
                       img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg')
                       img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                   .s_i-gallery-slider--item(data-slide-src='https://www.passionclub.ro/upload/img-despre-noi.jpg')
                       img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
           .s_i-gallery-slider-arrow
               button.s_i-gallery-slider--prev.ui_button.--transparent
                   i.icon-arrow-left
               .s_i-gallery-slider--counter
                   span 01
                   |/
                   span 05
               button.s_i-gallery-slider--next.ui_button.--transparent
                   i.icon-arrow-right
              
           .s_i-gallery__imagebox
               img(src='http://wss.by/assets/cache_image/studio/2_930x465_933.jpg' alt='' title='')
           .s_i-gallery-slider-nav
               .s_i-gallery-slider-nav--item.--current(data-gallery-slide='0')
                   i.icon-coffee-table
                   span кафе-бар
               .s_i-gallery-slider-nav--item(data-gallery-slide='1')
                   i.icon-wine-shope
                   span магазин-энотека
               .s_i-gallery-slider-nav--item(data-gallery-slide='2')
                   i.icon-pastry-chef
                   span обучающий класс
               .s_i-gallery-slider-nav--item(data-gallery-slide='3')
                   i.icon-pot
                   span гастрономия и деликатесы
               .s_i-gallery-slider-nav--item(data-gallery-slide='4')
                   i.icon-dinner
                   span эногастрономическая гостинная

