section.section-index-promo(data-navpanel-hash='#welcome' data-navpanel='white' data-navpanel-title='Приветствие' ) 
    .s_i-promo__video
        video(autoplay muted loop playsinline)
            source(src='https://storage.studio818.by/video/wss.mp4' type='video/mp4')
    +section-header('s_i-promo__wrap')
        .s_header__content.s_i-promo__content
            .s_i-promo__content--title Добро пожаловать
            .s_i-promo__content--name
                img(src=`${pathImage}studio.svg` alt='Wine & Spirits Studio' title='Wine & Spirits Studio')  