section.section-index-features(data-navpanel-hash='#features' data-navpanel='white' data-navpanel-title='Особенности') 
    .container.s_i-features
        .line-container--wrap
        .c_title.--white
            .c_title--text Особенности
            .c_title--subtext наше превосходство
        .s_i-features__grid
            .s_i-features-item
                i.s_i-features-item--icon.icon-bung
                .s_i-features-item--title Пробковый сбор
                .s_i-features-item--text фиксированная цена на вино
            .s_i-features-item
                i.s_i-features-item--icon.icon-cook
                .s_i-features-item--title Ches’s table
                .s_i-features-item--text фиксированная цена на вино
            .s_i-features-item
                i.s_i-features-item--icon.icon-wine
                .s_i-features-item--title W&S Shop
                .s_i-features-item--text фиксированная цена на вино
            .s_i-features-item
                i.s_i-features-item--icon.icon-sommelier
                .s_i-features-item--title Школа сомелье
                .s_i-features-item--text фиксированная цена на винo