meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' http-content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
meta(name='description' content='This is a meta description')   
meta(property='og:title' content='text')
meta(property='og:image' content='url' )
meta(property='og:site_name' content='text')
meta(property='og:description' content='text')
