mixin section-header(wrap)
    .s_header__wrap.container(class=`${wrap}`)
        .line-container--wrap
        .s_header__social
            a(href='#!') tripadvisor
            a(href='#!') facebook
            a(href='#!') instagram
        .s_header
            a.s_header--logo(href='/index.html')
                img(src=`${pathImage}logo.svg` alt='' title='')
            button.s_header__nav--menu.ui_button.--transparent(type='button') 
                i.icon-menu
            .s_header__nav
                .s_header__nav-wrap.container
                    a.s_header__nav--logo(href='#!')
                        img(src=`${pathImage}logo.svg`)
                    button.s_header__nav--close.ui_button.--invert(type='button') 
                        i.icon-cross-out
                    .s_header__nav--social 
                        a(href='#!') tripadvisor
                        a(href='#!') facebook
                        a(href='#!') instagram
                    ul.s_header__nav-list
                        li.s_header__nav-list--item 
                            a.s_header__nav-list--link(href='/about.html') О нас
                        li.s_header__nav-list--item 
                            a.s_header__nav-list--link.--current(href='/poster.html') Афиша
                        li.s_header__nav-list--item 
                            a.s_header__nav-list--link(href='#!') W&S Academy
                        li.s_header__nav-list--item 
                            a.s_header__nav-list--link(href='/menu.html') Меню
                        li.s_header__nav-list--item 
                            a.s_header__nav-list--link(href='/news.html') W&S News
                        li.s_header__nav-list--item 
                            a.s_header__nav-list--link(href='/service.html') Услуги
                        li.s_header__nav-list--item 
                            a.s_header__nav-list--link(href='/shop.html') W&S Shop
                        li.s_header__nav-list--item 
                            a.s_header__nav-list--link(href='/contact.html') Контакты
        block
