script(src=`${pathScript}_jquery-3.3.1.min.js`)
//- <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
script(src=`${pathScript}_underscore-min.js`)
script(src=`${pathScript}_slick.min.js`)
script(src=`${pathScript}_jquery.scrollie.js`)
script(src=`https://unpkg.com/popper.js@1.14.7/dist/umd/popper.min.js`)
script(src=`${pathScript}_bootstrap.min.js`)
script(src=`${pathScript}_bootstrap-datepicker.js`)
block script-append
script(src='./js/bundle.js')
<!--[if lt IE 9]>
<script src='https://cdn.rawgit.com/gisu/selectivizr/1.0.3/selectivizr.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js'>
<![endif]--> 
