footer.section-footer
    .s_footer.container
        a.s_footer--logo(href='#!')
            img(src=`${pathImage}logo.svg` alt='' title='')
        ul.s_footer__nav
            li.s_footer__nav--item  
                a.s_footer__nav--link(href='#!') О нас
            li.s_footer__nav--item  
                a.s_footer__nav--link(href='#!') Афиша
            li.s_footer__nav--item  
                a.s_footer__nav--link(href='#!') W&S Academy
            li.s_footer__nav--item  
                a.s_footer__nav--link(href='#!') Меню
            li.s_footer__nav--item  
                a.s_footer__nav--link(href='#!') W&S News
            li.s_footer__nav--item  
                a.s_footer__nav--link(href='#!') Услуги
            li.s_footer__nav--item  
                a.s_footer__nav--link(href='#!') W&S Shop
            li.s_footer__nav--item  
                a.s_footer__nav--link(href='#!') Контакты
        .s_footer__contact 
            a.s_footer__contact--link.ui_button.--transparent.--invert(href='tel:+375-29-604-02-02') 
                i.icon-phone-call(data-button-icon='left')
                span +375-29-604-02-02
            .s_footer__contact--link.ui_button.--transparent.--invert.--text
                i.icon-time(data-button-icon='left')
                span 12:00-00:00
            a.s_footer__contact--link.ui_button.--transparent.--invert(href='#!') 
                i.icon-placeholder(data-button-icon='left')
                span г.Минск, ул.Площадь Свободы,5

        .s_footer__social
            .s_footer__social--title Следите за нами:
            a.s_footer__social--link.ui_button.--transparent.--invert(href='#!') 
                i.icon-facebook
            a.s_footer__social--link.ui_button.--transparent.--invert(href='#!') 
                i.icon-tripadvisor-logotype
            a.s_footer__social--link.ui_button.--transparent.--invert(href='#!') 
                i.icon-instagram
        .s_footer__copyring
            | 2019 Разработка сайта VG Group