doctype html
include _variables-pug.pug
html(lang="ru")
    head
      block meta
        include _layout_meta.pug
      block title 
        title \Project Name\
        
    body 
      include _layout_header.pug

      // content
      block content
      // END content

      // footer
      block footer
        include _layout_footer.pug
      // END footer
      
      // modal
      block modal
        include _layout_modal.pug
      // END modal
        
      // debugger
      block debugger
        include _layout_debugger.pug
      // END debugger
      
      // navpanel
      block navpanel
        include _layout_navpanel.pug
      // END navpanel

      // style  
      block style  
        include _layout_style.pug
      // END style

      // vendor
      block script
        include _layout_script.pug
      // END vendor