link(rel="stylesheet" href=`https://fonts.googleapis.com/css?family=Cormorant:300,400,500,700|Roboto+Condensed:300,400,700&amp;subset=cyrillic`)
link(rel="stylesheet" href=`${pathStyle}style.css`)
block style-append   

