.section-news-events {

}

.s_n-events {
    position: relative;
    @extend .line-container;
    padding-bottom: 50px;
    @include media-breakpoint-up(lg) {
        padding-bottom: 100px;
    }
    &__content {
        display: grid;
        grid-gap: 30px;
        @include media-breakpoint-between(md,lg) {
            grid-template-columns: repeat(2,1fr);
            .c_poster-card {
                &:nth-child(3) {
                    display: none;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(3,1fr);
        }
    }
}