.s_n-catalog {
    position: relative;
    @extend .line-container;
    padding: 40px 15px 50px 15px;
    @include media-breakpoint-up(md) {
        padding: 40px 15px 100px 15px;
    }
    &__contents {
        display: none;
        &.--show {
            display: grid;
        }
    }
    &__tab {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        &--link {
            position: relative;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $clr-gray;
            @include shift();
            @include media-breakpoint-up(xl) {
                font-size: 16px;
                line-height: 24px;
            }
            &:hover {
                cursor: pointer;
                color: $clr-brown;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;
                height: 0;
                background-color: $clr-brown;
                @include shift();
                opacity: 0;
                visibility: hidden;
            }
            &:not(:last-child) {
                margin-right: 45px;
            }
            &.--current {
                color: $clr-black-light;
                &::after {
                    opacity: 1;
                    visibility: visible;
                    height: 2px;
                }
            }
        }
    }
    &-state {
        grid-gap: 20px;
        @include media-breakpoint-up(md) {
            grid-gap: 30px;
            grid-template-columns: repeat(2,1fr);
        }
        @include media-breakpoint-only(lg) {
            grid-gap: 20px 0;
        }
        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(3,1fr);
            grid-gap: 0;
        }
        .c_poster-card {
            @include media-breakpoint-only(lg) {
                &:nth-child(2n+2) {
                    margin-top: 40px;
                }
            }
            @include media-breakpoint-up(xl) {
                &:nth-child(3n+2) {
                    margin-top: 30px;
                    @include media-breakpoint-up(xg) {
                        margin-top: 40px;
                    }
                }
                &:nth-child(3n+3) {
                    margin-top: 60px;
                    @include media-breakpoint-up(xg) {
                        margin-top: 80px;
                    }
                }
            }
        }
    }
}
