section.section-menu-main
    .container.line-container-pseudo

    +section-header('s_m-main__wrap')
    .s_m-main__content 
        div  
            a.s_m-main--link(href='#!' style='background-image: url("https://kidpassage.com/images/publications/eda-v-gruzii-chto-i-skolko-stoit/1741_Gruzia-tseny-gallery993686869.jpg")') 
                span Кухня
        div
            a.s_m-main--link(href='#!' style='background-image: url("https://itsmywine.ru/media/cache/uploads/2016/09/15/1473938425.f7a8247206679f5d1df7e4ae62f980d0/picture_16x9.jpg")') 
                span Бар
        div 
            a.s_m-main--link(href='#!' style='background-image: url("http://gotrebinje.com/wp-content/uploads/2017/08/IMG_1188.jpg")') 
                span Винная карта
        div
            a.s_m-main--link(href='#!' style='background-image: url("http://italy-ai.ru/wp-content/uploads/2016/07/coctails.jpg")') 
                span Коктейли
        div
            a.s_m-main--link(href='#!' style='background-image: url("https://polomedia.ru/sites/default/files/news/10-16/main2.jpg")') 
                span Бизнес-ланч
        
