section.section-menu-nav 
    .s_m-nav.container 
        .s_m-nav__wrap
            a.s_m-nav--link.--current(href='#!') 
                span Кухня
            a.s_m-nav--link(href='#!') 
                span Бар
            a.s_m-nav--link(href='#!') 
                span Винная карта
            a.s_m-nav--link(href='#!') 
                span Коктейли
            a.s_m-nav--link(href='#!') 
                span Бизнес ланч