section.section-menu-promo(style='background-image: url("https://kidpassage.com/images/publications/eda-v-gruzii-chto-i-skolko-stoit/1741_Gruzia-tseny-gallery993686869.jpg")')  
    +section-header('s_m-promo__wrap')
        .s_header__content.s_m-promo__content
            ul.s_m-promo__breadcrumbs.c_breadcrumbs__list
                li.c_breadcrumbs__list--item
                    a.c_breadcrumbs__list--link(href='#!') Главная
                li.c_breadcrumbs__list--item
                    a.c_breadcrumbs__list--link(href='#!') Новости
                li.c_breadcrumbs__list--item Эногастрономический ужин Casa Santos Lima 5 февраля
            .s_m-promo--title 
                span Кухня