section.section-menu-content
    .s_m-content.container
        .line-container--wrap
        .s_m-content__wrap
            .s_m-content__aside.--show
                ul.s_m-content__list 
                    li.s_m-content__list--item
                        .s_m-content__list--link(data-menu-id='0') Гастрономия
                    li.s_m-content__list--item
                        .s_m-content__list--link.--current(data-menu-id='1') Закуски и салаты
                    li.s_m-content__list--item
                        .s_m-content__list--link(data-menu-id='2') Крудо
                    li.s_m-content__list--item
                        .s_m-content__list--link(data-menu-id='3') Супы
                    li.s_m-content__list--item
                        .s_m-content__list--link(data-menu-id='4') Основные блюда
                    li.s_m-content__list--item
                        .s_m-content__list--link(data-menu-id='5') Гриль


            .s_m-content__contents
                button.s_m-content--aside.ui_button.--transparent(type='button')
                    i.icon-menu-second
                .s_m-item.--show(data-menu-wrap='1')
                    .s_m-item--title
                        span Закуски и салаты
                        .s_m-item--count 12 позиций
                    .s_m-item__content
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                .s_m-item(data-menu-wrap='0')
                    .s_m-item--title
                        span Гастрономия
                        .s_m-item--count 132 позиций
                    .s_m-item__content
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
                        .s_m-item--position     
                            .s_m-item--text Боул-салат с цыпленком тандури, авокадо и йогуртовым соусом (305 г) 
                            .s_m-item--price 14,00 BYN
