
.section-other-service {
    @include background-image('service-other-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    .s_header__social {
        display: none;
    }
}

.s_o-service {
    &__wrap {
        position: relative;
    }
    &__content {
        // height: 680px;
    }
    &__breadcrumbs {
        margin-top: 15px;
    }
    &__card {
        position: relative;
        margin-top: 20px;
        padding: 20px 0 30px 0;
        color: $clr-white;
        @include media-breakpoint-up(md) {
            padding: 40px 40px 30px 0;
            width: 60%;
        }
        @include media-breakpoint-up(lg) {
            margin-top: 50px;
            width: 50%;
        }
        @include media-breakpoint-up(xl) {
            width: 40%;
            padding: 60px 60px 50px 0;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 1000px;
            background-color: $clr-brown;
            z-index: 1;
            @include media-breakpoint-down(sm) {
                right: -400px;
            }
        }
        &--title {
            @include font-family(two);
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: normal;
            text-transform: uppercase;
            @include media-breakpoint-up(lg) {
                font-size: 50px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 70px;
            }
        }
        &--subtitle {
            margin-top: 10px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: normal;
            @include media-breakpoint-up(lg) {
                margin-top: 30px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 20px;
            }
        }
        &--text {
            margin-top: 30px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            @include media-breakpoint-up(lg) {
                margin-top: 60px;
            }
            @include media-breakpoint-up(xl) {
                margin-top: 80px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 16px;
                line-height: 24px;
                margin-top: 200px;
            }
        }
        &--title,
        &--subtitle,
        &--text {
            position: relative;
            z-index: 2;
        }
    }
}


.section-other-service-slider {
    overflow: hidden;
    background-color: $clr-black;
}

.s_o-service {
    &-item {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        width: 290px;
        height: 250px;
        padding: 0 15px;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include shift();
        @include media-breakpoint-up(md) {
            width: 400px;
            height: 350px;
            padding: 0 35px;
        }
        @include media-breakpoint-up(lg) {
            width: 450px;
            height: 390px;
        }
        @include media-breakpoint-up(xl) {
            width: 550px;
            height: 450px;
            padding: 0 60px;
        }
        @include media-breakpoint-up(xg) {
            width: 700px ;
            height: 500px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($clr-black,.6);
        }
        &--title {
            color: $clr-white;
            @include font-family(two);
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            text-transform: uppercase;
            @include shift();
            font-size: 22px;
            @include media-breakpoint-up(md) {
                transform: translateY(100%);
            }
            @include media-breakpoint-up(lg) {
                font-size: 28px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 36px;
            }
        }
        &--text {
            color: $clr-white;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 22px;
            margin: 20px 0 0 0;
            max-height: 22px * 4;
            overflow: hidden;
            
            @include shift();
            @include media-breakpoint-up(xg) {
                margin: 30px 0 0 30px;
                max-height: 24px * 4;
                font-size: 16px;
                line-height: 24px;
            }
        }
        &--link {
            margin-top: 20px;
            color: $clr-white;
            font-size: 20px;
          
          
        }   
        &--link,
        &--text {
            opacity: 0;
            visibility: hidden;
            transform: translateY(50%);
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        &--title,
        &--text,
        &--link {
            position: relative;
            z-index: 2;
            @include shift();
        }
        &:hover {
            cursor: pointer;
           
        }
        &:hover &--text,
        &:hover &--link,
        &:hover &--title {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}