.section-other-contact {
    position: relative;
    overflow: hidden;
    background-color: $clr-black-light;
    @include media-breakpoint-down(sm) {
        background-color: $clr-brown;
    }
    @include media-breakpoint-up(md) {
        height: 100vh;
        min-height: 620px;

    }
    @include media-breakpoint-up(xg) {
        min-height: 820px;
    }
    .s_header__social {
        display: none;
    }
}

.s_o-contact {
    &__form {
        position: absolute;
        // background-color: red;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 4;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        @include shift();
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        @include media-breakpoint-down(sm) {
            left: 0;
            padding: 32px 15px;
            justify-content: flex-start;

        }
        @include media-breakpoint-up(md) {
            padding-left: 30px;
            width: 365px;
        }
        @include media-breakpoint-up(xg) {
            width: 465px;
        }
        &.--show {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1000px;
            bottom: 0;
            @include background-image('features-bg.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: -1;
        }
        &--close {
            position: absolute;
            top: 30px;
            right: 15px;
            color: $clr-white;
            font-size: 20px;
            @include media-breakpoint-up(md) {
                right: 0;
            }
            &:hover {
                color: $clr-brown !important;
            }
        }
        &--title {
            color: $clr-white;
            .c_title--text {
                &::after,
                &::before {
                    display: none;
                }
            }
        }
        &--submit {
            @include media-breakpoint-up(md) {
                margin: 10px 15% 0 15%;
            }
        }
        .ui_form-group {
            margin-bottom: 15px;
        }
    }
    &__wrap {
        position: relative;
        z-index: 2; 
    }
    &__map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        @include media-breakpoint-down(sm) {
            bottom: unset;
            height: 395px;
        }
        & > div {
            width: 100%;
            height: 100%;
        }
    }
    &__information {
        background-color: $clr-brown;
        padding: 35px 30px 0 30px;
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 350px;
        }
        @include media-breakpoint-up(xg) {
            padding: 50px 30px 0 30px;
            width: 450px;
        }
    }
    &__content {
        display: flex;
        @include media-breakpoint-down(sm) {
            padding-top: 350px;
            margin: 0 -15px;
        }
        @include media-breakpoint-up(md) {
            justify-content: flex-end;
            align-items: flex-end;
        }
        // height: calc(100vh - 100px);
    }
    &--title {
        color: $clr-white;
        .c_title--text {
            &::before,
            &::after {
                color: $clr-white;
            }
        }
    }
    &__social {
        padding: 30px;
        margin: 0 -30px;
        @include background-image('features-bg.jpg');
        background-position: center;
        background-size: cover;
        @include media-breakpoint-up(xg) {
            padding: 30px 30px 100px;
        }
        a {
            display: inline-flex;
            font-size: 22px;
            margin-top: 10px;
            margin-right: 15px;
            color: $clr-brown !important;
            &:hover {
                color: $clr-white !important;
            }
        }
    }
    &__list {
        @extend .clear-list;
        &--item {
            position: relative;
            color: $clr-white;
            padding-left: 14px;
            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 0;
                background-color: $clr-white;
                width: 6px;
                height: 6px;
                border-radius: 50%;
            }
            &:not(:last-child) {
                margin-bottom: 30px;
                @include media-breakpoint-up(xg) {
                    margin-bottom: 50px;
                }
            }
            div {
                font-style: normal;
                font-weight: normal;
                &:nth-child(1) {
                    font-size: 18px;
                    line-height: normal;
                    @include media-breakpoint-up(xg) {
                        font-size: 24px;
                    }
                }
                &:nth-child(2) {
                    margin-top: 5px;
                    font-size: 14px;
                    line-height: normal;
                    @include media-breakpoint-up(xg) {
                        font-size: 16px;
                    }
                }
            }
            a {
                color: $clr-white;
                @include shift();
                &:hover {
                    color: $clr-black-light;
                }
            }
        }
    }
    &--form {
        margin-top: 30px;
        margin-left: 14px;
        margin-bottom: 30px;
        @include media-breakpoint-up(xg) {
            margin-top: 50px;
        }
        i {
            margin-left: 7px;
            margin-right: -5px;
        }
    }
}