.section-other-404 {
    height: 100vh;
    background-color: $clr-black;
    min-height: 650px;
    overflow: hidden;
    .s_header__social {
        display: none;
    }
}

.s_o-404 {
    &__wrap {
        position: relative;
    }
    &__content {
        display: grid;
        grid-gap: 10%;
        align-items: center;
        @include media-breakpoint-down(sm) {
            padding-top: 50px;
        }
        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(2,1fr);
        }
    }
    &__message {
        @include media-breakpoint-up(md) {
            padding-left: 5%;
        }
        @include media-breakpoint-up(lg) {
            padding-left: 15%;
        }
    }
    &--title {
        color: $clr-brown;
        @include font-family(two);
        font-style: normal;
        font-weight: bold;
        font-size: 10vw;
        line-height: normal;
    }
    &--text {
        margin-top: 10px;
        color: $clr-gray;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        @include media-breakpoint-up(xg) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &--link {
        margin-top: 3vh;
        i {
            margin-left: 10px;
            margin-right: -5px;
        }
    }
    &__imagebox {
        img {
            width: 100%;
            height: auto;
        }
    }
}