mixin c_modal-page(data)
    .c_modal-page(data-pmodal-id=`${data.id}`)  
        button.c_modal-page--close.ui_button.--transparent(type='button' data-pmodal-close)
            i.icon-cross-out
        .c_modal-page__content
            if data.halltitle == undefined
                button.c_modal-page--return.ui_button.--transparent(type='button' data-pmodal-close) вернуться на услуги
            .c_modal-page--logo
                img(src=`${pathImage}logo-black.svg` alt='' title='')
            if data.halltitle != undefined
                .c_modal-page--halltitle
                    i(class=`${data.hallicon}`)
                    span #{data.halltitle}
            if data.halltitle == undefined 
                .c_modal-page--title Для корпоративных клиентов
            .c_modal-page__desc 
                | #{data.desc}
        if data.halltitle != undefined
            .c_modal-page__imagebox(data-pmodal-imagecaption=`${data.hallsubtitle}` style=`background-image: url("${data.img}")`)
        else 
            .c_modal-page__imagebox( style=`background-image: url("${data.img}")`)
            