mixin c_poster-card(data)
    if data.date != undefined
        .c_poster-card(data-poster-date=`${data.date}`)
            .c_poster-card__wrap
                .c_poster-card__tags
                    a.c_poster-card__tags--link(href='#!') афиша
                    a.c_poster-card__tags--link(href='#!') январь
                    a.c_poster-card__tags--link(href='#!') афиша
                    a.c_poster-card__tags--link(href='#!') январь
                a.c_poster-card--title(href='#!') #{data.title}
                .c_poster-card__desc
                    p  #{data.desc}
                .c_poster-card__bottom 
                    if data.price != undefined
                        .c_poster-card__price
                            span #{data.price} 
                            span BYN
                        a.c_poster-card--more.ui_button.--outline.--secondary(href='#!') забронировать
                    else 
                        a.c_poster-card--more.ui_button.--outline.--secondary(href='#!') подробнее
    else 
        .c_poster-card
            .c_poster-card__wrap
                .c_poster-card__tags
                    a.c_poster-card__tags--link(href='#!') афиша
                    a.c_poster-card__tags--link(href='#!') январь
                    a.c_poster-card__tags--link(href='#!') афиша
                    a.c_poster-card__tags--link(href='#!') январь
                a.c_poster-card--title(href='#!') #{data.title}
                .c_poster-card__desc
                    p  #{data.desc}
                .c_poster-card__bottom 
                    if data.price != undefined
                        .c_poster-card__price
                            span #{data.price} 
                            span BYN
                        a.c_poster-card--more.ui_button.--outline.--secondary(href='#!') забронировать
                    else 
                        a.c_poster-card--more.ui_button.--outline.--secondary(href='#!') подробнее

                
