mixin c_command-card(data)
    .c_command-card(data-prof=`${data.prof}`)
        .c_command-card__imagebox
            img(src=`${data.img}` alt='' title='')
        .c_command-card--name #{data.name}
        .c_command-card--desc #{data.desc}