mixin c_news-card(data)
    if data.course == undefined
        .c_news-card
            .c_news-card__content
                .c_news-card--date #{data.date}
                a.c_news-card--title(href='#!') #{data.title}
                .c_news-card--desc #{data.desc} 
                a.c_news-card--link.ui_button.--outline.--secondary(href='#!') читать
            .c_news-card__imagebox
                img(src=`${data.img}` alt='' title='')
    if data.course
        .c_news-card
            .c_news-card__content
                .c_news-card--info
                    span._year 2019
                    span._date #{data.date}
                    span._views 1135 просмотров
                a.c_news-card--title(href='#!') #{data.title}
                .c_news-card--desc #{data.desc} 
                if data.price
                    .c_news-card--price 
                        span._value 800 BYN
                        span._info (11 занятий) 
                else 
                    .c_news-card--price 
                        span._info Условия проведения обучения оговариваются индивидуально для каждого клиента.  
                a.c_news-card--link.ui_button.--outline.--secondary(href='#!') учебная программа
            .c_news-card__imagebox
                img(src=`${data.img}` alt='' title='')