section.section-poster-head(style='background-image: url("https://content.onliner.by/news/1100x5616/c188ff0a0ee406713495e4f211151e93.jpeg")')
    +section-header('s_p-head__wrap')
        .s_header__content.s_p-head__content
            .s_p-head__breadcrumbs.c_breadcrumbs
                ul.c_breadcrumbs__list
                    li.c_breadcrumbs__list--item
                        a.c_breadcrumbs__list--link(href='#!') Главная
                    li.c_breadcrumbs__list--item
                        a.c_breadcrumbs__list--link(href='#!') Новости
                    li.c_breadcrumbs__list--item Эногастрономический ужин Casa Santos Lima 5 февраля
            .s_p-head__title 
                button.s_p-head--back.ui_button.--transparent(type='button') 
                    i.icon-small-arrow-left
                .s_p-head--date 29.01.2019
                .s_p-head--title Эногастрономический ужин Casa Santos Lima 5 февраля
