section.section-poster-content
    .container.s_p-content
        .line-container--wrap
        .s_p-content__wrap
            .s_p-content__social 
                span поделиться
                a(href='#!') 
                    i.icon-vk
                a(href='#!') 
                    i.icon-instagram
                a(href='#!') 
                    i.icon-facebook
            .s_p-content__article
                <p>Приглашаем Вас посетить эногастрономический ужин с яркими и запоминающимися винами Casa Santos Lima (Португалия)!</p>
                <p>Casa Santos Lima «Каза Сантош Лима» – семейная винодельческая компания, история которой восходит к рубежу XIX века. В те далекие времена был известен человек по имени Хуакин Сантош Лима, занимавшийся созданием вин, и даже экспортировавший их за пределы Португалии. Сердце «Каза Сантош Лима» – имение, в комплекс которого входят офисное здание, винная лавка и самые большие винодельни – находится в Кинта да Буависта в муниципалитете Аленкер, в 45 километрах к Северу от Лиссабона. В 2017 году винодельня «Каза Сантош Лима» Заслужила почетное 3 –е место в «Топ 100 виноделен» по версии «World Ranking of Wines&Spirits», составляемом ежегодно Всемирной организацией винных писателей и журналистов (World Association of Wine Writers and Journalists).</p>
                <p>Специальный гость – Педро Дорей (Pedro d'Orey, CasaSantosLima)</p>
                img(src='https://content.onliner.by/news/1400x5616/4589c99b7d98ae3a37cef567de3483f7.jpeg' alt='' title='')
            .s_p-content__dinner
                .s_p-content__dinner--title Программа ужина: 
                .s_p-content-dinner
                    .s_p-content-dinner__imagebox
                        img(src='https://content.onliner.by/news/1100x5616/e0b7b211726a8922205b8fbe3554ed7a.jpeg' alt='' title='')
                    .s_p-content-dinner--title Tenuta Rapitala Grillo Terre Siciliane IGT
                    .s_p-content-dinner--subtitle Блюдо: Сицилийский салат с морепродуктами
                    .s_p-content-dinner--desc 
                        p Tenuta Rapitala Grillo BIO – гарантия качества и открытости, честности винодела. Весь путь «от лозы к вину», начиная от виноградника, заканчивая бутиллировкой, проходит по методам органического виноделия, за счет чего можно добиться потрясающей чистоты вкуса.
                        p Tenuta Rapitala Grillo Terre Siciliane — гармоничное белое сухое вино, которое пленит своим уникальным балансом свежести вкуса и яркой цветочно-фруктовой палитрой ароматов.
                .s_p-content-dinner
                    .s_p-content-dinner__imagebox
                        img(src='https://content.onliner.by/news/1100x5616/b5dea26f72e67995182528ef9d2a88f8.jpeg' alt='' title='')
                    .s_p-content-dinner--title Tenuta Rapitala Grillo Terre Siciliane IGT
                    .s_p-content-dinner--subtitle Блюдо: Сицилийский салат с морепродуктами
                    .s_p-content-dinner--desc 
                        p Tenuta Rapitala Grillo BIO – гарантия качества и открытости, честности винодела. Весь путь «от лозы к вину», начиная от виноградника, заканчивая бутиллировкой, проходит по методам органического виноделия, за счет чего можно добиться потрясающей чистоты вкуса.
                        p Tenuta Rapitala Grillo Terre Siciliane — гармоничное белое сухое вино, которое пленит своим уникальным балансом свежести вкуса и яркой цветочно-фруктовой палитрой ароматов.
                        p Tenuta Rapitala Grillo BIO – гарантия качества и открытости, честности винодела. Весь путь «от лозы к вину», начиная от виноградника, заканчивая бутиллировкой, проходит по методам органического виноделия, за счет чего можно добиться потрясающей чистоты вкуса.
                .s_p-content-dinner
                    .s_p-content-dinner__imagebox
                        img(src='https://content.onliner.by/news/1100x5616/4efb88d272ed6e70179ea420bba0fbe0.jpeg' alt='' title='')
                    .s_p-content-dinner--title Tenuta Rapitala Grillo Terre Siciliane IGT
                    .s_p-content-dinner--subtitle Блюдо: Сицилийский салат с морепродуктами
                    .s_p-content-dinner--desc 
                        p Tenuta Rapitala Grillo BIO – гарантия качества и открытости, честности винодела. Весь путь «от лозы к вину», начиная от виноградника, заканчивая бутиллировкой, проходит по методам органического виноделия, за счет чего можно добиться потрясающей чистоты вкуса.
                        p Tenuta Rapitala Grillo Terre Siciliane — гармоничное белое сухое вино, которое пленит своим уникальным балансом свежести вкуса и яркой цветочно-фруктовой палитрой ароматов.
            .s_p-content__price
                .s_p-content__price--cost    
                    span стоимость
                    span 90 BYN
                .s_p-content__price--contact
                    | Предварительная бронь по телефону: 
                    a(href='tel:+37529 604 02 02') +37529 604 02 02    
                button.s_p-content__price--order.ui_button.--default(type='button' data-toggle="modal" data-target="#reservationTable") забронировать