section.section-poster-posters-nav(data-navpanel-hash='#posters' data-navpanel='white' data-navpanel-title='События' ) 
    .container.s_p-posters-nav
        .line-container--wrap
        .s_p-posters-nav--title 2019
        ul.s_p-posters-nav__list
            li.s_p-posters-nav__list--item
                a.s_p-posters-nav__list--link(href='#!') Сентябрь
            li.s_p-posters-nav__list--item
                a.s_p-posters-nav__list--link(href='#!') Октябрь
            li.s_p-posters-nav__list--item
                a.s_p-posters-nav__list--link(href='#!') Ноябрь
            li.s_p-posters-nav__list--item
                a.s_p-posters-nav__list--link(href='#!') Декабрь
            li.s_p-posters-nav__list--item
                a.s_p-posters-nav__list--link.--current(href='#!') Январь
            li.s_p-posters-nav__list--item
                a.s_p-posters-nav__list--link(href='#!') Февраль
            li.s_p-posters-nav__list--item
                a.s_p-posters-nav__list--link(href='#!') Март
            li.s_p-posters-nav__list--item
                a.s_p-posters-nav__list--link(href='#!') Апрель
            li.s_p-posters-nav__list--item
                a.s_p-posters-nav__list--link(href='#!') Май
            li.s_p-posters-nav__list--item
                a.s_p-posters-nav__list--link(href='#!') Июнь
            li.s_p-posters-nav__list--item
                a.s_p-posters-nav__list--link(href='#!') Июль
            li.s_p-posters-nav__list--item
                a.s_p-posters-nav__list--link(href='#!') Август
