section.section-poster-posters
    .container.s_p-posters
        .line-container--wrap
        .s_p-posters__wrap 
            .s_p-posters__aside
                a.s_p-posters-item(href='#!' data-poster-id='0') 
                    .s_p-posters-item__imagebox
                        img(src='https://www.passionclub.ro/upload/img-despre-noi.jpg' alt='' title='')
                    .s_p-posters-item--title Эногастрономический ужин
                    .s_p-posters-item--date 5 февраля 2019, начало в 18.00                   
                a.s_p-posters-item.--current(href='#!' data-poster-id='1') 
                    .s_p-posters-item__imagebox
                        img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                    .s_p-posters-item--title Экскурсы-дегустации с участием виноделов
                    .s_p-posters-item--date 5 февраля 2019, начало в 18.00                   
                a.s_p-posters-item(href='#!' data-poster-id='2') 
                    .s_p-posters-item__imagebox
                        img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                    .s_p-posters-item--title Эногастрономический ужин
                    .s_p-posters-item--date 5 февраля 2019, начало в 18.00                   
               
                 

            .s_p-posters__content 
                .s_p-posters-article(data-posters='0')
                    .s_p-posters-article__content 
                        .s_p-posters-article__info
                            a.s_p-posters-article--title(href='#!') Эногастрономический ужин
                            ul.s_p-posters-article__list
                                li.s_p-posters-article__list--item
                                    span Когда:
                                    div 5 февраля 2019, начало в 18.00
                                li.s_p-posters-article__list--item
                                    span Где:
                                    div Studio WINE & SPIRITS
                                li.s_p-posters-article__list--item
                                    span Стоимость:
                                    div 1.500 BYN
                            a.s_p-posters-article--link.ui_button.--outline.--light(href='#!') забронировать
                        .s_p-posters-article__imagebox
                            img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                    .s_p-posters-article__desc  
                        .s_p-posters-article__desc--title Эногастрономический ужин  
                        .s_p-posters-article__desc--text Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча. 
                        .s_p-posters-article__desc--subtitle Что будет  
                        .s_p-posters-article__desc--subtext 
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.   
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.  
                .s_p-posters-article.--current(data-posters='1')
                    .s_p-posters-article__content 
                        .s_p-posters-article__info
                            a.s_p-posters-article--title(href='#!') 222Эногастрономический ужин
                            ul.s_p-posters-article__list
                                li.s_p-posters-article__list--item
                                    span Когда:
                                    div 5 февраля 2019, начало в 18.00
                                li.s_p-posters-article__list--item
                                    span Где:
                                    div Studio WINE & SPIRITS
                                li.s_p-posters-article__list--item
                                    span Стоимость:
                                    div 1.500 BYN
                            a.s_p-posters-article--link.ui_button.--outline.--light(href='#!') забронировать
                        .s_p-posters-article__imagebox
                            img(src='https://events.mediacrat.com/uploads/image/file/3814/IMG_3563.jpg' alt='' title='')
                    .s_p-posters-article__desc  
                        .s_p-posters-article__desc--title Эногастрономический ужин  
                        .s_p-posters-article__desc--text Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча. 
                        .s_p-posters-article__desc--subtitle Что будет  
                        .s_p-posters-article__desc--subtext Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.   
                .s_p-posters-article(data-posters='2')
                    .s_p-posters-article__content 
                        .s_p-posters-article__info
                            a.s_p-posters-article--title(href='#!') 333Эногастрономический ужин
                            ul.s_p-posters-article__list
                                li.s_p-posters-article__list--item
                                    span Когда:
                                    div 5 февраля 2019, начало в 18.00
                                li.s_p-posters-article__list--item
                                    span Где:
                                    div Studio WINE & SPIRITS
                                li.s_p-posters-article__list--item
                                    span Стоимость:
                                    div 1.500 BYN
                            a.s_p-posters-article--link.ui_button.--outline.--light(href='#!') забронировать
                        .s_p-posters-article__imagebox
                            img(src='http://stlydias.org/wp-content/themes/stlydias/img/dinner-church-guided-tour-13.jpg' alt='' title='')
                    .s_p-posters-article__desc  
                        .s_p-posters-article__desc--title Эногастрономический ужин  
                        .s_p-posters-article__desc--text Изящное сочетание блюда и вина, подобрать гармоничную винную пару для каждого курса ужина рефреном пронизывая вечер рассказами о Высокой кухне и ее традициях, о регионе, которому посвящена встреча. 
                        .s_p-posters-article__desc--subtitle Что будет  
                        .s_p-posters-article__desc--subtext Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.   

                        
