section.section-poster-reservation(data-navpanel-hash='#reservation' data-navpanel='dark' data-navpanel-title='Бронь стола') 
    .container.s_p-reserv
        .line-container--wrap
        .c_title.--dark
            h5.c_title--text Бронь стола
            .c_title--subtext ближайшие 
        .s_p-reserv__message
            | Ваша заявка отправлена, с вами скоро свяжутся.
        .s_p-reserv__content    
            .s_p-reserv__text 
                .s_p-reserv__text--title Будьте внимательны при выборе даты бронирования.
                .s_p-reserv__text--content В случае отмены бронирования не менее чем за 48 часов до времени бронирования, осуществляется возврат денежных средств.  
            form.s_p-reserv__form 
                .ui_form-group.s_p-reserv__form--datepicker
                    .ui_form-input
                        ._label
                            | Дата
                            span *
                        label._icon-field.icon-calendar(for='id3' data-datepicker-toggle) 
                            input._input#id3(type='text' name='')
                        .c_datepicker
                            .c_datepicker--title Календарь бронирования
                            button.c_datepicker--close(type='button')
                                i.icon-cross-out
                            .c_datepicker-wrap 

                .ui_form-group
                    .ui_form-input
                        label._label(for='id4') 
                            | Время
                            span *
                        input._input#id4(type='text' name='')
                .ui_form-group
                    .ui_form-input
                        label._label(for='id5') 
                            | Телефон
                            span *
                        input._input#id5(type='text' name='')
                .ui_form-group
                    .ui_form-input
                        label._label(for='id5') 
                            | Имя
                            span *
                        input._input#id5(type='text' name='')
                .ui_form-group.s_p-reserv__form--person
                    .ui_form-input
                        label._label(for='id6') 
                            | Количество персон
                            span *
                        input._input#id6(type='text' name='')
                .ui_form-group.s_p-reserv__form--message
                    .ui_form-input
                        label._label(for='id7') Комментарии
                        textarea#id7._textarea(rows='4') 
                .ui_form-group.s_p-reserv__form--submit
                    button.ui_button.--default(type='button') забронировать
                