extends structure/_layout_structure.pug

block style-append
    link(rel="stylesheet" href=`${pathStyle}page-other.css`)
    
block content  
    // 404
    include ./pages/other/_section-other-404.pug

block footer