extends structure/_layout_structure.pug

block style-append
    link(rel="stylesheet" href=`${pathStyle}page-about.css`)
    
block content  
    .sections-about-wrap 
        // promo
        include ./pages/about/_section-about-promo.pug
        
        // features
        include ./pages/about/_section-about-features.pug
    
    // halls
    include ./pages/about/_section-about-halls.pug
    
    // command
    include ./pages/about/_section-about-command.pug
