extends structure/_layout_structure.pug

block style-append
    link(rel="stylesheet" href=`${pathStyle}page-academy.css`)
    
block content  

    // promo
    include ./pages/academy/_section-course-promo.pug
    
    // info
    include ./pages/academy/_section-course-info.pug

    // programm
    include ./pages/academy/_section-course-programm.pug

    // price
    include ./pages/academy/_section-course-price.pug

    block modal 
        #courseOrder.ui_modal.modal.fade(role='dialog')
            .modal-dialog
                form.modal-content(action='')
                    .modal-header.ui_modal__title
                        .ui_modal--title Записаться
                        button.ui_modal--close.ui_button.--transparent(type='button' data-dismiss='modal'  aria-label="Close" )
                            i.icon-cross-out
                    .modal-body.ui_modal__course
                        // .ui_modal--success Ваша заявка принята, ожидайте, с вами свяжутся.
                        .ui_form-group
                            .ui_form-input
                                label._label(for='id5') 
                                    | Представьтесь пожалуйста
                                    span *
                                input._input#id5(type='text' name='')
                        .ui_form-group
                            .ui_form-input
                                label._label(for='id5') 
                                    | E-mail
                                    span *
                                input._input#id5(type='text' name='')
                        .ui_form-group
                            .ui_form-input
                                label._label(for='id5') 
                                    | Телефон
                                    span *
                                input._input#id5(type='text' name='')
                        .ui_form-group
                            .ui_form-input
                                label._label(for='id6') 
                                    | Количество человек
                                    span *
                                input._input#id6(type='number' data-price-input name='' min='1' max='30' value='1')
                    .modal-footer.ui_modal__footer  
                        button.ui_modal--submit.ui_button.--default(type='button') записаться