extends structure/_layout_structure.pug

block style-append
    link(rel="stylesheet" href=`${pathStyle}page-academy.css`)
    
block content  

    // promo
    include ./pages/academy/_section-academy-promo.pug
    
    // courses
    include ./pages/academy/_section-academy-courses.pug

    // gallery
    include ./pages/academy/_section-academy-gallery.pug