extends structure/_layout_structure.pug

block style-append
    link(rel="stylesheet" href=`${pathStyle}page-other.css`)
    
block content  
    // contact
    include ./pages/other/_section-other-contact.pug

block footer