extends structure/_layout_structure.pug

block style-append
    link(rel="stylesheet" href=`${pathStyle}page-index.css`)
    
block content  
    // header
    include ./pages/index/_section-index-promo.pug
    
    main.sections-index-page

        // features
        include ./pages/index/_section-index-features.pug

        // poster
        include ./pages/index/_section-index-poster.pug

        // specialoffers
        include ./pages/index/_section-index-specialoffers.pug

        // gallery
        include ./pages/index/_section-index-gallery.pug

        // table reservation
        include ./pages/index/_section-index-reservation.pug