extends structure/_layout_structure.pug

block style-append
    link(rel="stylesheet" href=`${pathStyle}page-menu.css`)
    
block content  
    // promo
    include ./pages/menu/_section-menu-promo.pug

    // nav
    include ./pages/menu/_section-menu-nav.pug

    // content
    include ./pages/menu/_section-menu-content.pug
