extends structure/_layout_structure.pug

block style-append
    link(rel="stylesheet" href=`${pathStyle}page-menu.css`)
    
block content  
    // promo
    include ./pages/menu/_section-menu-main.pug