extends structure/_layout_structure.pug

block style-append
    link(rel="stylesheet" href=`${pathStyle}page-poster.css`)

block content  

    //head
    include ./pages/poster/_section-poster-head.pug

    //content
    include ./pages/news/_section-news-content.pug

    //events
    include ./pages/news/_section-news-events.pug  