extends structure/_layout_structure.pug

block style-append
    link(rel="stylesheet" href=`${pathStyle}page-poster.css`)

block content  

    // promo 
    include ./pages/news/_section-news-promo.pug

    // contents
    section.section-poster-poster(data-navpanel-hash='#posters' data-navpanel='white' data-navpanel-title='События' )
        include ./pages/poster/_section-poster-posters.pug

    // lastnews
    include ./pages/news/_section-news-catalog.pug