extends structure/_layout_structure.pug

block style-append
    link(rel="stylesheet" href=`${pathStyle}page-poster.css`)

block content  

    //promo
    include ./pages/poster/_section-poster-promo.pug

    //posters-nav
    include ./pages/poster/_section-poster-posters-nav.pug

    //posters
    include ./pages/poster/_section-poster-posters.pug

    //reservation 
    include ./pages/poster/_section-poster-reservation.pug

    