extends structure/_layout_structure.pug

block style-append
    link(rel="stylesheet" href=`${pathStyle}page-poster.css`)

block content  

    //head
    include ./pages/poster/_section-poster-head.pug

    //content
    include ./pages/poster/_section-poster-content.pug

    //events
    include ./pages/poster/_section-poster-events.pug    

    block modal
        #reservationTable.ui_modal.modal.fade(role='dialog')
            .modal-dialog.ui_modal--large 
                form.modal-content(action='')
                    .modal-header.ui_modal__title
                        .ui_modal--title Форма бронирования
                        button.ui_modal--close.ui_button.--transparent(type='button' data-dismiss='modal'  aria-label="Close" )
                            i.icon-cross-out
                    .modal-body.ui_modal__reserv
                        // .ui_modal--success Ваша заявка принята, ожидайте, с вами свяжутся.
                        .ui_form-group.ui_modal__reserv--title
                            .ui_form-input
                                label._label(for='id4') 
                                    | Мероприятие
                                input._input#id4(type='text' name='' value='Эногастрономический ужин Casa Santos Lima 5 февраля' disabled)
                        .ui_form-group
                            .ui_form-input
                                label._label(for='id4') 
                                    | Дата
                                input._input#id4(type='text' name='' value='20.02.2019' disabled)
                        .ui_form-group
                            .ui_form-input
                                label._label(for='id5') 
                                    | Имя
                                    span *
                                input._input#id5(type='text' name='')
                        .ui_form-group
                            .ui_form-input
                                label._label(for='id5') 
                                    | Телефон
                                    span *
                                input._input#id5(type='text' name='')
                        .ui_form-group
                            .ui_form-input
                                label._label(for='id5') 
                                    | E-mail
                                    span *
                                input._input#id5(type='text' name='')
                        .ui_form-group
                            .ui_form-input
                                label._label(for='id6') 
                                    | Количество персон
                                    span *
                                input._input#id6(type='number' data-price-input name='' min='1' max='30' value='1')
                        .ui_form-group
                            .ui_form-input
                                label._label(for='id6') 
                                    | Стоимость, BYN
                                input._input#id6.c_reserv--price(type='text' data-price-value='90' value='90' name='' disabled)
                    .modal-footer.ui_modal__footer  
                        button.ui_modal--submit.ui_button.--default(type='button') забронировать
                        .ui_modal--message В случае отмены бронирования не менее чем за 48 часов до времени бронирования, осуществляется возврат денежных средств. 