extends structure/_layout_structure.pug

block style-append
    link(rel="stylesheet" href=`${pathStyle}page-other.css`)
    
block content  
    // service
    include ./pages/other/_section-other-service.pug