extends structure/_layout_structure.pug

block style-append
    link(rel="stylesheet" href=`${pathStyle}page-other.css`)
    
block content  

    // promo
    include ./pages/shop/_section-shop-promo.pug

    // features
    include ./pages/shop/_section-shop-features.pug

    // map
    include ./pages/shop/_section-shop-map.pug