.clear-list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.clear-button {
    outline: none !important;
    border: none;
    padding: 0;
}

.shadow {
    &-button {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }
}

.line-block {
    &-t-r::after,
    &-b-l::before {
        content: '';
        position: absolute;
        width: 294px;
        height: 129px;
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: -1;
    }
    &-t-r {
        &::after {
            top:-15px;
            right: -30px;
            @include background-image('line-t-r.png');
        }
    }
    &-b-l {
        &::before {
            bottom: -20px;
            left: -30px;
            @include background-image('line-b-l.png');
        }
    }
}

@include media-breakpoint-up(md) {
    .line-container {
        border-left: 1px solid $clr-border;
        border-right: 1px solid $clr-border;
        @include media-breakpoint-up(lg) {
            &--wrap {
                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    top:0;
                    height: 100%;
                    border-left: 1px solid $clr-border;
                    z-index: 1;
                }
                &::before {
                    left: 50px;
                }
                &::after {
                    @include media-breakpoint-up(lg) {
                        left: 50px + 140px;
                    }
                    @include media-breakpoint-up(xl) {
                        left: 50px + 130px;
                    }
                    @include media-breakpoint-up(xg) {
                        left: 50px + 160px;
                    }
                }
            }
        }
    }
}

.line-container-pseudo {
    // background-color: red;
    @extend .line-container;
    @extend .line-container--wrap;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @include media-breakpoint-down(sm) {
        display: none !important;
    }
    & + div {
        z-index: 2;
    }
}


.section-promo {
    position: relative;
    height: 100vh;
    overflow: hidden;
    min-height: 500px;
    max-height: 1100px;
}