.ui_debugger {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 15px;
    background-color: #5e35b1;
    color: #fff;
    z-index: $z-index-11;
    &-item {
        font-size: 14px;
        line-height: 24px;
        border-bottom: 1px dashed #fff;
        &:last-child {
            border-bottom: none;
        }
        &.--media {
            &::after {
                text-transform: uppercase;
                @media (max-width:344.98px) {
                    content: 'xv'
                }
                @include media-breakpoint-only(xs) {
                    content: 'xs';
                }
                @include media-breakpoint-only(sm) {
                    content: 'sm';
                }
                @include media-breakpoint-only(md) {
                    content: 'md';
                }
                @include media-breakpoint-only(lg) {
                    content: 'lg';
                }
                @include media-breakpoint-only(xl) {
                    content: 'xl'
                }
                @include media-breakpoint-only(xg) {
                    content: 'xg'
                }
            }
        }
    }
}
