@import 'css3-mixins';

    // @include background-image('icons.svg');
        @mixin background-image($image) {
            background-image: url($path-images + $image);
        }

    // @include placeholder{color: red; padding: 20px; border: 1px solid tomato};
        @mixin optional-at-root($sel) {
            @at-root #{if(not &, $sel, selector-append(&, $sel))} {
            @content;
            }
        }
        @mixin placeholder {
            @include optional-at-root('::-webkit-input-placeholder') {
            @content;
            }
        
            @include optional-at-root(':-moz-placeholder') {
            @content;
            }
        
            @include optional-at-root('::-moz-placeholder') {
            @content;
            }
        
            @include optional-at-root(':-ms-input-placeholder') {
            @content;
            }
        }  

    // @include font-family(two);
        @mixin font-family($p : null) {
            @if ($p) {
                font-family: $font-secondary;
            } @else {
                font-family: $font-base;
            }
        }

    // @include pos-center(both);
        @mixin pos-center($position) {
            position: absolute;
            @if $position == 'vertical' {
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            @else if $position == 'horizontal' {
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translate(-50%);
            }
            @else if $position == 'both' {
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }

    // @include font-size(14px)
        @function calculateRem($size) {
            $remSize: $size / 16px;
            @return $remSize * 1rem;
        }

        @mixin font-size($size) {
            font-size: $size;
            font-size: calculateRem($size);
        }

    // @include font-face('gotham', '/fonts/gotham');2
        @mixin font-face($font-name, $file-name, $weight: normal, $style: normal) { 
            @font-face {
              font-family: quote($font-name);
              src: url($file-name + '.eot');
              src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
                   url($file-name + '.woff') format('woff'),
                   url($file-name + '.ttf')  format('truetype'),
                   url($file-name + '.svg##{$font-name}')  format('svg');
              font-weight: $weight;
              font-style: $style;
            }
        }

    //@include shift([property],[duration],[easing]); @include shift($duration: .15s);
    @mixin shift($property: all, $duration: .15s, $ease: ease-in-out){
        transition: $property $duration $ease;
    }
