.test-grid {
    display: grid;
    margin-top: 50px;
    margin-bottom: 50px;
    &-4 {
        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(4,1fr);
        }
        pre {
            margin-top: 30px;
        }
    }
    &-title {
            @include media-breakpoint-up(md) {
                grid-column: span 4;
            }
            font-size: 30px;
            @include font-family(two);
            // color: $clr-green;
    }
}
.test-inner-grid {
    @include media-breakpoint-up(md) {
        grid-column: span 4;
    }
    display: grid;
}