.section-about-promo {

    @include media-breakpoint-up(md) {
        height: 100vh;
        min-height: 620px;
    }
}

.s_a-promo {
    &__wrap {
        position: relative;
    }
    &__content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        // align-items: center;
        @include media-breakpoint-down(sm) {
            padding-top: 60px;
            padding-bottom: 50px;
        }
        @include media-breakpoint-up(md) {
            margin: 0 auto;
            width: 80%;
        }
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
    }
    &--logo {
        @include media-breakpoint-up(md) {
            margin-top: -20%;
        }
        img {
            width: 210px;
            @include media-breakpoint-up(lg) {
                width: 335px;
            }
        }
    }
    &--text {
       
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $clr-white;
        @include media-breakpoint-up(xg) {
            font-size: 16px;
            line-height: 24px;
        }
        p {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}