.section-about-features {
    // height: 100vh;
    overflow: hidden;
}

.s_a-features {
    position: relative;
    @extend .line-container;
    height: 100%;
    padding-top: 50px;
    @include media-breakpoint-up(lg) {
        padding-top: 100px;
    }
    &__content {
        position: relative;
        z-index: 2;
        // margin: 0 50px;
        color: $clr-white;
        height: 100%;
        padding-bottom: 80px;
        padding-top: 40px;
        @include media-breakpoint-up(lg) {
            padding-top: 30px;
        }
        @include media-breakpoint-up(xl) {
            padding-bottom: 100px;
            padding-top: 60px;
        }
        @include media-breakpoint-up(xg) {
            margin: 0 100px;
        }
        &::after {
            content: '';
            position: absolute;
            left: -15px;
            right: -15px;
            top: -130px;
            bottom: 0;
            background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
            opacity: .6;
            z-index: -1;
            @include media-breakpoint-up(lg) {
                left: 10%;
                right: 10%;
            }
        }
    }
    &--title {
        position: relative;
        z-index: 3;
        @include media-breakpoint-down(xs) {
            width: 80%;
            margin: 0 auto;
        }
    }
    &-item {
        outline: none;
        position: relative;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
        align-items: center;
        @include media-breakpoint-up(md) {
            grid-gap: 30px;
            width: 70%;
        }
        @include media-breakpoint-up(lg) {
            grid-gap: 40px;
            width: 55%;
        }
        @include media-breakpoint-up(xl) {
            width: 48%;
        }
        @include media-breakpoint-up(xg) {
            grid-gap: 55px;
        }
        &:not(:last-child) {
            margin-bottom: 55px;
            @include media-breakpoint-up(xl) {
                margin-bottom: 30px;
            }
        }
        &::before {
            content: '';
            position: absolute;
            width: 130px;
            height: 134px;
            border: 1px dashed $clr-brown;
            top: 52%;
            transform: translateY(-50%);
            z-index: 1;
            @include media-breakpoint-up(xg) {
                width: 170px;
                height: 164px;
            }
        }
      
        &--count {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            @include media-breakpoint-up(xg) {
                font-size: 18px;
            }
            span {
                font-style: normal;
                font-weight: bold;
                font-size: 60px;
                line-height: 60px;
                @include media-breakpoint-up(xg) {
                    font-size: 80px;
                    line-height: 80px;
                    margin-bottom: -7px;
                }
            }
            &::after,
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                border-left: 1px dashed $clr-brown;
                height: 25px;
                z-index: 1;
                @include media-breakpoint-up(xg) {
                    height: 30px;
                }
            }
            &::after {
                top: -22px;
                @include media-breakpoint-up(xg) {
                    top: -30px;
                }
            }
            &::before {
                bottom: -26px;
                @include media-breakpoint-up(xg) {
                    bottom: -35px;
                }
            }
        }
        &--text {
            position: relative;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 20px;
            z-index: 2;
            @include media-breakpoint-up(xl) {
                font-size: 14px;
                line-height: 22px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 16px;
                line-height: 24px;
            }
        }
        &:nth-child(odd) {
            &::before {
                left: 50px;
                border-left: none;
            }
        }
        &:nth-child(even) {
            margin-left: auto;
            grid-template-columns: 1fr 100px ;
            &::before {
                right: 50px;
                border-right: none;
            }
        }
        &:nth-child(even) &--text {
            text-align: right;
            grid-column: 1;
            grid-row: 1;
        }
        &:nth-child(even) &--count {
            grid-column: 2;
        }
    }
}