.s_a-hall {
    padding: 30px 15px 10px 15px;
    position: relative;
    @extend .line-container;
    @include media-breakpoint-up(md) {
        padding: 30px 15px;
    }
    &__content {
        position: relative;
        display: grid; 
        z-index: 2;
        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2,1fr);
        }
        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(4,1fr);
        }
    }
    &-card {
        display: flex;
        flex-flow: column nowrap;
        border: 1px dashed $clr-gray;
        padding: 30px 20px 10px;
        background-color: $clr-white;
        @include media-breakpoint-down(sm) {
            padding: 20px 15px 10px;
            border-bottom: none;
        }
        @include media-breakpoint-only(md) {
            border-right: none;
            border-bottom: none;
        }
        @include media-breakpoint-up(lg) {
            border-right: none;
            padding: 20px 20px 10px;
        }
        @include media-breakpoint-up(xg) {
            padding: 30px 30px 15px;
        }
        &--title {
            display: flex;
            align-items: center;
            color: $clr-gray;
            @include shift();
            @include media-breakpoint-between(md,xl) {
                height: 24px * 2;
            }
            i {
                font-size: 24px;
                line-height: 24px;
                @include media-breakpoint-up(xl) {
                    font-size: 36px;
                    line-height: 36px;
                }
                @include media-breakpoint-up(xg) {
                    font-size: 50px;
                    line-height: 50px;
                }
            }
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                margin-left: 15px;
                @include media-breakpoint-up(xg) {
                    margin-left: 15px;
                }
            }
        }
        &--desc {
            margin-top: 15px;
            color: $clr-gray;
            @include shift();
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            @include media-breakpoint-up(xg) {
                font-size: 16px;
                line-height: 24px;
            }
        }
        &--link {
            margin-top: auto;
            margin-left: auto;
            color: $clr-gray;
            pointer-events: none;
        }
        @include media-breakpoint-down(sm) {
            &:last-child {
                border-bottom: 1px dashed $clr-gray;
            }
            &--title,
            &--link {
                color: $clr-brown;
            }
            &--desc {
                color: $clr-gray-dark;
            }
        }
        @include media-breakpoint-only(md) {
            &:nth-child(2n+2) {
                border-right: 1px dashed $clr-gray;
            }
            &:nth-child(4n+3),
            &:last-child {
                border-bottom: 1px dashed $clr-gray;
            }
        }
        @include media-breakpoint-up(lg) {
            &:last-child {
                border-right: 1px dashed $clr-gray;
            }
            &:hover {
                cursor: pointer;
                border-color: $clr-brown;
                border-right-color: $clr-brown;
                & + div {
                    border-left-color: $clr-brown;
                    border-right-color: $clr-brown;
                }
            }
            &:hover &--title,
            &:hover &--link {
                color: $clr-brown;
            }
            &:hover &--desc {
                color: $clr-black-light;
            }
           
        }
    }
}