.s_a-command {
    position: relative;
    @extend .line-container;
    padding: 30px 15px 50px 15px;
    @include media-breakpoint-up(lg) {
        padding: 30px 15px 100px 15px;
    }
    &__content {
        position: relative;
        z-index: 3;
        display: grid;
        grid-gap: 30px;
        @include media-breakpoint-up(md) {
            margin: 0 -15px;
            grid-gap: 25px;
            grid-template-columns: repeat(2,1fr);
        }
        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(3,1fr);
        }
        @include media-breakpoint-up(xl) {
            grid-gap: 40px 45px;
        }
    }
}