$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-menu-second: "\e914";
$icon-instagram: "\e912";
$icon-facebook: "\e913";
$icon-tripadvisor-logotype: "\e90d";
$icon-vk: "\e900";
$icon-small-arrow-right: "\e901";
$icon-small-arrow-left: "\e90c";
$icon-arrow-down: "\e902";
$icon-arrow-left: "\e903";
$icon-arrow-right: "\e904";
$icon-bung: "\e905";
$icon-calendar: "\e906";
$icon-coffee-table: "\e907";
$icon-menu: "\e908";
$icon-cook: "\e909";
$icon-cross-out: "\e90a";
$icon-dinner: "\e90b";
$icon-pastry-chef: "\e90e";
$icon-phone-call: "\e90f";
$icon-placeholder: "\e910";
$icon-pot: "\e911";
$icon-sommelier: "\e916";
$icon-time: "\e917";
$icon-wine-shope: "\e91a";
$icon-wine: "\e91b";
$icon-youtube: "\e91c";


