@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?f16hgu');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?f16hgu#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?f16hgu') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?f16hgu') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?f16hgu##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-second {
  &:before {
    content: $icon-menu-second; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-tripadvisor-logotype {
  &:before {
    content: $icon-tripadvisor-logotype; 
  }
}
.icon-vk {
  &:before {
    content: $icon-vk; 
  }
}
.icon-small-arrow-right {
  &:before {
    content: $icon-small-arrow-right; 
  }
}
.icon-small-arrow-left {
  &:before {
    content: $icon-small-arrow-left; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-bung {
  &:before {
    content: $icon-bung; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-coffee-table {
  &:before {
    content: $icon-coffee-table; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-cook {
  &:before {
    content: $icon-cook; 
  }
}
.icon-cross-out {
  &:before {
    content: $icon-cross-out; 
  }
}
.icon-dinner {
  &:before {
    content: $icon-dinner; 
  }
}
.icon-pastry-chef {
  &:before {
    content: $icon-pastry-chef; 
  }
}
.icon-phone-call {
  &:before {
    content: $icon-phone-call; 
  }
}
.icon-placeholder {
  &:before {
    content: $icon-placeholder; 
  }
}
.icon-pot {
  &:before {
    content: $icon-pot; 
  }
}
.icon-sommelier {
  &:before {
    content: $icon-sommelier; 
  }
}
.icon-time {
  &:before {
    content: $icon-time; 
  }
}
.icon-wine-shope {
  &:before {
    content: $icon-wine-shope; 
  }
}
.icon-wine {
  &:before {
    content: $icon-wine; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}

