/*!  
    -----------------
    Front-End: E.A. Gableev - t.me/albka 
    Pug.js + SCSS + CSS3 Mixins + Bootstrap 4.1.3 Mixins
    -----------------
    v0.1 | 30/04/2019
!*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
------------------------------------------------------------- */
.clear-list, .s_p-posters-nav__list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }

.clear-button {
  outline: none !important;
  border: none;
  padding: 0; }

.shadow-button, .s_p-posters-item::after {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); }

.line-block-t-r::after, .line-block-b-l::before {
  content: '';
  position: absolute;
  width: 294px;
  height: 129px;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1; }

.line-block-t-r::after {
  top: -15px;
  right: -30px;
  background-image: url("../img/line-t-r.png"); }

.line-block-b-l::before {
  bottom: -20px;
  left: -30px;
  background-image: url("../img/line-b-l.png"); }

@media (min-width: 768px) {
  .line-container, .line-container-pseudo, .s_p-posters-nav, .s_p-posters, .s_p-reserv, .s_p-content, .s_p-events, .s_n-events, .s_n-catalog {
    border-left: 1px solid rgba(187, 187, 187, 0.2);
    border-right: 1px solid rgba(187, 187, 187, 0.2); } }
  @media (min-width: 768px) and (min-width: 992px) {
    .line-container--wrap::after, .line-container-pseudo::after, .line-container--wrap::before, .line-container-pseudo::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      border-left: 1px solid rgba(187, 187, 187, 0.2);
      z-index: 1; }
    .line-container--wrap::before, .line-container-pseudo::before {
      left: 50px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 992px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 190px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 180px; } }

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1700px) {
  .line-container--wrap::after, .line-container-pseudo::after {
    left: 210px; } }

.line-container-pseudo {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1; }
  @media (max-width: 767.98px) {
    .line-container-pseudo {
      display: none !important; } }
  .line-container-pseudo + div {
    z-index: 2; }

.section-promo, .section-poster-promo {
  position: relative;
  height: 100vh;
  overflow: hidden;
  min-height: 500px;
  max-height: 1100px; }

.section-poster-promo {
  background-image: url("../img/poster-promo-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
  @media (max-width: 767.98px) {
    .section-poster-promo {
      height: auto; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .section-poster-promo {
      min-height: 600px;
      max-height: 600px; } }
  @media (min-width: 1200px) {
    .section-poster-promo {
      min-height: 800px; } }

.s_p-promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media (max-width: 767.98px) {
    .s_p-promo__content {
      padding-top: 30px; } }
  @media (min-width: 768px) {
    .s_p-promo__content {
      padding-left: 30px; } }
  @media (min-width: 992px) {
    .s_p-promo__content {
      padding-left: 60px; } }

.s_p-promo__wrap {
  position: relative; }

.s_p-promo--title {
  margin-left: 20px;
  padding-left: 30px;
  font-style: normal;
  font-weight: bold;
  font-family: "Cormorant", serif;
  text-transform: uppercase;
  color: #FFF;
  font-size: 50px;
  line-height: 75px; }
  @media (min-width: 1700px) {
    .s_p-promo--title {
      font-size: 70px;
      line-height: 105px; } }

.s_p-promo--text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #FFF; }
  @media (min-width: 768px) {
    .s_p-promo--text {
      padding-left: 45px;
      width: 80%; } }
  @media (min-width: 1200px) {
    .s_p-promo--text {
      width: 55%; } }
  @media (min-width: 1700px) {
    .s_p-promo--text {
      font-size: 16px;
      line-height: 24px; } }

.s_p-promo-card {
  position: relative;
  color: #FFF;
  padding: 30px 30px 30px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%); }
  @media (max-width: 767.98px) {
    .s_p-promo-card {
      margin: 0 -15px; } }
  @media (min-width: 768px) {
    .s_p-promo-card {
      width: 370px; } }
  @media (min-width: 1200px) {
    .s_p-promo-card {
      width: 420px;
      padding: 30px 30px 50px 80px; } }
  @media (min-width: 1700px) {
    .s_p-promo-card {
      padding: 30px 90px 100px 90px;
      width: 600px; } }
  .s_p-promo-card--date {
    position: absolute;
    top: 70px;
    left: 20px;
    font-style: normal;
    font-weight: bold;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-transform: scale(-1);
    transform: scale(-1); }
    @media (min-width: 992px) {
      .s_p-promo-card--date {
        font-size: 18px;
        line-height: 18px; } }
    @media (min-width: 1200px) {
      .s_p-promo-card--date {
        font-size: 24px;
        line-height: 24px;
        top: 70px;
        left: 30px; } }
    @media (min-width: 1700px) {
      .s_p-promo-card--date {
        font-size: 28px;
        line-height: 28px; } }
  .s_p-promo-card__tags {
    margin-bottom: 10px; }
    .s_p-promo-card__tags a {
      font-size: 14px;
      line-height: 14px;
      color: #FFF;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
      .s_p-promo-card__tags a:hover {
        color: #FFF; }
      .s_p-promo-card__tags a:not(:last-child) {
        margin-right: 20px; }
      .s_p-promo-card__tags a:nth-child(n+4) {
        display: none; }
  .s_p-promo-card--title {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 48px;
    color: #FFF;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    font-size: 20px;
    line-height: 28px; }
    @media (min-width: 992px) {
      .s_p-promo-card--title {
        font-size: 24px;
        line-height: 28px; } }
    @media (min-width: 1200px) {
      .s_p-promo-card--title {
        font-size: 32px;
        line-height: 36px; } }
    @media (min-width: 1700px) {
      .s_p-promo-card--title {
        font-size: 42px;
        line-height: 48px; } }
    .s_p-promo-card--title:hover {
      color: #BB906A; }
  .s_p-promo-card__desc {
    margin-top: 30px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: normal;
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
    max-height: 110px; }
    @media (min-width: 1700px) {
      .s_p-promo-card__desc {
        font-size: 16px;
        line-height: 24px;
        max-height: 120px; } }
  .s_p-promo-card--price {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase; }
  .s_p-promo-card__bottom {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (min-width: 1200px) {
      .s_p-promo-card__bottom {
        margin-top: 65px; } }
  .s_p-promo-card--logo img {
    width: 60px; }
    @media (min-width: 1200px) {
      .s_p-promo-card--logo img {
        width: 80px; } }

.section-poster-posters-nav {
  background-image: url("../img/features-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF; }

.s_p-posters-nav {
  position: relative;
  padding: 30px 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767.98px) {
    .s_p-posters-nav {
      max-width: unset;
      overflow: hidden;
      padding: 30px 0 25px; } }
  @media (min-width: 992px) {
    .s_p-posters-nav {
      padding: 35px 0 50px; } }
  .s_p-posters-nav--title {
    font-style: normal;
    font-weight: bold;
    padding-right: 30px;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    font-size: 18px;
    line-height: 18px; }
    @media (max-width: 991.98px) {
      .s_p-posters-nav--title {
        display: none; } }
    @media (min-width: 1200px) {
      .s_p-posters-nav--title {
        font-size: 28px;
        line-height: 28px;
        -webkit-transform: translateY(10px);
        transform: translateY(10px); } }
    @media (min-width: 1200px) {
      .s_p-posters-nav--title {
        font-size: 38px;
        line-height: 38px; } }
  .s_p-posters-nav__list {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 15px; }
    @media (max-width: 767.98px) {
      .s_p-posters-nav__list {
        padding-bottom: 20px;
        overflow-x: scroll; } }
    @media (min-width: 1700px) {
      .s_p-posters-nav__list {
        padding-bottom: 20px; } }
    @media (min-width: 768px) {
      .s_p-posters-nav__list::after {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #FFF;
        z-index: 1; } }
    .s_p-posters-nav__list--item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media (max-width: 767.98px) {
        .s_p-posters-nav__list--item {
          position: relative;
          min-width: 90px; }
          .s_p-posters-nav__list--item::after {
            content: '';
            position: absolute;
            bottom: -12px;
            left: 0;
            width: 100%;
            border-bottom: 1px solid #FFF;
            z-index: 1; }
          .s_p-posters-nav__list--item:nth-child(1) {
            margin-left: 15px; } }
      @media (min-width: 768px) {
        .s_p-posters-nav__list--item {
          -ms-flex-preferred-size: calc(100% / 12);
          flex-basis: calc(100% / 12); } }
    .s_p-posters-nav__list--link {
      position: relative;
      color: #FFF;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      z-index: 2; }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .s_p-posters-nav__list--link {
          font-size: 12px;
          line-height: 14px; } }
      @media (min-width: 1700px) {
        .s_p-posters-nav__list--link {
          font-size: 16px;
          line-height: 16px; } }
      .s_p-posters-nav__list--link::after {
        content: '';
        position: absolute;
        bottom: -16px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #FFF;
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out; }
        @media (min-width: 1200px) {
          .s_p-posters-nav__list--link::after {
            bottom: -17px;
            width: 14px;
            height: 14px; } }
        @media (min-width: 1700px) {
          .s_p-posters-nav__list--link::after {
            bottom: -23px; } }
      .s_p-posters-nav__list--link:hover {
        color: #FFF; }
        @media (min-width: 992px) {
          .s_p-posters-nav__list--link:hover {
            color: #BB906A; }
            .s_p-posters-nav__list--link:hover::after {
              -webkit-transform: translateX(-50%) scale(1.2);
              transform: translateX(-50%) scale(1.2);
              background-color: #BB906A; } }
      .s_p-posters-nav__list--link.--current {
        pointer-events: none;
        color: #FFF; }
        @media (max-width: 767.98px) {
          .s_p-posters-nav__list--link.--current {
            color: #BB906A; } }
        .s_p-posters-nav__list--link.--current::after {
          background-color: #BB906A; }

@media (max-width: 991.98px) {
  .section-poster-posters {
    background-image: url("../img/features-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }

.s_p-posters {
  position: relative; }
  .s_p-posters__wrap {
    display: grid;
    padding: 30px 0; }
    @media (min-width: 992px) {
      .s_p-posters__wrap {
        padding: 30px 0;
        height: 100%;
        grid-template-columns: 4fr 9fr;
        grid-gap: 30px; } }
    @media (min-width: 1200px) {
      .s_p-posters__wrap {
        grid-template-columns: 3fr 9fr; } }
    @media (min-width: 1700px) {
      .s_p-posters__wrap {
        grid-gap: 50px; } }
  .s_p-posters__aside {
    position: relative;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .s_p-posters__aside {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(65px, 1fr);
        grid-gap: 20px 15px; } }
    @media (min-width: 992px) {
      .s_p-posters__aside::before {
        content: '';
        position: absolute;
        top: -30px;
        right: 0;
        bottom: -30px;
        width: 1500px;
        background-image: url("../img/features-bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out; } }
  .s_p-posters-item {
    position: relative;
    padding-left: 65px; }
    @media (max-width: 767.98px) {
      .s_p-posters-item {
        min-height: 65px; } }
    @media (max-width: 991.98px) {
      .s_p-posters-item {
        padding-left: 85px; } }
    @media (min-width: 992px) {
      .s_p-posters-item {
        padding-right: 30px; } }
    @media (min-width: 992px) and (max-width: 1699.98px) {
      .s_p-posters-item {
        padding-left: 65px;
        margin-left: -15px; } }
    .s_p-posters-item:not(:last-child) {
      margin-bottom: 20px; }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .s_p-posters-item:not(:last-child) {
          margin-bottom: 0; } }
      @media (min-width: 992px) {
        .s_p-posters-item:not(:last-child) {
          margin-bottom: 30px; } }
      @media (min-width: 1700px) {
        .s_p-posters-item:not(:last-child) {
          margin-bottom: 50px; } }
    .s_p-posters-item::after {
      content: '\e904';
      position: absolute;
      top: 0;
      right: -15px;
      font-family: "icomoon";
      height: 28px;
      width: 28px;
      background-color: #BB906A;
      color: #FFF;
      padding: 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 12px;
      line-height: 12px;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: scale(0.4);
      transform: scale(0.4); }
      @media (min-width: 1700px) {
        .s_p-posters-item::after {
          font-size: 14px;
          line-height: 14px;
          height: 36px;
          width: 36px; } }
    .s_p-posters-item__imagebox {
      position: absolute;
      top: 0;
      left: 0;
      width: 65px;
      height: 65px; }
      @media (min-width: 992px) {
        .s_p-posters-item__imagebox {
          width: 36px;
          height: 36px; } }
      @media (min-width: 1200px) {
        .s_p-posters-item__imagebox {
          width: 50px;
          height: 50px; } }
      .s_p-posters-item__imagebox img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .s_p-posters-item--title {
      color: #FFF;
      font-style: normal;
      font-weight: bold;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      font-size: 16px;
      line-height: 24px; }
      @media (min-width: 1700px) {
        .s_p-posters-item--title {
          font-size: 18px;
          line-height: 24px; } }
    .s_p-posters-item--date {
      margin-top: 7px;
      color: #FFF;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px; }
    .s_p-posters-item:hover .s_p-posters-item--title {
      color: #BB906A; }
    @media (min-width: 992px) {
      .s_p-posters-item.--current {
        pointer-events: none; }
        .s_p-posters-item.--current::after {
          opacity: 1;
          visibility: visible;
          -webkit-transform: scale(1);
          transform: scale(1); } }
    @media (min-width: 992px) and (max-width: 991.98px) {
      .s_p-posters-item.--current::after {
        display: none; } }
    @media (min-width: 992px) {
      .s_p-posters-item.--current .s_p-posters-item--title {
        color: #BB906A; } }
  @media (max-width: 991.98px) {
    .s_p-posters__content {
      display: none; } }
  .s_p-posters-article {
    display: none; }
    .s_p-posters-article.--current {
      display: block; }
    .s_p-posters-article__content {
      margin-bottom: 20px; }
      @media (min-width: 1200px) {
        .s_p-posters-article__content {
          display: grid;
          grid-template-columns: 35% auto;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start; } }
    .s_p-posters-article__info {
      position: relative;
      background-color: #BB906A;
      color: #FFF;
      margin: 0 0 20px 0;
      padding: 20px; }
      @media (min-width: 1200px) {
        .s_p-posters-article__info {
          margin: 15px 0 30px 0;
          padding: 20px 20px 25px 20px; } }
    .s_p-posters-article__list {
      margin-top: 20px; }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .s_p-posters-article__list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          padding: 0; } }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .s_p-posters-article__list--item {
          margin-left: 20px; } }
      @media (min-width: 1200px) {
        .s_p-posters-article__list--item:not(:last-child) {
          margin-bottom: 15px; } }
      .s_p-posters-article__list--item span {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 3px;
        display: block; }
        @media (min-width: 1700px) {
          .s_p-posters-article__list--item span {
            font-size: 22px;
            line-height: 22px; } }
      .s_p-posters-article__list--item div {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px; }
        @media (min-width: 1700px) {
          .s_p-posters-article__list--item div {
            font-size: 16px; } }
    .s_p-posters-article--link {
      min-width: 160px; }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .s_p-posters-article--link {
          position: absolute;
          top: 20px;
          right: 20px; } }
      @media (min-width: 1200px) {
        .s_p-posters-article--link {
          margin-top: 25px;
          margin-left: 25px; } }
    .s_p-posters-article--title {
      font-style: normal;
      font-weight: bold;
      color: #FFF;
      font-size: 18px;
      line-height: 28px; }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .s_p-posters-article--title {
          padding-right: 180px; } }
      @media (min-width: 1700px) {
        .s_p-posters-article--title {
          font-size: 24px;
          line-height: 28px; } }
      .s_p-posters-article--title:hover {
        color: #FFF; }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .s_p-posters-article__imagebox {
        position: absolute;
        top: 165px;
        right: 15px;
        width: 320px;
        height: 230px; } }
    @media (min-width: 1200px) {
      .s_p-posters-article__imagebox {
        height: 370px; } }
    @media (min-width: 1700px) {
      .s_p-posters-article__imagebox {
        height: 420px; } }
    .s_p-posters-article__imagebox img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .s_p-posters-article__desc--title {
      margin-bottom: 5px;
      font-style: normal;
      font-weight: bold;
      color: #000000;
      font-size: 18px;
      line-height: 27px; }
      @media (min-width: 1200px) {
        .s_p-posters-article__desc--title {
          font-size: 24px;
          line-height: 32px; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .s_p-posters-article__desc--title, .s_p-posters-article__desc--text {
        width: 45%; }
      .s_p-posters-article__desc--text {
        min-height: 150px; } }
    .s_p-posters-article__desc--subtitle {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 10px;
      color: #000000; }
    .s_p-posters-article__desc--text, .s_p-posters-article__desc--subtext {
      font-style: normal;
      font-weight: normal;
      color: #252425;
      font-size: 14px;
      line-height: 22px; }
      @media (min-width: 1700px) {
        .s_p-posters-article__desc--text, .s_p-posters-article__desc--subtext {
          font-size: 16px;
          line-height: 28px; } }
    .s_p-posters-article__desc--text {
      margin-bottom: 20px; }

.section-poster-reservation {
  position: relative;
  background-image: url("../img/reservation-poster-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .section-poster-reservation {
      background-position: center right -200px; } }

.s_p-reserv {
  position: relative;
  padding: 30px 15px; }
  @media (min-width: 992px) {
    .s_p-reserv {
      padding: 40px 15px; } }
  @media (min-width: 1700px) {
    .s_p-reserv {
      padding: 50px 15px; } }
  .s_p-reserv__message {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 20px 0 50px 0; }
  .s_p-reserv__content {
    position: relative;
    z-index: 2;
    display: grid;
    grid-gap: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 768px) {
      .s_p-reserv__content {
        padding-bottom: 50px;
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 1700px) {
      .s_p-reserv__content {
        padding-bottom: 80px; } }
  .s_p-reserv__form {
    display: grid;
    grid-gap: 15px; }
    @media (min-width: 992px) {
      .s_p-reserv__form {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 992px) {
      .s_p-reserv__form {
        grid-gap: 15px 30px; } }
    @media (min-width: 992px) {
      .s_p-reserv__form--person, .s_p-reserv__form--message, .s_p-reserv__form--submit {
        grid-column: span 2; } }
    .s_p-reserv__form--submit {
      padding-top: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .s_p-reserv__form--submit > .ui_button {
        width: 100%; }
        @media (min-width: 992px) {
          .s_p-reserv__form--submit > .ui_button {
            width: 270px;
            height: 40px; } }
    .s_p-reserv__form--datepicker {
      position: relative; }
      .s_p-reserv__form--datepicker .c_datepicker {
        position: absolute;
        top: 54px;
        left: 0;
        right: 0; }
        @media (min-width: 992px) and (max-width: 1699.98px) {
          .s_p-reserv__form--datepicker .c_datepicker--title {
            font-size: 14px;
            margin-top: -2px; } }
    .s_p-reserv__form .ui_form-input ._label {
      color: #252425; }
    .s_p-reserv__form .ui_form-input ._input,
    .s_p-reserv__form .ui_form-input ._textarea {
      color: #252425;
      border: 1px solid #DDDDDD;
      background-color: #F5F5F5 !important; }
  @media (min-width: 768px) {
    .s_p-reserv__text {
      margin-top: -15%; } }
  @media (min-width: 1200px) {
    .s_p-reserv__text {
      padding-left: 15%; } }
  .s_p-reserv__text--title {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #252425; }
    @media (min-width: 1700px) {
      .s_p-reserv__text--title {
        font-size: 18px;
        line-height: 18px; } }
  .s_p-reserv__text--content {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #252425; }
    @media (min-width: 1700px) {
      .s_p-reserv__text--content {
        font-size: 16px;
        line-height: 24px; } }

.section-poster-head {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .section-poster-head::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/header-backdrop.png");
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1; }
  .section-poster-head .s_header__social {
    display: none; }

.s_p-head__wrap {
  position: relative;
  z-index: 3; }

@media (min-width: 992px) {
  .s_p-head__breadcrumbs {
    padding-left: 45px; } }

.s_p-head__content {
  padding-top: 15px; }

.s_p-head__title {
  position: relative;
  margin-top: 100px;
  padding: 20px 20px 20px 40px; }
  @media (max-width: 575.98px) {
    .s_p-head__title {
      padding-right: 0; } }
  @media (min-width: 768px) {
    .s_p-head__title {
      width: 75%;
      margin-top: 80px;
      padding: 30px 30px 30px 40px; } }
  @media (min-width: 992px) {
    .s_p-head__title {
      margin-top: 150px;
      width: 65%;
      padding: 45px 30px 30px 80px; } }
  @media (min-width: 1200px) {
    .s_p-head__title {
      padding: 70px 30px 30px 80px; } }
  @media (min-width: 1700px) {
    .s_p-head__title {
      padding: 90px 90px 40px 120px; } }
  .s_p-head__title::before {
    content: '';
    width: 2000px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #BB906A;
    z-index: 2; }
    @media (max-width: 575.98px) {
      .s_p-head__title::before {
        right: -15px; } }
    @media (min-width: 768px) {
      .s_p-head__title::before {
        bottom: -210px; } }
    @media (min-width: 1200px) {
      .s_p-head__title::before {
        bottom: -270px; } }
    @media (min-width: 1700px) {
      .s_p-head__title::before {
        bottom: -350px; } }

.s_p-head--date {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #FFF;
  margin-bottom: 10px;
  z-index: 2; }
  @media (min-width: 1200px) {
    .s_p-head--date {
      font-size: 16px;
      line-height: 24px; } }

.s_p-head--title {
  position: relative;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: #FFF;
  font-family: "Cormorant", serif;
  z-index: 2; }
  @media (max-width: 767.98px) {
    .s_p-head--title {
      font-size: 24px;
      line-height: 32px; } }
  @media (min-width: 768px) {
    .s_p-head--title {
      font-size: 24px; } }
  @media (min-width: 992px) {
    .s_p-head--title {
      font-size: 28px; } }
  @media (min-width: 1700px) {
    .s_p-head--title {
      font-size: 38px; } }

.s_p-head--back {
  position: absolute;
  top: 65px;
  left: 0;
  color: #FFF;
  z-index: 2; }
  @media (min-width: 768px) {
    .s_p-head--back {
      top: 85px; } }
  @media (min-width: 992px) {
    .s_p-head--back {
      top: 95px; } }
  @media (min-width: 1200px) {
    .s_p-head--back {
      top: 130px; } }
  .s_p-head--back:hover {
    color: #252425; }

.section-poster-content {
  overflow: hidden; }

.s_p-content {
  position: relative;
  padding-bottom: 50px; }
  .s_p-content__wrap {
    position: relative;
    min-height: 400px;
    padding-top: 70px;
    padding-bottom: 40px;
    z-index: 3; }
    @media (min-width: 768px) {
      .s_p-content__wrap {
        padding-bottom: 60px;
        padding-top: 60px;
        padding-left: 40px; } }
    @media (min-width: 992px) {
      .s_p-content__wrap {
        padding-left: 80px; } }
    @media (min-width: 1200px) {
      .s_p-content__wrap {
        padding-bottom: 80px; } }
    @media (min-width: 1700px) {
      .s_p-content__wrap {
        padding-left: 120px;
        padding-top: 100px; } }
    .s_p-content__wrap::before {
      content: '';
      position: absolute;
      background-color: #FFF;
      top: 0;
      left: -16px;
      width: 2000px;
      bottom: 0;
      -webkit-box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
      box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
      z-index: -1; }
  .s_p-content__social {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    color: #BBBBBB;
    font-size: 14px;
    line-height: 14px;
    font-style: normal;
    top: 30px;
    left: 0px; }
    @media (min-width: 768px) {
      .s_p-content__social {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
        flex-flow: column-reverse nowrap;
        width: 17px;
        top: 65px;
        left: 5px; } }
    @media (min-width: 992px) {
      .s_p-content__social {
        top: 65px;
        left: 25px; } }
    @media (min-width: 1200px) {
      .s_p-content__social {
        font-size: 16px;
        line-height: 16px; } }
    @media (min-width: 1700px) {
      .s_p-content__social {
        top: 105px;
        left: 40px; } }
    .s_p-content__social span {
      font-weight: 300;
      pointer-events: none; }
      @media (min-width: 768px) {
        .s_p-content__social span {
          margin-top: 20px;
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          text-orientation: mixed;
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg); } }
    .s_p-content__social a {
      color: #BBBBBB;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
      @media (max-width: 767.98px) {
        .s_p-content__social a {
          margin-left: 25px; } }
      @media (min-width: 768px) {
        .s_p-content__social a {
          margin-bottom: 20px; } }
      .s_p-content__social a:hover {
        color: #BB906A; }
  .s_p-content__article {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 30px;
    color: #535353; }
    @media (min-width: 768px) {
      .s_p-content__article {
        padding-bottom: 50px; } }
    @media (min-width: 1700px) {
      .s_p-content__article {
        font-size: 16px;
        line-height: 24px; } }
    .s_p-content__article p:not(:last-child) {
      margin-bottom: 15px; }
    .s_p-content__article p:first-child::first-letter {
      font-style: normal;
      font-weight: bold;
      color: #BB906A;
      font-size: 1.7em;
      font-family: "Cormorant", serif; }
    .s_p-content__article img {
      width: 100%;
      height: auto;
      max-height: 400px;
      -o-object-fit: cover;
      object-fit: cover; }
    .s_p-content__article a {
      color: #BB906A;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
      .s_p-content__article a:hover {
        color: #252425; }
  .s_p-content__dinner--title {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px; }
    @media (max-width: 767.98px) {
      .s_p-content__dinner--title {
        font-weight: bold; } }
    @media (min-width: 768px) {
      .s_p-content__dinner--title {
        font-size: 20px;
        margin-left: 165px; } }
    @media (min-width: 992px) {
      .s_p-content__dinner--title {
        margin-left: 185px; } }
    @media (min-width: 1700px) {
      .s_p-content__dinner--title {
        font-size: 24px;
        margin-bottom: 30px;
        margin-left: 270px; } }
  .s_p-content-dinner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }
    @media (min-width: 768px) {
      .s_p-content-dinner {
        padding-left: 165px; } }
    @media (min-width: 992px) {
      .s_p-content-dinner {
        padding-left: 185px; } }
    @media (min-width: 1700px) {
      .s_p-content-dinner {
        padding-left: 270px; } }
    .s_p-content-dinner:not(:last-child) {
      margin-bottom: 30px; }
      @media (min-width: 1700px) {
        .s_p-content-dinner:not(:last-child) {
          margin-bottom: 40px; } }
    .s_p-content-dinner__imagebox {
      width: 100%;
      height: 210px; }
      @media (min-width: 768px) {
        .s_p-content-dinner__imagebox {
          position: absolute;
          top: 0;
          left: 0;
          width: 145px;
          height: 130px; } }
      @media (min-width: 992px) {
        .s_p-content-dinner__imagebox {
          width: 165px;
          height: 150px; } }
      @media (min-width: 1700px) {
        .s_p-content-dinner__imagebox {
          width: 250px;
          height: 150px; } }
      .s_p-content-dinner__imagebox img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .s_p-content-dinner--title {
      margin-top: 15px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      color: #BB906A; }
      @media (min-width: 1700px) {
        .s_p-content-dinner--title {
          margin-top: 25px; } }
    .s_p-content-dinner--subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
      color: #000000; }
      @media (min-width: 1200px) {
        .s_p-content-dinner--subtitle {
          font-size: 16px; } }
    .s_p-content-dinner--desc {
      margin-top: 15px;
      color: #535353;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px; }
      @media (min-width: 1200px) {
        .s_p-content-dinner--desc {
          margin-top: 20px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 15px 25px; } }
      @media (min-width: 1700px) {
        .s_p-content-dinner--desc {
          font-size: 16px;
          line-height: 24px; } }
      .s_p-content-dinner--desc a {
        color: #BB906A;
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out; }
        .s_p-content-dinner--desc a:hover {
          color: #252425; }
  .s_p-content__price {
    margin-top: 40px;
    display: grid;
    grid-gap: 10px; }
    @media (min-width: 768px) {
      .s_p-content__price {
        margin-top: 80px;
        grid-gap: 10px;
        grid-template-columns: 3fr 1fr;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media (min-width: 1200px) {
      .s_p-content__price {
        grid-gap: 15px; } }
    .s_p-content__price--cost {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .s_p-content__price--cost span:nth-child(1) {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: rgba(187, 187, 187, 0.3);
        margin-right: 10px; }
        @media (min-width: 992px) {
          .s_p-content__price--cost span:nth-child(1) {
            font-size: 38px;
            line-height: 30px; } }
        @media (min-width: 1200px) {
          .s_p-content__price--cost span:nth-child(1) {
            margin-right: 30px;
            font-size: 48px;
            line-height: 45px; } }
        @media (min-width: 1700px) {
          .s_p-content__price--cost span:nth-child(1) {
            margin-right: 40px;
            font-size: 60px; } }
      .s_p-content__price--cost span:nth-child(2) {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: #BB906A;
        -webkit-transform: translateY(1px);
        transform: translateY(1px); }
        @media (min-width: 992px) {
          .s_p-content__price--cost span:nth-child(2) {
            -webkit-transform: translateY(3px);
            transform: translateY(3px); } }
        @media (min-width: 1200px) {
          .s_p-content__price--cost span:nth-child(2) {
            font-size: 28px;
            line-height: 26px;
            -webkit-transform: translateY(3px);
            transform: translateY(3px); } }
        @media (min-width: 1700px) {
          .s_p-content__price--cost span:nth-child(2) {
            -webkit-transform: translateY(5px);
            transform: translateY(5px); } }
    .s_p-content__price--contact {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      color: #535353; }
      @media (min-width: 992px) {
        .s_p-content__price--contact {
          font-size: 18px;
          line-height: 18px; } }
      @media (min-width: 1700px) {
        .s_p-content__price--contact {
          font-size: 23px;
          line-height: 23px; } }
      .s_p-content__price--contact a {
        color: #BB906A;
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out; }
        @media (max-width: 767.98px) {
          .s_p-content__price--contact a {
            display: block;
            margin-top: 7px; } }
        .s_p-content__price--contact a:hover {
          color: #252425; }
    @media (max-width: 767.98px) {
      .s_p-content__price--order {
        width: 100%;
        margin-top: 15px; } }
    @media (min-width: 768px) {
      .s_p-content__price--order {
        grid-column: 2;
        grid-row: 1 / span 2;
        height: 40px;
        min-width: 270px; } }

.s_p-events {
  position: relative; }
  @media (min-width: 768px) {
    .s_p-events {
      padding: 0 0 100px 0; } }

.s_n-promo__content {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 767.98px) {
    .s_n-promo__content {
      padding-top: 80px; } }

.s_n-events {
  position: relative;
  padding-bottom: 50px; }
  @media (min-width: 992px) {
    .s_n-events {
      padding-bottom: 100px; } }
  .s_n-events__content {
    display: grid;
    grid-gap: 30px; }
    @media (min-width: 768px) and (max-width: 1199.98px) {
      .s_n-events__content {
        grid-template-columns: repeat(2, 1fr); }
        .s_n-events__content .c_poster-card:nth-child(3) {
          display: none; } }
    @media (min-width: 1200px) {
      .s_n-events__content {
        grid-template-columns: repeat(3, 1fr); } }

.s_n-catalog {
  position: relative;
  padding: 40px 15px 50px 15px; }
  @media (min-width: 768px) {
    .s_n-catalog {
      padding: 40px 15px 100px 15px; } }
  .s_n-catalog__contents {
    display: none; }
    .s_n-catalog__contents.--show {
      display: grid; }
  .s_n-catalog__tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px; }
    .s_n-catalog__tab--link {
      position: relative;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #BBBBBB;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
      @media (min-width: 1200px) {
        .s_n-catalog__tab--link {
          font-size: 16px;
          line-height: 24px; } }
      .s_n-catalog__tab--link:hover {
        cursor: pointer;
        color: #BB906A; }
      .s_n-catalog__tab--link::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 0;
        background-color: #BB906A;
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
        opacity: 0;
        visibility: hidden; }
      .s_n-catalog__tab--link:not(:last-child) {
        margin-right: 45px; }
      .s_n-catalog__tab--link.--current {
        color: #252425; }
        .s_n-catalog__tab--link.--current::after {
          opacity: 1;
          visibility: visible;
          height: 2px; }
  .s_n-catalog-state {
    grid-gap: 20px; }
    @media (min-width: 768px) {
      .s_n-catalog-state {
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .s_n-catalog-state {
        grid-gap: 20px 0; } }
    @media (min-width: 1200px) {
      .s_n-catalog-state {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .s_n-catalog-state .c_poster-card:nth-child(2n+2) {
        margin-top: 40px; } }
    @media (min-width: 1200px) {
      .s_n-catalog-state .c_poster-card:nth-child(3n+2) {
        margin-top: 30px; } }
  @media (min-width: 1200px) and (min-width: 1700px) {
    .s_n-catalog-state .c_poster-card:nth-child(3n+2) {
      margin-top: 40px; } }
    @media (min-width: 1200px) {
      .s_n-catalog-state .c_poster-card:nth-child(3n+3) {
        margin-top: 60px; } }
  @media (min-width: 1200px) and (min-width: 1700px) {
    .s_n-catalog-state .c_poster-card:nth-child(3n+3) {
      margin-top: 80px; } }

/*# sourceMappingURL=page-poster.css.map */
