section.section-shop-features
    .s_s-features.container
        .line-container--wrap
        .s_s-features__content
            .s_s-features-item
                .s_s-features-item--count 01
                .s_s-features-item--title Широкий ассортимент
                .s_s-features-item--text В наших магазинах представлены как известные мировые бренды, так и эксклюзивные позиции. В магазине представлена алкогольная продукция, которую вы не встретите на полках обычного супермаркета. Будьте уверены, что в WINE & SPIRITS Вы найдете алкоголь со всех уголков мира.
            .s_s-features-item
                .s_s-features-item--count 02
                .s_s-features-item--title Консультация
                .s_s-features-item--text Каждый сотрудник WINE & SPIRITS — специалист высокого уровня, который постоянно совершенствует свои знания и навыки, проходя специализированное обучение. В магазинах WINE & SPIRITS помогут выбрать качественный продукт, который придется по вкусу вам или тому человеку, для которого вы выбрали подарок.
            .s_s-features-item
                .s_s-features-item--count 03
                .s_s-features-item--title Дегустация
                .s_s-features-item--text В сети магазинов WINE & SPIRITS еженедельно проходят тематические дегустации. Наши опытные кависты помогут всем, кто искренне увлечен удивительным миром алкогольных напитков, окунуться в атмосферу неповторимых вкусов и культуру их потребления
