section.section-shop-map
    .s_s-map.container
        .line-container--wrap
        .s_s-map__inner
            .s_s-map__shops
                .c_map-card
                    button.c_map-card--goto.ui_button.--default(type='button' data-map-id='0')
                        i.icon-arrow-right
                    .c_map-card__imagebox
                        img(src='http://wss.by/Shops/bogdanovicha/bogdanovicha13.jpg' alt='' title='')
                    .c_map-card__content
                        button.c_map-card--location.ui_button.--transparent(type='button') 
                            i.icon-placeholder
                        .c_map-card--subtitle WINE SPIRITS
                        .c_map-card--title Магазин-бар дегустационный бар
                        ul.c_map-card__list
                            li.c_map-card__list--item 
                                span Адрес
                                div г.Минск, ул.Богдановича,108
                            li.c_map-card__list--item 
                                span Время работы
                                div понедельник-воскресенье с 10.00 до 22.00
                            li.c_map-card__list--item 
                                span Телефон
                                div 
                                    a(href='mailto:+375-44-778-77-84') +375-44-778-77-84
                                    a(href='mailto:+375-17-202-06-13') +375-17-202-06-13
                .c_map-card
                    button.c_map-card--goto.ui_button.--default(type='button' data-map-id='1')
                        i.icon-arrow-right
                    .c_map-card__imagebox
                        img(src='http://wss.by/Shops/bogdanovicha/bogdanovicha13.jpg' alt='' title='')
                    .c_map-card__content
                        button.c_map-card--location.ui_button.--transparent(type='button') 
                            i.icon-placeholder
                        .c_map-card--subtitle WINE SPIRITS
                        .c_map-card--title Магазин-бар дегустационный бар
                        ul.c_map-card__list
                            li.c_map-card__list--item 
                                span Адрес
                                div г.Минск, ул.Богдановича,108
                            li.c_map-card__list--item 
                                span Время работы
                                div понедельник-воскресенье с 10.00 до 22.00
                            li.c_map-card__list--item 
                                span Телефон
                                div 
                                    a(href='mailto:+375-44-778-77-84') +375-44-778-77-84
                                    a(href='mailto:+375-17-202-06-13') +375-17-202-06-13
                .c_map-card
                    button.c_map-card--goto.ui_button.--default(type='button' data-map-id='2')
                        i.icon-arrow-right
                    .c_map-card__imagebox
                        img(src='http://wss.by/Shops/bogdanovicha/bogdanovicha13.jpg' alt='' title='')
                    .c_map-card__content
                        button.c_map-card--location.ui_button.--transparent(type='button') 
                            i.icon-placeholder
                        .c_map-card--subtitle WINE SPIRITS
                        .c_map-card--title Магазин-бар дегустационный бар
                        ul.c_map-card__list
                            li.c_map-card__list--item 
                                span Адрес
                                div г.Минск, ул.Богдановича,108
                            li.c_map-card__list--item 
                                span Время работы
                                div понедельник-воскресенье с 10.00 до 22.00
                            li.c_map-card__list--item 
                                span Телефон
                                div 
                                    a(href='mailto:+375-44-778-77-84') +375-44-778-77-84
                                    a(href='mailto:+375-17-202-06-13') +375-17-202-06-13
                .c_map-card
                    button.c_map-card--goto.ui_button.--default(type='button' data-map-id='3')
                        i.icon-arrow-right
                    .c_map-card__imagebox
                        img(src='http://wss.by/Shops/bogdanovicha/bogdanovicha13.jpg' alt='' title='')
                    .c_map-card__content
                        button.c_map-card--location.ui_button.--transparent(type='button') 
                            i.icon-placeholder
                        .c_map-card--subtitle WINE SPIRITS
                        .c_map-card--title Магазин-бар дегустационный бар
                        ul.c_map-card__list
                            li.c_map-card__list--item 
                                span Адрес
                                div г.Минск, ул.Богдановича,108
                            li.c_map-card__list--item 
                                span Время работы
                                div понедельник-воскресенье с 10.00 до 22.00
                            li.c_map-card__list--item 
                                span Телефон
                                div 
                                    a(href='mailto:+375-44-778-77-84') +375-44-778-77-84
                                    a(href='mailto:+375-17-202-06-13') +375-17-202-06-13
                .c_map-card
                    button.c_map-card--goto.ui_button.--default(type='button' data-map-id='4')
                        i.icon-arrow-right
                    .c_map-card__imagebox
                        img(src='http://wss.by/Shops/bogdanovicha/bogdanovicha13.jpg' alt='' title='')
                    .c_map-card__content
                        button.c_map-card--location.ui_button.--transparent(type='button') 
                            i.icon-placeholder
                        .c_map-card--subtitle WINE SPIRITS
                        .c_map-card--title Магазин-бар дегустационный бар
                        ul.c_map-card__list
                            li.c_map-card__list--item 
                                span Адрес
                                div г.Минск, ул.Богдановича,108
                            li.c_map-card__list--item 
                                span Время работы
                                div понедельник-воскресенье с 10.00 до 22.00
                            li.c_map-card__list--item 
                                span Телефон
                                div 
                                    a(href='mailto:+375-44-778-77-84') +375-44-778-77-84
                                    a(href='mailto:+375-17-202-06-13') +375-17-202-06-13
                
            .s_s-map__wrap
                button.s_s-map__wrap--close.c_modal-page--close.ui_button.--transparent(type='button')
                    i.icon-cross-out
                .s_s-map__wrap-inner
                    .s_s-map__wrap-inner--iframe#map
    script.
        var mappoint = [
            ['Bondi Beach', 53.902238, 27.554601, 4, 'http://wss.by/Shops/bogdanovicha/bogdanovicha13.jpg'],
            ['Coogee Beach', 53.887748, 27.449552, 5, 'http://wss.by/Shops/bogdanovicha/bogdanovicha13.jpg'],
            ['Cronulla Beach', 53.387534, 26.614145, 3, 'http://wss.by/Shops/bogdanovicha/bogdanovicha13.jpg'],
            ['Manly Beach', 53.658006, 23.805338, 2, 'http://wss.by/Shops/bogdanovicha/bogdanovicha13.jpg'],
            ['WINE & SPIRITS Магазин-бар дегустационный бар', 52.206855, 25.997019, 1, 'http://wss.by/Shops/marksa/marksa_!.jpg',]
        ];                
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzPzYq1jjprkwr3_pxiF5jlick94gyhwI&amp;callback=initMapShop&amp;language=ru" async defer ></script>