section.section-shop-promo
    +section-header('s_s-promo__wrap')
        .s_header__content.s_s-promo__content
            ul.s_s-promo__breadcrumbs.c_breadcrumbs__list
                li.c_breadcrumbs__list--item
                    a.c_breadcrumbs__list--link(href='#!') Главная
                li.c_breadcrumbs__list--item
                    a.c_breadcrumbs__list--link(href='#!') Новости
                li.c_breadcrumbs__list--item Эногастрономический ужин Casa Santos Lima 5 февраля
            .s_s-promo--title WINE & SPIRITS SHOP
            .s_s-promo--text Магазины атмосферных напитков WINE & SPIRITS — собственная розничная сеть импортера и дистрибьютора алкогольной продукции GARSIA Group. Первый магазин распахнул свои двери для покупателей весной 2015 года. С тех пор сеть активно растет и развивается.
