.section-poster-posters {
    // height: 800px;
    @include media-breakpoint-down(md) {
        @include background-image('features-bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.s_p-posters {
    position: relative;
    @extend .line-container;
    &__wrap {
        display: grid;
        padding: 30px 0;
     
        @include media-breakpoint-up(lg) {       
            padding: 30px 0;
            height: 100%;
            grid-template-columns: 4fr 9fr;
            grid-gap: 30px;
        }
        @include media-breakpoint-up(xl) {
            grid-template-columns: 3fr 9fr;
        }
        @include media-breakpoint-up(xg) {
            grid-gap: 50px;
        }
    }
    &__aside {
        position: relative;
        color: $clr-white;
        display: flex;
        flex-flow: column nowrap;
        @include media-breakpoint-only(md) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-auto-rows: minmax(65px,1fr);
            grid-gap: 20px 15px;
        }
        @include media-breakpoint-up(lg) {
            &::before {
                content: '';
                position: absolute;
                top: -30px;
                right: 0;
                bottom: -30px;
                width: 1500px;
                @include background-image('features-bg.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: -1;
                @include shift();
            }
        }
    }
    &-item {
        position: relative;
        padding-left: 65px;
        @include media-breakpoint-down(sm) {
            min-height: 65px;
        }
        @include media-breakpoint-down(md) {
            padding-left: 85px;
        }
        @include media-breakpoint-up(lg) {
            padding-right: 30px;
        }
        @include media-breakpoint-between(lg,xl) {
            padding-left: 65px;
            margin-left: -15px;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
            @include media-breakpoint-only(md) {
                margin-bottom: 0;
            }
            @include media-breakpoint-up(lg) {
                margin-bottom: 30px;
            }
            @include media-breakpoint-up(xg) {
                margin-bottom: 50px;
            }
        }
        &::after {
            content: '\e904';
            position: absolute;
            top: 0;
            right: -15px;
            font-family: $icomoon-font-family;
            height: 28px;
            width: 28px;
            background-color: $clr-brown;
            color: $clr-white;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            line-height: 12px;
            @include shift();
            @extend .shadow-button;
            opacity: 0;
            visibility: hidden;
            transform: scale(0.4);
            @include media-breakpoint-up(xg) {
                font-size: 14px;
                line-height: 14px;
                height: 36px;
                width: 36px;
            }
        }
        &__imagebox {
            position: absolute;
            top: 0;
            left: 0;
            width: 65px;
            height: 65px;
            @include media-breakpoint-up(lg) {
                width: 36px;
                height: 36px;
            }
            @include media-breakpoint-up(xl) {
                width: 50px;
                height: 50px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &--title {
            color: $clr-white;
            font-style: normal;
            font-weight: bold;
            @include shift();
            font-size: 16px;
            line-height: 24px;
            @include media-breakpoint-up(xg) {
                font-size: 18px;
                line-height: 24px;
            }
        }
        &--date {
            margin-top: 7px;
            color: $clr-white;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
        }
        &:hover &--title {
            color: $clr-brown;
        }
        @include media-breakpoint-up(lg) {
            &.--current {
                pointer-events: none;
                &::after {
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
            }
            &.--current &--title {
                color: $clr-brown;
            }
        }
    }
    &__content {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &-article {
        display: none;
        &.--current {
            display: block;
        }
        &__content {
            margin-bottom: 20px;
            @include media-breakpoint-up(xl) {
                display: grid;
                grid-template-columns: 35% auto;
                align-items: flex-start;
            }
        }
        &__info {
            position: relative;
            background-color: $clr-brown;
            color: $clr-white;
            margin: 0 0 20px 0;
            padding: 20px;
            @include media-breakpoint-up(xl) {
                margin: 15px 0 30px 0;
                padding: 20px 20px 25px 20px;
            }
        }
        &__list {
            margin-top: 20px;
            @include media-breakpoint-only(lg) {
                display: flex;
                justify-content: space-between;
                padding: 0;
            }
            &--item {
                @include media-breakpoint-only(lg) {
                    margin-left: 20px;
                }
                @include media-breakpoint-up(xl) {
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 3px;
                    display: block;
                    @include media-breakpoint-up(xg) {
                        font-size: 22px;
                        line-height: 22px;
                    }
                }
                div {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    @include media-breakpoint-up(xg) {
                        font-size: 16px;
                    }
                }
            }
        }
        &--link {
            min-width: 160px;
            @include media-breakpoint-only(lg) {
                position: absolute;
                top: 20px;
                right: 20px;
            }
            @include media-breakpoint-up(xl) { 
                margin-top: 25px;
                margin-left: 25px;
            }
        }
        &--title {
            font-style: normal;
            font-weight: bold;
            color: $clr-white;
            font-size: 18px;
            line-height: 28px;
            @include media-breakpoint-only(lg) {
                padding-right: 180px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 24px;
                line-height: 28px;
            }
            &:hover {
                color: $clr-white;
            }
        }
        &__imagebox {
            @include media-breakpoint-only(lg) {
                position: absolute;
                top: 165px;
                right: 15px;
                width: 320px;
                height: 230px;
            }
            @include media-breakpoint-up(xl) {
                height: 370px;
            }
            @include media-breakpoint-up(xg) {
                height: 420px;

            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__desc {
            &--title {
                margin-bottom: 5px;
                font-style: normal;
                font-weight: bold;
                color: $clr-black;
                font-size: 18px;
                line-height: 27px;
                @include media-breakpoint-up(xl) {
                    font-size: 24px;
                    line-height: 32px;
                }
            }
            @include media-breakpoint-only(lg) {
                &--title,
                &--text { 
                    width: 45%;
                }
                &--text {
                    min-height: 150px;
                }
            }
            &--subtitle {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 18px;
                margin-bottom: 10px;
                color: $clr-black;
            }
            &--text,
            &--subtext {
                font-style: normal;
                font-weight: normal;
                color: $clr-black-light;
                font-size: 14px;
                line-height: 22px;
                @include media-breakpoint-up(xg) {
                    font-size: 16px;
                    line-height: 28px;
                }
            }
            &--text {
                margin-bottom: 20px;
            }
        }
    }
}