.section-poster-events {
    
}

.s_p-events {
    position: relative;
    @extend .line-container;
    // padding: 30px 15px 0 15px;
    @include media-breakpoint-up(md) {
        padding: 0 0 100px 0;
    }
}