.section-poster-promo {
    @extend .section-promo;
    @include background-image('poster-promo-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    @include media-breakpoint-down(sm) {
        height: auto;
    }
    @include media-breakpoint-only(md) {
        min-height: 600px;
        max-height: 600px;
    }
    @include media-breakpoint-up(xl) {
        min-height: 800px;
    }
}

.s_p-promo {
    &__content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        @include media-breakpoint-down(sm) {
            padding-top: 30px;
        }
        @include media-breakpoint-up(md) {
            padding-left: 30px;
        }
        @include media-breakpoint-up(lg) {
            padding-left: 60px;
        }
    }
    &__wrap {
        position: relative;
    }
    &--title {
        margin-left: 20px;
        padding-left: 30px;
        font-style: normal;
        font-weight: bold;
        @include font-family(two);
        text-transform: uppercase;
        color: $clr-white;
        font-size: 50px;
        line-height: 75px;
        @include media-breakpoint-up(xg) {
            font-size: 70px;
            line-height: 105px;

        }
    }
    &--text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $clr-white;
        @include media-breakpoint-up(md) {
            padding-left: 45px;
            width: 80%;
        }
        @include media-breakpoint-up(xl) {
            width: 55%;
        }
        @include media-breakpoint-up(xg) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &-card {
        position: relative;
        color: $clr-white;
        padding: 30px 30px 30px 60px;
        display: flex;
        flex-flow: column nowrap;
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        // margin-bottom: 100px;
        @include media-breakpoint-down(sm) {
            margin: 0 -15px;
        }
        @include media-breakpoint-up(md) {
            width: 370px;
        }
        @include media-breakpoint-up(xl) {
            width: 420px;
            padding: 30px 30px 50px 80px;
        }
        @include media-breakpoint-up(xg) {
            padding: 30px 90px 100px 90px;
            width: 600px;
            // margin-bottom: 100px;
        }
        &--date {
            position: absolute;
            top: 70px;
            left: 20px;
            font-style: normal;
            font-weight: bold;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            transform: scale(-1);
            @include media-breakpoint-up(lg) {
                font-size: 18px;
                line-height: 18px;
            }
            @include media-breakpoint-up(xl) {
                font-size: 24px;
                line-height: 24px;
                top: 70px;
                left: 30px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 28px;
                line-height: 28px;
            }
        }
        &__tags {
            margin-bottom: 10px;
            a {
                font-size: 14px;
                line-height: 14px;
                color: $clr-white;
                @include shift();
                &:hover {
                    color: $clr-white;
                }
                &:not(:last-child) {
                    margin-right: 20px;
                }
                &:nth-child(n+4) {
                    display: none;
                }
            }
        }
        &--title {
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            line-height: 48px;
            color: $clr-white;
            @include shift();
            font-size: 20px;
            line-height: 28px;
            @include media-breakpoint-up(lg) {
                font-size: 24px;
                line-height: 28px;
            }
            @include media-breakpoint-up(xl) {
                font-size: 32px;
                line-height: 36px;
                
            }
            @include media-breakpoint-up(xg) {
                font-size: 42px;
                line-height: 48px;
            }
            &:hover {
                color: $clr-brown;
            }
        }
        &__desc {
            margin-top: 30px;
            margin-bottom: 25px;
            font-style: normal;
            font-weight: normal;
            overflow: hidden;
            font-size: 14px;
            line-height: 22px;
            max-height: 22px * 5;
            @include media-breakpoint-up(xg) {
                font-size: 16px;
                line-height: 24px;
                max-height: 24px * 5;
            }
        }
        &--price {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
        }
        &__bottom {
            margin-top: 35px;
            display: flex;
            align-items: center;
            justify-content: space-between;   
            @include media-breakpoint-up(xl) {
                margin-top: 65px;
            }
        }
        &--logo {
            img {
                width: 60px;
                @include media-breakpoint-up(xl) {
                    width: 80px;
                }
            }
        }
    }
}