.section-poster-head {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include background-image('header-backdrop.png');
        background-color: rgba($clr-black, .4);
        z-index: 1;
    }
    .s_header__social {
        display: none;
    }
}

.s_p-head {
    &__wrap {
        position: relative;
        z-index: 3;
    } 
    @include media-breakpoint-up(lg) {
        &__breadcrumbs {
            padding-left: 45px;
        }
    }
    &__content {
        padding-top: 15px;
    }
    &__title {
        position: relative;
        margin-top: 100px;
        padding: 20px 20px 20px 40px;
        @include media-breakpoint-down(xs) {
            padding-right: 0;
        }
        @include media-breakpoint-up(md) {
            width: 75%;
            margin-top: 80px;
            padding: 30px 30px 30px 40px;
        }
        @include media-breakpoint-up(lg) {
            margin-top: 150px;
            width: 65%;
            padding: 45px 30px 30px 80px;
        }
        @include media-breakpoint-up(xl) {
            padding: 70px 30px 30px 80px;
        }
        @include media-breakpoint-up(xg) {
            padding: 90px 90px 40px 120px;
        }
        &::before {
            content: '';
            width: 2000px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: $clr-brown;
            z-index: 2;
            @include media-breakpoint-down(xs) {
                right: -15px;
            }
            @include media-breakpoint-up(md) {
                bottom: -210px;
            }
            @include media-breakpoint-up(xl) {
                bottom: -270px;
            }
            @include media-breakpoint-up(xg) {
                bottom: -350px;
            }
        }
    }
    &--date {
        position: relative;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $clr-white;
        margin-bottom: 10px;
        z-index: 2;
        @include media-breakpoint-up(xl) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &--title {
        position: relative;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        color: $clr-white;
        @include font-family(two);
        z-index: 2;
        @include media-breakpoint-down(sm) {
            font-size: 24px;
            line-height: 32px;
        }
        @include media-breakpoint-up(md) {
            font-size: 24px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 28px;
        }
        @include media-breakpoint-up(xg) {
            font-size: 38px;
        }
    }
    &--back {
        position: absolute;
        top: 65px;
        left: 0;
        color: $clr-white; 
        z-index: 2;
        @include media-breakpoint-up(md) {
            top: 85px;
        }
        @include media-breakpoint-up(lg) {
            top: 95px;
        }
        @include media-breakpoint-up(xl) {
            top: 130px;
        }
        &:hover {
            color: $clr-black-light;
        }
    }
}