.section-poster-reservation {
    position: relative;
    @include background-image('reservation-poster-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include media-breakpoint-only(md) {
        background-position: center right -200px;
    }
}

.s_p-reserv {
    position: relative;
    @extend .line-container;
    padding: 30px 15px;
    @include media-breakpoint-up(lg) {
        padding: 40px 15px;
    }
    @include media-breakpoint-up(xg) {
        padding: 50px 15px;
    }
    &__message {
        font-size: 16px;
		line-height: 24px;
		text-align: center;
		padding: 20px 0 50px 0;
	}
    &__content {
        position: relative;
        z-index: 2;
        display: grid;
        grid-gap: 30px;
        align-items: center;
        @include media-breakpoint-up(md) {
            padding-bottom: 50px;
            grid-template-columns: repeat(2,1fr);
        }
        @include media-breakpoint-up(xg) {
            padding-bottom: 80px;
        }
    }
    &__form {
        display: grid;
        grid-gap: 15px;
        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(2,1fr);
    
        }
        @include media-breakpoint-up(lg) {
            grid-gap: 15px 30px;
        }
        @include media-breakpoint-up(lg) {
            &--person,
            &--message,
            &--submit {
                grid-column: span 2;
            }
        }
        &--submit {
            padding-top: 10px;
            display: flex;
            justify-content: center;
            & > .ui_button {
                width: 100%;
                @include media-breakpoint-up(lg) {
                    width: 270px;
                    height: 40px;
                }
            }
        }
        &--datepicker {
            position: relative;
            .c_datepicker {
                position: absolute;
                top: 54px;
                left: 0;
                right: 0;
                @include media-breakpoint-between(lg,xl) {
                    &--title {
                        font-size: 14px;
                        margin-top: -2px; 
                    }
                }
            }
        }
        .ui_form-input {
            ._label {
                color: $clr-black-light;
            }
            ._input,
            ._textarea {
                color: $clr-black-light;
                border: 1px solid $clr-gray-light;
                background-color:  #F5F5F5 !important;
            }
            
        }
    }
    &__text {
        @include media-breakpoint-up(md) {
            margin-top: -15%;
        }
        @include media-breakpoint-up(xl) {
            padding-left: 15%;
        }
        &--title {
            margin-bottom: 15px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.05em;
            color: $clr-black-light;
            @include media-breakpoint-up(xg) {
                font-size: 18px;
                line-height: 18px;
            }
        }
        &--content {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.05em;
            color: $clr-black-light;
            @include media-breakpoint-up(xg) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}