.section-poster-posters-nav {
    @include background-image('features-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $clr-white;
}

.s_p-posters-nav {
    position: relative;
    padding: 30px 0 35px;
    @extend .line-container;
    display: flex;
    @include media-breakpoint-down(sm) {
        max-width: unset;
        overflow: hidden;
        padding: 30px 0 25px;
    }
    @include media-breakpoint-up(lg) {
        padding: 35px 0 50px;
    }
    &--title {
        font-style: normal;
        font-weight: bold;
        padding-right: 30px;
        transform: translateY(15px);
        font-size: 18px;
        line-height: 18px;
        @include media-breakpoint-down(md) {
            display: none;
        }
        @include media-breakpoint-up(xl) {
            font-size: 28px;
            line-height: 28px;
            transform: translateY(10px);
        }
        @include media-breakpoint-up(xl) {
            font-size: 38px;
            line-height: 38px;
        }
    }
    &__list {
        position: relative;
        width: 100%;
        @extend .clear-list;
        display: flex;
        padding-bottom: 15px;
        @include media-breakpoint-down(sm) {
            padding-bottom: 20px;
            overflow-x: scroll;
        }
        @include media-breakpoint-up(xg) {
            padding-bottom: 20px;
        }
        @include media-breakpoint-up(md) {
            &::after {
                content: '';
                position: absolute;
                bottom: 4px;
                left: 0;
                width: 100%;
                border-bottom: 1px solid $clr-white;
                z-index: 1;
            }
        }
        &--item {
            display: flex;
            justify-content: center;
            @include media-breakpoint-down(sm) {
                position: relative;
                min-width: 90px;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -12px;
                    left: 0;
                    width: 100%;
                    border-bottom: 1px solid $clr-white;
                    z-index: 1;
                }
                &:nth-child(1) {
                    margin-left: 15px;
                }
            }
            @include media-breakpoint-up(md) {
                flex-basis: calc(100% / 12);
            }
        }
        &--link {
            position: relative;
            color: $clr-white;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            @include shift();
            z-index: 2;
            @include media-breakpoint-only(md) {
                font-size: 12px;
                line-height: 14px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 16px;
                line-height: 16px;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: -16px;
                left: 50%;
                transform: translateX(-50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $clr-white;
                @include shift();
                @include media-breakpoint-up(xl) {
                    bottom: -17px;
                    width: 14px;
                    height: 14px;
                }
                @include media-breakpoint-up(xg) {
                    bottom: -23px;
                }
            }
           
            &:hover {
                color: $clr-white;
                @include media-breakpoint-up(lg) {
                    color: $clr-brown;
                    &::after {
                        transform: translateX(-50%) scale(1.2);
                        background-color: $clr-brown;
                    }
                }
            }
            &.--current {
                pointer-events: none;
                color: $clr-white;
                @include media-breakpoint-down(sm) {
                    color: $clr-brown;
                }
                &::after {
                    background-color: $clr-brown;
                }
            }
        }
    }
}