.section-poster-content {
    overflow: hidden;
}

.s_p-content {
    position: relative;
    @extend .line-container;
    padding-bottom: 50px;
    &__wrap {
        position: relative;
        min-height: 400px;
        padding-top: 70px;
        padding-bottom: 40px;
        z-index: 3;
        @include media-breakpoint-up(md) {
            padding-bottom: 60px;
            padding-top: 60px;
            padding-left: 40px;
        }
        @include media-breakpoint-up(lg) {
            padding-left: 80px;            
        }
        @include media-breakpoint-up(xl) {
            padding-bottom: 80px;
        }
        @include media-breakpoint-up(xg) {
            padding-left: 120px;
            padding-top: 100px;
        }
        &::before {
            content: '';
            position: absolute;
            background-color: $clr-white;
            top: 0;
            left: -16px;
            width: 2000px;
            bottom: 0;
            box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
            z-index: -1;
        }
    }
    &__social {
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        color: $clr-gray;
        font-size: 14px;
        line-height: 14px;
        font-style: normal;
        top: 30px;
        left: 0px;
        @include media-breakpoint-up(md) {
            flex-flow: column-reverse nowrap;
            width: 17px;
            top: 65px;
            left: 5px;
        }
        @include media-breakpoint-up(lg) {
            top: 65px;
            left: 25px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 16px;
            line-height: 16px;
        }
        @include media-breakpoint-up(xg) {
            top: 105px;
            left: 40px;
        }
        span {
            font-weight: 300;
            pointer-events: none;
            @include media-breakpoint-up(md) {
                margin-top: 20px;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                transform: rotate(180deg);
            }
        }
        a {
            color: $clr-gray;
            @include shift();
            @include media-breakpoint-down(sm) {
                margin-left: 25px;
            }
            @include media-breakpoint-up(md) {
                margin-bottom: 20px;
            } 
            &:hover {
                color: $clr-brown;
            }
        }
    }
    &__article {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 30px;
        color: $clr-gray-dark;
        @include media-breakpoint-up(md) {
            padding-bottom: 50px;
        }
        @include media-breakpoint-up(xg) {
            font-size: 16px;
            line-height: 24px;
        }
        p {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
            &:first-child::first-letter {
                font-style: normal;
                font-weight: bold;
                color: $clr-brown;
                font-size: 1.7em;
                @include font-family(two);
            }
        }
        img {
            width: 100%;
            height: auto;
            max-height: 400px;
            object-fit: cover;
        }
        a {
        color: $clr-brown;
        @include shift();
            &:hover {
                color: $clr-black-light;
            }
        }
    }
    &__dinner {
        &--title {
            margin-bottom: 15px;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 18px;
            @include media-breakpoint-down(sm) {
                font-weight: bold;
            }
            @include media-breakpoint-up(md) {
                font-size: 20px;
                margin-left: 165px;
            }
            @include media-breakpoint-up(lg) {
                margin-left: 185px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 24px;
                margin-bottom: 30px;
                margin-left: 270px;
            }
        }
    }
    &-dinner {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        @include media-breakpoint-up(md) {
            padding-left: 165px;
        }
        @include media-breakpoint-up(lg) {
            padding-left: 185px;
        }
        @include media-breakpoint-up(xg) {
            padding-left: 270px;
        }
        &:not(:last-child) {
            margin-bottom: 30px;
            @include media-breakpoint-up(xg) {
                margin-bottom: 40px;
            }
        }
        &__imagebox {
            width: 100%;
            height: 210px;
            @include media-breakpoint-up(md) {
                position: absolute;
                top:0;
                left: 0;
                width: 145px;
                height: 130px;
            }
            @include media-breakpoint-up(lg) {
                width: 165px;
                height: 150px;
            }
            @include media-breakpoint-up(xg) {
                width: 250px;
                height: 150px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &--title {
            margin-top: 15px;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 27px;
            color: $clr-brown;
            @include media-breakpoint-up(xg) {
                margin-top: 25px;
            }
        }
        &--subtitle {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: normal;
            color: $clr-black;
            @include media-breakpoint-up(xl) {
                font-size: 16px;
            }
        }
        &--desc {
            margin-top: 15px;
            color: $clr-gray-dark;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            @include media-breakpoint-up(xl) {
                margin-top: 20px;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-gap: 15px 25px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 16px;
                line-height: 24px;
            }
            a {
                color: $clr-brown;
                @include shift();
                &:hover {
                    color: $clr-black-light;
                }
            }
        }
    }
    &__price {
        margin-top: 40px;
        display: grid;
        grid-gap: 10px;
        @include media-breakpoint-up(md) {
            margin-top: 80px;
            grid-gap: 10px;
            grid-template-columns: 3fr 1fr;
            align-items: center;
        }
        @include media-breakpoint-up(xl) {
            grid-gap: 15px;
        }
        &--cost {
            display: flex;
            align-items: center;
            span {
                &:nth-child(1) {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 24px;
                    color: rgba($clr-gray, .3);
                    margin-right: 10px;
                    @include media-breakpoint-up(lg) {
                        font-size: 38px;
                        line-height: 30px;
                    }
                    @include media-breakpoint-up(xl) {
                        margin-right: 30px;
                        font-size: 48px;
                        line-height: 45px;
                    }
                    @include media-breakpoint-up(xg) {
                        margin-right: 40px;
                        font-size: 60px;

                    }
                }
                &:nth-child(2) {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height:24px;
                    color: $clr-brown;
                    transform: translateY(1px);
                    @include media-breakpoint-up(lg) {
                        transform: translateY(3px);

                    }
                    @include media-breakpoint-up(xl) {
                        font-size: 28px;
                        line-height:26px;
                        transform: translateY(3px);
                    }
                    @include media-breakpoint-up(xg) {
                        transform: translateY(5px);
                    }
                }
            }
        }
        &--contact {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: $clr-gray-dark;
            @include media-breakpoint-up(lg) {
                font-size: 18px;
                line-height: 18px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 23px;
                line-height: 23px;
            }
            a {
                color: $clr-brown;
                @include shift();
                @include media-breakpoint-down(sm) {
                    display: block;
                    margin-top: 7px;
                }
                &:hover {
                    color: $clr-black-light;
                }
            }
        }
        &--order {
            @include media-breakpoint-down(sm) {
                width: 100%;
                margin-top: 15px;
            }
            @include media-breakpoint-up(md) {
                grid-column: 2;
                grid-row: 1 / span 2;
                height: 40px;
                min-width: 270px;
            }
        }
    }
}