.section-academy-promo {
    @include background-image('academy-promo-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include media-breakpoint-up(md) {
        height: 100vh;
        min-height: 450px;
    }
}

.s_a-promo {
    &__wrap {
        position: relative;
    }
    &__content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        color: $clr-white;
        padding: 60px 0;
        @include media-breakpoint-up(md) {
            padding: 30px;
        }
        @include media-breakpoint-up(lg) {
            padding: 0 0 0 200px;
        } 
        @include media-breakpoint-up(xg) {
            padding: 0 0 0 230px; 
        }
    }
    &--title {
        @include font-family(two);
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: normal;
        @include media-breakpoint-up(md) {
            font-size: 40px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 50px;
        }
        @include media-breakpoint-up(xg) {
            font-size: 70px;
        }
    }
    &--subtext {
        margin-top: 30px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: normal;
        @include media-breakpoint-up(md) {
            margin-top: 3%;
        }
        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }
        @include media-breakpoint-up(xg) {
            font-size: 20px;
        }
    }
    &--text {
        margin-top: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        @include media-breakpoint-up(md) {
            margin-top: 3%;
        }
        @include media-breakpoint-up(xg) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &--subtext,
    &--text {
        @include media-breakpoint-up(md) {
            width: 65%;
        }
        @include media-breakpoint-up(lg) {
            width: 55%;
        }
        @include media-breakpoint-up(xg) {
            width: 45%;
        }
    }
}