.section-course-price {
    // margin-top: 20px;
    background-color:  #F5F5F5;
}

.s_c-price {
    position: relative;
    @extend .line-container;
    display: flex;
    flex-flow: column nowrap;
    @include media-breakpoint-up(md) {
        padding-bottom: 30px;
    }
    &__content {
        position: relative;
        background-color: $clr-black-light;
        color: $clr-white;
        padding: 30px 45px;
        display: grid;
        grid-gap: 15px;
        z-index: 2;
        @include media-breakpoint-up(md) {
            grid-gap: 30px;
            grid-template-columns: repeat(2,1fr);
        }
        @include media-breakpoint-down(md) {
            margin: 0 -15px;
            padding: 20px 15px;
        }
        @include media-breakpoint-up(lg) {
            margin-top: -30px;
            margin: 0 100px;
        }
        @include media-breakpoint-up(xl) {
            margin: 0 140px;
        }
        @include media-breakpoint-up(xg) {
            margin: 0 210px;
            padding: 40px 105px;
        }
    }
    &--title {
        @include font-family(two);
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: normal;
        
        @include media-breakpoint-up(md) {
            font-size: 28px;
            grid-column: span 2;
        }
        @include media-breakpoint-up(xl) {
            font-size: 32px;
            margin-bottom: 20px;
        }
    }
    &__list {
        @extend .clear-list;

        &-item {
            display: flex;
            flex-flow: column nowrap;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: $clr-gray;
            @include media-breakpoint-up(xg) {
                font-size: 16px;
                line-height: 24px;
            }
            span {
                color: $clr-white;
                margin-bottom: 3px;
            }
            &:not(:last-child) {
                margin-bottom: 15px;
                @include media-breakpoint-up(xl) {
                    margin-bottom: 30px;
                }
            }
            a {
                color: $clr-gray;
                @include shift();
                &:hover {
                    color: $clr-brown;
                }
            }
        }
    }
    &__info {
        color: $clr-gray;
        &--value {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: normal;
            @include media-breakpoint-up(xg) {
                font-size: 28px;
            }
        }
        &--subtext {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            @include media-breakpoint-up(xg) {
                font-size: 16px;
                line-height: 24px;
            }
        }
        &--text {
            margin-top: 15px;
            font-size: 14px;
            line-height: 22px;
            @include media-breakpoint-up(xl) {
                margin-top: 30px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    &--button {
        margin-top: 10px;
        @include media-breakpoint-up(md) {
            width: 160px;
        }
    }
}