.section-academy-gallery {

}

.s_a-gallery {
    position: relative;
    @extend .line-container;
    padding: 15px 15px 30px 15px;
	@include media-breakpoint-up(md) {
		padding: 40px 0;
	}
	@include media-breakpoint-up(xg) {
		padding: 50px 0;
	}
    &__head {
        display: grid;
        align-items: center;
        grid-gap: 15px;
        @include media-breakpoint-up(lg) {
            grid-gap: 30px;
            grid-template-columns: 1fr 2fr;
        } 
        @include media-breakpoint-up(xg) {
            grid-template-columns: 3fr 4fr;
            grid-gap: 50px; 
        }
    }
    &--title {
        @include font-family(two);
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 22px;
        @include shift();
        @include media-breakpoint-up(lg) {
            font-size: 28px;
        }
        @include media-breakpoint-up(xg) {
            font-size: 38px;
        }
    }
    &--text {
        @include shift();
        color: $clr-black-light;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        @include media-breakpoint-up(xg) {
            width: 70%;
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__wrap {
        position: relative;
      
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include shift();
        @include media-breakpoint-up(md) {
            margin-bottom: 50px;
        }
        &::after { 
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            background-color: rgba($clr-black, .7);
        }
        .line-container-pseudo {
            z-index: 2;
            pointer-events: none;
        }
    }
    &__inner {
        @include media-breakpoint-down(sm) {
            padding-bottom: 75px;
        }
        @include media-breakpoint-only(md) {
            padding: 0 70px 0 0;
        }
        @include media-breakpoint-up(lg) {
            padding: 0 200px 0 0;
        }
        @include media-breakpoint-up(xg) {
            padding: 0 200px 0 50px;
        }
    }
    &__slider {
        position: relative;
      
        z-index: 3;
        &-item {
            height: 360px;
            @include media-breakpoint-up(xl) {
                height: 450px;
            }
            @include media-breakpoint-up(xg) {
                height: 750px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .slick {
            &-list {
                height: 100%;
            }
            &-slide,
            &-slide > div {
                @extend .s_a-gallery__slider-item;
            }
            &-prev,
            &-next {
                position: absolute;
                @include media-breakpoint-down(sm) {
                    bottom: -55px;
                }
                @include media-breakpoint-only(md) {
                    right: -50px;
                }
                @include media-breakpoint-up(lg) {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &-prev {
                @include media-breakpoint-down(sm) {
                    left: 0;
                }
                @include media-breakpoint-only(md) {
                    top: 35%;
                }
                @include media-breakpoint-up(lg) {
                    right: -60px;
                }
            }
            &-next {
                @include media-breakpoint-down(sm) {
                    right: 0;
                }
                @include media-breakpoint-only(md) {
                    bottom: 35%;
                }
                @include media-breakpoint-up(lg) {
                    right: -180px;
                }
            }
        }
    }
}