.section-course-info {

}

.s_c-info {
    position: relative;
    @extend .line-container;
    padding: 30px 15px 0 15px;
    @include media-breakpoint-up(lg) {
        padding: 40px 15px 0 15px;
    }
    @include media-breakpoint-up(xg) {
        padding: 50px 15px 0 15px;
    }
    &__wrap {
        display: grid;
        grid-gap: 30px;
        align-items: center;
        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2,1fr);
        }
        @include media-breakpoint-up(lg) {
            align-items: flex-start;
            grid-template-columns: 2fr 1fr;
        }
    }
    &__list {
        @extend .clear-list;
        &--item {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            @include media-breakpoint-up(xg) {
                font-size: 16px;
                line-height: 24px;
            }
            &::before {
                content: '-';
                margin-right: 10px;
            }
        }
        &-wrap {
            &:not(:last-child) {
                margin-bottom: 20px;
                @include media-breakpoint-up(xg) {
                    margin-bottom: 40px;
                }
            }
        }
        &--title {
            color: $clr-brown;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: normal;
            margin-bottom: 15px;
            @include media-breakpoint-up(lg) {
                font-size: 18px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 20px;
                margin-bottom: 20px;

            }
        }
    }
}