.section-academy-courses {

}

.s_a-courses {
    position: relative;
    @extend .line-container;
    padding: 30px 15px;
	@include media-breakpoint-up(md) {
		padding: 40px 0;
	}
	@include media-breakpoint-up(xg) {
		padding: 50px 0;
	}
}