.section-course-program {

}

.s_c-program {
    position: relative;
    @extend .line-container;
    padding: 30px 15px;
    @include media-breakpoint-up(lg) {
        padding: 40px 0 60px 0;
    }
    @include media-breakpoint-up(xg) {
        padding: 50px 0 80px 0;
    }
    &--title {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 48px;
        color: $clr-gray-dark;
        margin-bottom: 25px;
    }
    &__content {
        display: grid;
        grid-gap: 30px;
        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2,1fr);
        }
        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(3,1fr);
        }
    }
    &-item {
        position: relative;
        padding-left: 50px;
        &--count {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            background-color: $clr-white;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
        }
        &--date {
            color: $clr-brown;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 10px;
            @include media-breakpoint-up(lg) {
                font-size: 14px;
                line-height: 24px;
            }
        }
        &--title {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $clr-black;
            @include media-breakpoint-up(xg) {
                font-size: 18px;
                line-height: 24px;
            }
        }
        &--text {
            margin-top: 15px;
            color: $clr-gray-dark;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            @include media-breakpoint-down(md) {
                margin-top: 15px;
                margin-left: -50px;
            }
            @include media-breakpoint-up(xg) {
                font-size: 16px;
                line-height: 24px;
            }
        }

        @include media-breakpoint-up(lg) {
            &::after,
            &::before {
                content: '';
                position: absolute;
            }
            &:nth-child(3) {
                & + div {
                    grid-column: 3;
                    grid-row: 2;
                }
                & + div + div {
                    grid-column: 2;
                    grid-row: 2;
                }
                & + div + div + div {
                    grid-row: 2;
                    grid-column: 1;
                }
            }
            &:nth-child(9) {
                & + div {
                    grid-column: 3;
                    grid-row: 4;
                }
                & + div + div {
                    grid-column: 2;
                    grid-row: 4;
                }
                & + div + div + div {
                    grid-row: 4;
                    grid-column: 1;
                }
            }
            &:nth-child(15) {
                & + div {
                    grid-column: 3;
                    grid-row: 6;
                }
                & + div + div {
                    grid-column: 2;
                    grid-row: 6;
                }
                & + div + div + div {
                    grid-row: 6;
                    grid-column: 1;
                }
            }
            &:nth-child(3n+1),
            &:nth-child(3n+2),
            &:nth-child(6n+6) {
                &::after {
                    border-bottom: 1px dashed $clr-brown;
                    top: 10px;
                    right: 0;
                    left: 130px;
                }
            }
            &:nth-child(6n+4) {
                &::after {
                    display: none;
                }
            }
            &:nth-child(6n+3),
            &:nth-child(6n+6) {
                &::before {
                    top: 60px;
                    bottom: 0;
                    left: 18px;
                    border-left: 1px dashed $clr-brown;
                }
            }
        }
        &.--end {
            &::after,
            &::before {
                content:  unset;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: normal;
            color: $clr-brown;
            padding: 15px 0;
            @include media-breakpoint-up(lg) {
                border: 1px dashed $clr-brown;
                height: 70px;
                @include media-breakpoint-up(xg) {
                    height: 110px;
                    padding: 40px 0;
                    font-size: 32px;
                }
            }
        }
        @include media-breakpoint-up(lg) {
            &:nth-child(3n+2).--end,
            &:nth-child(3n).--end  {
                margin-left: 50px;
                margin-top: 10px;
                border-right: none;
            }
            &:nth-child(3n+3) + div.--end {
                margin-left: 18px;
                border-top: none;
                border-right: none;
            }
        }
    }
}