.section-course-promo {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include background-image('header-backdrop.png');
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        opacity: .8;
    }
    .s_header__social {
        display: none;
    }
}

.s_c-promo {
    &__wrap {
        position: relative;
        z-index: 2;
    }
    &__content {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }
    &__breadcrumbs {
        margin-top: 25px;
    }
    &__title {
        position: relative;
        margin-top: 230px;
        padding: 30px 0px 30px 40px; 
        @include media-breakpoint-up(md) {
            max-width: 70%;
            padding: 40px 40px 40px 60px; 
            margin-top: 80px;
            margin-bottom: 50px;
        }
        @include media-breakpoint-up(xg) {
            margin-bottom: 110px;
            margin-top: 50px;
            padding: 80px 60px 80px 60px; 
        }
        &::before {
            content: '';
            background-color: $clr-brown;
            top: 0;
            right: 0;
            width: 1500px;
            bottom: 0;
            position: absolute;
            z-index: 1;
            @include media-breakpoint-down(sm) {
                right: -30%;
            }
         }
    }
    &--title {
        position: relative;
        @include font-family(two);
        color: $clr-white;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        z-index: 2;
        font-size: 24px;
        @include media-breakpoint-up(md) {
            font-size: 28px;
        }
        @include media-breakpoint-up(xg) {
            font-size: 38px;
        }
    }
    &--back {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 2;
        color: $clr-white;
        &:hover {
            color: $clr-black-light;
        }
    }
}