// Font
$font-base: 'Roboto Condensed', sans-serif;
$font-secondary: 'Cormorant', serif;

// Params
$path-images: '../img/';

// Colors
$clr-black: #000000;
$clr-black-light: #252425;
$clr-brown: #BB906A;
$clr-gray: #BBBBBB;
$clr-gray-dark: #535353;
$clr-gray-light: #DDDDDD;
$clr-white: #FFF;
$clr-border: rgba($clr-gray, .2);
// Container media

// z-index
$z-index-1: 100;
$z-index-2: 110;
$z-index-3: 120;
$z-index-4: 130;
$z-index-5: 140;
$z-index-8: 900;
$z-index-9: 1000;
$z-index-10: 1100;
$z-index-11: 1200;
