@import './dist-compile';
//

.sections-about-wrap  {
    @include background-image('promo-about-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@import './components/command-card';
@import './components/modal-page';
@import './pages/about/section-about-promo';
@import './pages/about/section-about-features';
@import './pages/about/section-about-halls';
@import './pages/about/section-about-command';