
@import './dev';

// Default
@import './bootstrap';
@import './variables-scss';
@import './etc/mixins';
@import './etc/clear';
@import './etc/test';


html {
    height: auto;
    min-height: 100%;
}
body {
    min-width: 320px;
    @include font-family();
    line-height: 1.5;
    font-size: 14px;
    height: auto;
    background-image: none;
    min-height: 100%;
    @include media-breakpoint-up(xg) {
        font-size: 16px;
    }
}

// Plugin
@import './components/icon-fonts';
@import './components/slick';



// Components


@import './components/button';
@import './components/navpanel';
@import './components/breadcrumbs';
@import './components/form';
@import './components/modal';
    @import './components/title-section';
    @import './components/poster-card';
    @import './components/news-card';


// Sections 
@import './sections/header';
@import './sections/footer';


// Etc
@import './etc/debugger';

._error {
    font-size: 0.6em;
}